@inject DataSource Data

<h5>Select the best song from the list or type your own</h5>
<FluentCombobox Id="combobox" Items="@Data.Hits" @bind-Value="@hit" />
<p>
    Selected hit: @hit
</p>

<h5>Pre-selected option</h5>
<FluentCombobox Items="@Data.Names" @bind-Value="@name" />
<p>
    Selected name: @name
</p>

<h5>With Placeholder</h5>
<FluentCombobox Placeholder="Please select a size" Items="@Data.Sizes" @bind-Value="@size" />
<p>
    Selected size: @size
</p>

@code {
    string? hit = "";
    string? name = "Nur Sari";
    string? size = "";
}