@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase
<fluent-tab @ref=Element
            class="@ClassValue"
            style="@StyleValue"
            id="@Id"
            disabled="@Disabled"
            aria-label="@Label"
            overflow=@Overflow
            @attributes="AdditionalAttributes">
    @if (Icon != null)
    {
        <FluentSystemIcon Value="@Icon" Width="20px" Class="fluent-tab-icon" />
    }
    @if (LabelEditable)
    {
        <span contenteditable="true" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" Title="Click to edit this tab name" style="padding: 3px 5px;">
            @Label
        </span>
    }
    else
    {
        @Label
    }
    
    @Header

    @if (Owner.ShowClose)
    {
        <FluentSystemIcon Icon="CoreIcons.Regular.Size24.Dismiss" Width="12px" Class="fluent-tab-close" Title="Close" OnClick="CloseClickedAsync" />
    }
</fluent-tab>
@ChildContent



