@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
@typeparam TGridItem

@if (CellType == DataGridCellType.Default)
{
    <td data-col-index=@GridColumn
        class="@ClassValue"
        style="@StyleValue"
        role="gridcell"
        @onkeydown="@HandleOnCellKeyDownAsync"
        @onclick="@HandleOnCellClickAsync"
        @attributes="AdditionalAttributes">
        @ChildContent
    </td>
}
else
{
    <th data-col-index=@GridColumn
        class="@ClassValue"
        style="@StyleValue"
        @oncontextmenu:preventDefault="true"
        @onkeydown="@HandleOnCellKeyDownAsync"
        @onclick="@HandleOnCellClickAsync"
        @attributes="AdditionalAttributes">
        @ChildContent
    </th>
}
