@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

@InlineStyleValue
<split-panels @attributes="AdditionalAttributes" 
              id="@Id" 
              class="@ClassValue" 
              style="@StyleValue" 
              direction="@_direction" 
              collapsed="@Collapsed" 
              @onsplittercollapsed="OnCollapsedHandler"
              @onsplitterresized="OnResizedHandler">
    <div slot="1">
        @Panel1
    </div>
    @if (!Collapsed)
    {
        <div slot="2">
            @Panel2
        </div>
    }
</split-panels>