@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@if (!string.IsNullOrEmpty(Panel1Size) || !string.IsNullOrEmpty(Panel2Size))
{
    
<style>
    #@Id {
        @if (!string.IsNullOrEmpty(Panel1Size))
        {
            @:--first-size: @Panel1Size;
        }
        @if (!string.IsNullOrEmpty(Panel2Size))
        {
            @:--second-size: @Panel2Size;
        }
    }
</style>
    
}

<split-panels @attributes="AdditionalAttributes" id="@Id" class="@ClassValue" style="@StyleValue" direction="@_direction" collapsed="@Collapsed">
    <div slot="1">
        @Panel1
    </div>
    @if (!Collapsed)
    {
        <div slot="2">
            @Panel2
        </div>
    }
</split-panels>