@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div @ref="@Element"
         id="@Id"
         class="@ClassValue"
         style="@StyleValue"
         orientation="@Orientation.ToAttributeValue()"
         @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>
