@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@InlineStyleValue
<split-panels @attributes="AdditionalAttributes" 
              id="@Id" 
              class="@ClassValue" 
              style="@StyleValue" 
              direction="@_direction" 
              collapsed="@Collapsed" 
              barsize="@BarSize"
              no-barhandle="@(!BarHandle)"
              slot1minsize="@Panel1MinSize"
              slot2minsize="@Panel2MinSize"
              @onsplittercollapsed="OnCollapsedHandler"
              @onsplitterresized="OnResizedHandler">
    <div slot="1">
        @Panel1
    </div>
    @if (!Collapsed)
    {
        <div slot="2">
            @Panel2
        </div>
    }
</split-panels>