@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentListBase<TOption, TValue>
@typeparam TOption
@typeparam TValue

<CascadingValue Value="GetCurrentContext()"
                Name="ListContext"
                TValue="InternalListContext<TValue>"
                IsFixed="true">
    <CascadingValue Value="(InternalListContext)GetCurrentContext()"
                    Name="ListContextBase"
                    TValue="InternalListContext"
                    IsFixed="true">

        <FluentTextInput Id="@Id"
                         Immediate="true"
                         ImmediateDelay="@ImmediateDelay"
                         auto-complete="true"
                         Width="@Width"
                         AutoComplete="false"
                         @onkeydown="@OnTextInputKeyDownAsync"
                         @onclick="@DisplayFilteredOptionsAsync"
                         @bind-Value="@_textInput"
                         @bind-Value:after="@DisplayFilteredOptionsAsync">
            @* Selected items *@
            <StartTemplate>
                @if (_internalSelectedItems is not null)
                {
                    <div style="display: flex;">
                        @foreach (var item in _internalSelectedItems)
                        {
                            <span class="fluent-badge"
                                  auto-complete="true">
                                @GetOptionText(item)
                                <FluentIcon Value="@BadgeCloseIcon"
                                            Focusable="true"
                                            OnClick="@(e => RemoveSelectedItemAsync(item))"
                                            OnClickStopPropagation="true"
                                            Width="12px" />
                            </span>
                        }
                    </div>
                }
            </StartTemplate>

            @* Waiting spinner *@
            <EndTemplate>
                @if (ShowProgressIndicator && _inProgress)
                {
                    <FluentSpinner Size="SpinnerSize.Tiny" />
                }
                else
                {
                    <FluentIcon Value="@SearchIcon" 
                                Focusable="true"
                                OnClick="@SwitchOptionsPopupAsync"
                                OnClickStopPropagation="true" />
                }
            </EndTemplate>
        </FluentTextInput>

        <FluentPopover AnchorId="@Id"
                       @bind-Opened="@_isOpen">

            @if (ShowProgressIndicator && _inProgress)
            {
                <FluentProgressBar Thickness="ProgressThickness.Large" />
            }

            <FluentListbox auto-complete="true"
                           TValue="TValue"
                           TOption="TOption"
                           Multiple="true"
                           OptionText="@OptionText"
                           OptionValue="@OptionValue"
                           Items="@_internalFilteredItems"
                           SelectedItems="@_internalSelectedItems"
                           SelectedItemsChanged="@InternalSelectedItemsChangedHandlerAsync" />
        </FluentPopover>

    </CascadingValue>
</CascadingValue>
