@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentListBase<TOption, TValue>
@typeparam TOption
@typeparam TValue

<CascadingValue Value="GetCurrentContext()"
                Name="ListContext"
                TValue="InternalListContext<TValue>"
                IsFixed="true">
    <CascadingValue Value="(InternalListContext)GetCurrentContext()"
                    Name="ListContextBase"
                    TValue="InternalListContext"
                    IsFixed="true">

        <FluentTextInput Id="@Id"
                         Class="@ClassValue"
                         Immediate="true"
                         ImmediateDelay="@ImmediateDelay"
                         Appearance="@InputAppearance"
                         Label="@Label"
                         LabelPosition="@LabelPosition"
                         AriaLabel="@AriaLabel"
                         Autofocus="@Autofocus"
                         Data="@Data"
                         Disabled="@Disabled"
                         ReadOnly="@ReadOnly"
                         LabelWidth="@LabelWidth"
                         LabelTemplate="@LabelTemplate"
                         Margin="@Margin"
                         Padding="@Padding"
                         Required="@Required"
                         Message="@Message"
                         MessageTemplate="@MessageTemplate"
                         MessageCondition="@MessageCondition"
                         MessageIcon="@MessageIcon"
                         MessageState="@MessageState"
                         Placeholder="@Placeholder"
                         Style="@StyleValue"
                         Name="@Name"
                         auto-complete="true"
                         dismiss="@(ShowDismiss ? null : "hidden")"
                         Width="@Width"
                         AutoComplete="false"
                         Tooltip="@Tooltip"
                         @attributes="AdditionalAttributes"
                         @onkeydown="@OnTextInputKeyDownAsync"
                         @onclick="@(e => DisplayFilteredOptionsAsync(showWhenInputIsEmpty: true))"
                         @bind-Value="@_textInput"
                         @bind-Value:after="@DisplayFilteredOptionsAsync">
            @* Selected items *@
            <StartTemplate>
                <div style="@($"{(string.IsNullOrEmpty(MaxAutoHeight) ? "" : $"max-height: {MaxAutoHeight};")}")">
                    @* Show selected items as badges with an "x" button to remove them. This is shown when the listbox is closed, when it's open the selected items are highlighted in the listbox and we don't show the badges in the input. *@
                    @if (_internalSelectedItems is not null)
                    {
                        @foreach (var item in _internalSelectedItems)
                        {
                            if (SelectedOptionTemplate is null)
                            {
                                <span class="fluent-badge"
                                      title="@GetOptionText(item)"
                                      auto-complete="true">
                                    <span>@GetOptionText(item)</span>
                                    <FluentIcon Value="@BadgeCloseIcon"
                                                Focusable="true"
                                                OnClick="@(e => RemoveSelectedItemAsync(item))"
                                                OnClickStopPropagation="true"
                                                Width="12px" />
                                </span>
                            }
                            else
                            {
                                @SelectedOptionTemplate(item)
                            }
                        }
                    }
                </div>
            </StartTemplate>

            @* Search, Dismiss, Waiting spinner *@
            <EndTemplate>
                @if (ShowDismiss)
                {
                    @if (ShowProgressIndicator && _inProgress)
                    {
                        <FluentSpinner Size="SpinnerSize.Tiny"
                                    @onfocus="@(e => _isOpen = false)" />
                    }
                    else
                    {
                        if (_internalSelectedItems.Any())
                        {
                            <FluentIcon Value="@IconDismiss" 
                                        Focusable="true"
                                        @onfocus="@(e => _isOpen = false)"
                                        OnClick="@ClearSelectionAsync"
                                        OnClickStopPropagation="true" />
                        }
                        else
                        {
                            <FluentIcon Value="@IconSearch" 
                                        Focusable="true"
                                        @onfocus="@(e => _isOpen = false)"
                                        OnClick="@SwitchOptionsPopupAsync"
                                        OnClickStopPropagation="true" />
                        }
                    }
                }
            </EndTemplate>
        </FluentTextInput>

        <FluentPopover AnchorId="@Id"
                       @bind-Opened="@_isOpen"
                       @bind-Opened:after="OnOptionsPopupClosedAsync">

            @if (ShowProgressIndicator)
            {
                <FluentProgressBar Thickness="ProgressThickness.Large" Visible="@_inProgress" />
            }

            <FluentListbox auto-complete="true"                           
                           TValue="TValue"
                           TOption="TOption"
                           Appearance="@Appearance"
                           Multiple="@Multiple"
                           OptionText="@OptionText"
                           OptionValue="@OptionValue"
                           OptionDisabled="@OptionDisabled"
                           OptionTemplate="@OptionTemplate"
                           OptionValueToString="@OptionValueToString"
                           OptionSelectedComparer="@OptionSelectedComparer"
                           Height="@Height"
                           Items="@_internalFilteredItems"
                           SelectedItems="@_internalSelectedItems"
                           SelectedItemsChanged="@InternalSelectedItemsChangedHandlerAsync" />
        </FluentPopover>

    </CascadingValue>
</CascadingValue>
