@namespace Microsoft.FluentUI.AspNetCore.Components

@typeparam TOption
<fluent-option 
        disabled="@Disabled"
        value="@Value"
        selected="@Selected"
        @onclick="@OnSelectHandlerAsync">
    @ChildContent
    @if (!string.IsNullOrWhiteSpace(Description))
    {
        <span slot="description">@Description</span>
    }
</fluent-option>
