@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
@typeparam TValue

<fluent-option id="@Id"
               class="@DefaultClassBuilder.Build()"
               style="@DefaultStyleBuilder.Build()"
               disabled="@Disabled"
               name="@Name"
               text="@Text"
               value="@ValueFormatted"
               selected="@Selected"
               @attributes="@AdditionalAttributes">
    @ChildContent
    @if (!string.IsNullOrWhiteSpace(Description))
    {
        <span slot="@FluentSlot.Description">@Description</span>
    }
</fluent-option>
