@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@* This file must be updated when the `fluent-select` web-component will be available  *@

<option id="@Id"
        class="@Class"
        style="@Style"
        disabled="@Disabled"
        value="@Value"
        selected="@Selected"
        aria-selected="@(Selected ? "true" : "false")"
        @onclick="@OnSelectHandlerAsync"
        @attributes="@AdditionalAttributes">
    @ChildContent
</option>
