@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentListBase<TOption, TValue>
@typeparam TOption
@typeparam TValue

<CascadingValue Value="GetCurrentContext()"
                Name="ListContext"
                TValue="InternalListContext<TValue>"
                IsFixed="true">
    <CascadingValue Value="(InternalListContext)GetCurrentContext()"
                    Name="ListContextBase"
                    TValue="InternalListContext"
                    IsFixed="true">

        <FluentTextInput Id="@Id"
                         Class="@ClassValue"
                         Immediate="true"
                         ImmediateDelay="@ImmediateDelay"
                         Appearance="@InputAppearance"
                         Label="@Label"
                         LabelPosition="@LabelPosition"
                         AriaLabel="@AriaLabel"
                         Autofocus="@Autofocus"
                         Data="@Data"
                         Disabled="@Disabled"
                         ReadOnly="@ReadOnly"
                         LabelWidth="@LabelWidth"
                         LabelTemplate="@LabelTemplate"
                         Margin="@Margin"
                         Padding="@Padding"
                         Required="@Required"
                         Message="@Message"
                         MessageTemplate="@MessageTemplate"
                         MessageCondition="@MessageCondition"
                         MessageIcon="@MessageIcon"
                         MessageState="@MessageState"
                         Placeholder="@Placeholder"
                         Style="@StyleValue"
                         Name="@Name"
                         auto-complete="true"
                         dismiss="@(ShowDismiss ? null : "hidden")"
                         Width="@Width"
                         AutoComplete="false"
                         Tooltip="@Tooltip"
                         @attributes="AdditionalAttributes"
                         @onkeydown="@OnTextInputKeyDownAsync"
                         @onclick="@(e => DisplayFilteredOptionsAsync(showWhenInputIsEmpty: true))"
                         @bind-Value="@_textInput"
                         @bind-Value:after="@DisplayFilteredOptionsAsync">
            @* Selected items *@
            <StartTemplate>
                @if (Multiple)
                {
                    <div style="@($"{(string.IsNullOrEmpty(MaxAutoHeight) ? "" : $"max-height: {MaxAutoHeight};")}")">
                        @* Show selected items as badges with an "x" button to remove them. 
                           This is shown when the listbox is closed, when it's open the selected items are highlighted 
                           in the listbox and we don't show the badges in the input. *@
                        @if (_internalSelectedItems is not null)
                        {
                            @foreach (var item in _internalSelectedItems)
                            {
                                if (SelectedOptionTemplate is null)
                                {
                                    <span class="fluent-badge"
                                          title="@GetOptionText(item)"
                                          auto-complete="true">
                                        <span>@GetOptionText(item)</span>
                                        <FluentIcon Value="@BadgeCloseIcon"
                                                    Focusable="true"
                                                    OnClick="@(e => RemoveSelectedItemAsync(item))"
                                                    OnClickStopPropagation="true"
                                                    Width="12px" />
                                    </span>
                                }
                                else
                                {
                                    @SelectedOptionTemplate(item)
                                }
                            }
                        }
                    </div>
                }
                else
                {
                    @if (_internalSelectedItem is not null)
                    {
                        <div tabindex="0" role="button" aria-haspopup="listbox" aria-expanded="@_isOpen" style="cursor: pointer; width: 100%;">
                            @if (SelectedOptionTemplate is null)
                            {
                                <span class="fluent-badge"
                                      title="@GetOptionText(_internalSelectedItem)"
                                      auto-complete="true"
                                      alone="true">
                                    <span>@GetOptionText(_internalSelectedItem)</span>
                                </span>
                            }
                            else
                            {
                                @SelectedOptionTemplate(_internalSelectedItem)
                            }
                        </div>
                    }
                }
            </StartTemplate>

            @* Search, Dismiss, Waiting spinner *@
            <EndTemplate>
                @if (ShowDismiss)
                {
                    @if (ShowProgressIndicator && _inProgress)
                    {
                        <FluentSpinner Size="SpinnerSize.Tiny"
                                    @onfocus="@(e => _isOpen = false)" />
                    }
                    else
                    {
                        if (_internalSelectedItems.Any())
                        {
                            <FluentIcon Value="@IconDismiss" 
                                        Focusable="true"
                                        @onfocus="@(e => _isOpen = false)"
                                        OnClick="@ClearSelectionAsync"
                                        OnClickStopPropagation="true" />
                        }
                        else
                        {
                            <FluentIcon Value="@IconSearch" 
                                        Focusable="true"
                                        @onfocus="@(e => _isOpen = false)"
                                        OnClick="@SwitchOptionsPopupAsync"
                                        OnClickStopPropagation="true" />
                        }
                    }
                }
            </EndTemplate>
        </FluentTextInput>

        <FluentPopover AnchorId="@Id"
                       @bind-Opened="@_isOpen"
                       @bind-Opened:after="OnOptionsPopupClosedAsync">

            @if (IsReachedMaxItems)
            {
                @if (MaximumSelectedOptionsMessage is null)
                {
                    <FluentText Size="TextSize.Size200" Align="TextAlign.Center" Color="Color.Error" Style="display: block; margin: 12px;">
                        @Localizer[Localization.LanguageResource.AutoComplete_MaximumSelectedOptionsMessage, MaximumSelectedOptions ?? 0]
                    </FluentText>
                }
                else
                {
                    @MaximumSelectedOptionsMessage
                }                
            }
            else
            {
                <FluentStack Orientation="Orientation.Vertical">
                    @if (HeaderContent is null && ShowProgressIndicator)
                    {
                        <FluentProgressBar Thickness="ProgressThickness.Large" Visible="@_inProgress" />
                    }

                    @if (HeaderContent != null)
                    {
                        @HeaderContent(new AutocompleteHeaderFooterContent<TOption>(_internalFilteredItems, _inProgress))
                    }

                    @if (_internalFilteredItems.Count > 0 && !IsReachedMaxItems)
                    {
                        @* The listbox is always in multiple selection mode, because the Listbox with Multiple=false does not support the items changes correctly *@
                        <FluentListbox auto-complete="true"                           
                                    TValue="TValue"
                                    TOption="TOption"
                                    Appearance="@Appearance"
                                    Multiple="true"
                                    OptionText="@OptionText"
                                    OptionValue="@OptionValue"
                                    OptionDisabled="@OptionDisabled"
                                    OptionTemplate="@OptionTemplate"
                                    OptionValueToString="@OptionValueToString"
                                    OptionSelectedComparer="@OptionSelectedComparer"
                                    Height="@Height"
                                    Items="@_internalFilteredItems"
                                    SelectedItems="@_internalSelectedItems"
                                    SelectedItemsChanged="@InternalSelectedItemsChangedHandlerAsync" />
                    }

                    @if (FooterContent != null)
                    {
                        @FooterContent(new AutocompleteHeaderFooterContent<TOption>(_internalFilteredItems, _inProgress))
                    }

                </FluentStack>
            }
        </FluentPopover>

    </CascadingValue>
</CascadingValue>
