<FluentStack Orientation="Orientation.Vertical" VerticalGap="12px"
             Padding="@Padding.All4"
             Style="@($"background: {SystemColors.Neutral.Background2};")">
    <div style="@CommonStyles.NeutralBorder1" class="@Padding.All2">
        This is a div with a neutral border.
    </div>

    <div style="@CommonStyles.BrandBackground" class="@Padding.All2">
        This is branded div.
    </div>

    <div style="@CommonStyles.NeutralBackground" class="@Padding.All2">
        This is neutral div.
    </div>

    <div style="@CommonStyles.NeutralBorderShadow4" class="@Padding.All2">
        This is a card with a shadow border.
    </div>
</FluentStack>
