@using Microsoft.FluentUI.AspNetCore.Components.Extensions
<FluentMenuList>
    <FluentMenuItem IconStart="@(new Icons.Regular.Size16.Cut())" IconSubmenu="@(new Icons.Regular.Size16.ArrowRight())">
        <ChildContent>
            Submenu 1
            <span slot="end">Ctrl+S</span>
        </ChildContent>
        <MenuItems>
            <FluentMenuItem>Subitem 1</FluentMenuItem>
            <FluentMenuItem>Subitem 2</FluentMenuItem>
        </MenuItems>
    </FluentMenuItem>

    <FluentDivider></FluentDivider>

    <FluentMenuItem Role="MenuItemRole.Checkbox"
                    IconIndicator="@(new Icons.Color.Size16.CheckmarkCircle())"
                    IconStart="@(new Icons.Regular.Size16.Pen())">
        Checkbox 1
    </FluentMenuItem>

    <FluentMenuItem Role="MenuItemRole.Checkbox"
                    IconIndicator="@(new Icons.Regular.Size16.ThumbLike())"
                    IconStart="@(new Icons.Regular.Size16.Pen())">
        Checkbox 2
    </FluentMenuItem>
</FluentMenuList>
