<h4>Stroke and Color</h4>

<FluentSelect Label="Width" Items="@(new [] { Microsoft.FluentUI.AspNetCore.Components.ProgressStroke.Small, Microsoft.FluentUI.AspNetCore.Components.ProgressStroke.Normal, Microsoft.FluentUI.AspNetCore.Components.ProgressStroke.Large })" @bind-SelectedOption="@Stroke" Width="100px" />
<FluentCheckbox Label="Indeterminate" @bind-Value="@Indeterminate" />
<FluentSelect Label="Color" Items="@(Enum.GetValues<OfficeColor>())" @bind-SelectedOption="@Color" Width="120px" Height="200px" />
<FluentSlider Min="0" Max="100" Step="5" @bind-Value="@Percentage" Style="max-width: 200px; margin: 20px 0px;" Disabled="@Indeterminate" />

<FluentStack Style="margin: 30px;">
    <FluentLabel Style="width: 20px;">@Percentage</FluentLabel>

    <FluentProgress Min="0" Max="100" Value="@(Indeterminate ? null : Percentage)"
                    Width="200px"
                    Stroke="@Stroke"
                    Color="@(Color.ToAttributeValue())" />
</FluentStack>

@code
{
    ProgressStroke Stroke = Microsoft.FluentUI.AspNetCore.Components.ProgressStroke.Normal;
    int Percentage = 30;
    bool Indeterminate = false;
    OfficeColor Color = OfficeColor.Default;
}
