<FluentAutocomplete @ref="_searchAutocomplete"
                    TOption="NavItem"
                    Width="250px"
                    AutoComplete="off"
                    Placeholder="Type / to search..."
                    MaximumSelectedOptions="1"
                    OptionText="@(item => item.Title)"
                    @bind-ValueText="@_searchTerm"
                    @bind-SelectedOptions="_selectedOptions"
                    @bind-SelectedOptions:after="HandleSearchClicked"
                    OnOptionsSearch="@HandleSearchInput"
                    ShowOverlayOnEmptyResults="false">
    <OptionTemplate>
        <span slot="start">
            <FluentIcon Value="@(context.Icon)" Class="search-result-icon" Color="Color.Neutral" Slot="start"/>
        </span>
        @context.Title
    </OptionTemplate>
</FluentAutocomplete>
