<FluentAutocomplete @ref="_searchAutocomplete"
                    TOption="NavItem"
                    Multiple="false"
                    Width="250px"
                    AutoComplete="off"
                    Placeholder="Type / to search..."
                    OptionText="@(item => item.Title)"
                    @bind-ValueText="@_searchTerm"
                    @bind-SelectedOption="_selectedOption"
                    @bind-SelectedOption:after="HandleSearchClicked"
                    OnOptionsSearch="@HandleSearchInput"
                    ShowOverlayOnEmptyResults="false">
    <OptionTemplate>
        <span slot="start">
            <FluentIcon Value="@(context.Icon)" Class="search-result-icon" Color="Color.Neutral" Slot="start"/>
        </span>
        @((MarkupString)@context.Title)
    </OptionTemplate>
</FluentAutocomplete>
