<div class="multiple-examples-container">
    <div>
        <h4>Vertical (Default)</h4>
        <FluentCard Orientation="Orientation.Vertical"
                    Width="@CardWidth">
            <FluentCardHeader>
                <Image>@VerticalCardImage</Image>
                <Header>@Header</Header>
                <Description>@Description</Description>
            </FluentCardHeader>
            <p style="margin: 0;">Donut chocolate bar oat cake. Dragée tiramisu lollipop bear claw. Marshmallow pastry jujubes toffee sugar plum.</p>
        </FluentCard>
    </div>

    <div>
        <h4>Horizontal</h4>
        <FluentCard Orientation="Orientation.Horizontal"
                    Width="@CardWidth">
            <FluentCardPreview>
                @HorizontalCardImage
            </FluentCardPreview>
            <FluentCardHeader>
                <Header>@Header</Header>
                <Description>@Description</Description>
            </FluentCardHeader>
        </FluentCard>
    </div>
</div>
@code
{
    private const string CardWidth = "360px";

    static readonly RenderFragment Header = __builder =>
    {
        <span class="card-header">App Name</span>
    };
    static readonly RenderFragment Description = __builder =>
    {
        <span class="card-description">Developer</span>
    };

    static readonly RenderFragment VerticalCardImage = __builder =>
    {
        <img style="height: 44px; width: 44px; border-radius: 4px;" src="https://raw.githubusercontent.com/microsoft/fluentui/master/packages/react-components/react-card/stories/assets/app_logo.svg" alt="App name logo" />
    };

    static readonly RenderFragment HorizontalCardImage = __builder =>
    {
        <img style="height: 64px; width: 64px;" src="https://raw.githubusercontent.com/microsoft/fluentui/master/packages/react-components/react-card/stories/assets/app_logo.svg" alt="App name logo" />
    };
}
