@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
<fluent-accordion-item @ref=Element
                       id="@Id"
                       class="@Class"
                       style="@Style"
                       heading-level=@HeadingLevel
                       expanded="@Expanded"
                       @onaccordionchange="HandleOnAccordionItemChangedAsync"
                       @attributes="AdditionalAttributes">
    @if (Heading is not null)
    {
        <span slot="heading">@Heading</span>
    }
    else
    {
        <div slot="heading">
            @HeadingTemplate
        </div>
    }
    @ChildContent
</fluent-accordion-item>
