@using static FluentUI.Demo.SampleData.Olympics2024

<div>Selected: <b>@string.Join("; ", SelectedCountries.Select(c => c.Name))</b></div>
<div>Search Text: <b>@SearchText</b></div>

<FluentAutocomplete TOption="Country"
                    TValue="string"
                    Width="100%"
                    ShowProgressIndicator="@ShowProgressIndicator"                    
                    MaxAutoHeight="@((MaxAutoHeight) ? "150px" : null)"
                    OnOptionsSearch="@OnSearchAsync"
                    OptionText="@(item => item.Name)"
                    MaxSelectedWidth="@(MaxSelectedWidth ? "40px" : null)"
                    @bind-Value="@SearchText"
                    @bind-SelectedItems="@SelectedCountries" />

<FluentStack Orientation="Orientation.Vertical">
    <FluentSwitch @bind-Value="@ShowProgressIndicator" Label="Show progress indicator" />
    <FluentSwitch @bind-Value="@MaxAutoHeight" Label="Auto height" />
    <FluentSwitch @bind-Value="@MaxSelectedWidth" Label="Set a max selected width (40px)" />
</FluentStack>

@code
{
    bool ShowProgressIndicator { get; set; }
    bool MaxAutoHeight { get; set; }
    bool MaxSelectedWidth { get; set; }
    string? SearchText { get; set; }
    IEnumerable<Country> SelectedCountries { get; set; } = [];

    async Task OnSearchAsync(OptionsSearchEventArgs<Country> e)
    {
        if (ShowProgressIndicator)
        {
            await Task.Delay(500); // Simulate async search
        }

        e.Items = Countries.Where(i => i.Name.StartsWith(e.Text, StringComparison.OrdinalIgnoreCase))
                           .OrderBy(i => i.Name);
    }
}
