@inject IJSRuntime JSRuntime
<h3>Theme Designer</h3>

<FluentStack Orientation="Orientation.Horizontal" HorizontalGap="16px">
    <FluentStack Orientation="Orientation.Vertical" Width="255px" Style="background-color: var(--colorNeutralBackground3);" Padding="10px 10px 20px 10px">
        <FluentTextInput Label="Color"
                         Width="100%"
                         @bind-Value="@_color"
                         @bind-Value:after="@PreviewThemeAsync"
                         TextInputType="TextInputType.Color"
                         MessageCondition="@FluentFieldCondition.Always"
                         MessageIcon="@(new Icons.Regular.Size24.PaintBrushSparkle())"
                         Message="@($"Selected color (hex): {_color}")" />
        <FluentTextInput Label="Hue Torsion"
                         Width="100%"
                         @bind-Value="@_hue"
                         @bind-Value:after="@PreviewThemeAsync"
                         TextInputType="TextInputType.Number"
                         Message="Between -50 and 50"
                         MessageIcon="@FluentStatus.InfoIcon"
                         MessageCondition="@FluentFieldCondition.Always" />
        <FluentTextInput Label="Vibrancy"
                         Width="100%"
                         @bind-Value="@_vibrancy"
                         @bind-Value:after="@PreviewThemeAsync"
                         TextInputType="TextInputType.Number"
                         Message="Between -50 and 50"
                         MessageIcon="@FluentStatus.InfoIcon"
                         MessageCondition="@FluentFieldCondition.Always" />
        <FluentSwitch Label="Dark"
                      @bind-Value="@_isDark"
                      @bind-Value:after="@PreviewThemeAsync" />
        <FluentSwitch Label="Use exact color"
                      @bind-Value="@_isExact"
                      @bind-Value:after="@PreviewThemeAsync" />
        <FluentButton Appearance="ButtonAppearance.Primary" OnClick="@PreviewThemeAsync">
            Preview Theme
        </FluentButton>
    </FluentStack>


    <div id="theme-preview" @ref="_themePreviewElement">
        <FluentStack Orientation="Orientation.Vertical" VerticalGap="10">
            <div>
                <FluentText Typo="Typography.H5">Generated palette</FluentText>
                <PaletteBar Palette="@_palette" />
            </div>

            <h3>Examples</h3>

            <FluentGrid Style="gap: 16px;">
                <FluentGridItem Xs="12" Sm="3">
                    <FluentCard>
                        <h4>Buttons</h4>
                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="8px" VerticalGap="8px" Wrap="true">
                            <FluentButton Appearance="ButtonAppearance.Primary">Primary</FluentButton>
                            <FluentButton Appearance="ButtonAppearance.Outline">Outline</FluentButton>
                            <FluentButton>Default</FluentButton>
                            <FluentButton Disabled="true">Disabled</FluentButton>
                        </FluentStack>
                    </FluentCard>
                </FluentGridItem>

                <FluentGridItem Xs="12" Sm="4">
                    <FluentCard>
                        <h4>Inputs</h4>
                        <FluentStack Orientation="Orientation.Vertical">
                            <FluentTextInput Label="Text" Placeholder="Type here" AutoComplete="off" />
                            <FluentTextInput Label="Number" Value="42" TextInputType="TextInputType.Number" AutoComplete="off" />
                            <FluentCheckbox Value="true" Label="Option 1" />
                            <FluentCheckbox Value="false" Label="Option 2" />
                            <FluentRadioGroup Label="Radio group" @bind-Value="_fruit">
                                <FluentRadio Label="Apple" />
                                <FluentRadio Label="Banana" />
                            </FluentRadioGroup>

                            <FluentSwitch @bind-Value="_switched" Label="Switch" />
                        </FluentStack>
                    </FluentCard>
                </FluentGridItem>

                <FluentGridItem Xs="12" Sm="4">
                    <FluentCard>
                        <h4>Status</h4>
                        <FluentStack Orientation="Orientation.Vertical">
                            <FluentCard>
                                <FluentText As="TextTag.Paragraph">Neutral surface</FluentText>
                                <FluentText As="TextTag.Paragraph">Foreground and background tokens</FluentText>
                            </FluentCard>
                            <FluentCard Style="background: var(--colorBrandBackground); color: var(--colorNeutralForegroundOnBrand);">
                                <FluentText As="TextTag.Paragraph">Brand surface</FluentText>
                                <FluentText As="TextTag.Paragraph">Uses brand background tokens</FluentText>
                            </FluentCard>
                        </FluentStack>
                    </FluentCard>
                </FluentGridItem>

                <FluentGridItem Xs="12" Sm="4">
                    <FluentCard>
                        <h4>Progress</h4>


                        <FluentSlider @bind-Value="_slider" Min="0" Max="100" Step="5" Style="width: 90%;" />

                    </FluentCard>
                </FluentGridItem>

            </FluentGrid>
        </FluentStack>
    </div>
</FluentStack>

