@page "/ButtonPage"

<h1>Button</h1>

<p>As defined by the <a href="https://w3c.github.io/aria-practices/#button" target="_blank" rel="noopener noreferrer">W3C</a>:</p>
<blockquote><p>A button is a widget that enables users to trigger an action or event, such as submitting a form, opening a dialog, canceling an action, or performing a delete operation.</p></blockquote>
<p><code>FluentButton</code> wraps <code>fast-button</code>, a web component implementation of an <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button" target="_blank" rel="noopener noreferrer">HTML button element</a>. <code>FluentButton</code> supports several visual appearances (accent, lightweight, neutral, outline, stealth).</p>

<ApiDocumentation Component="typeof(FluentButton)" />

<h4>Default</h4>
<FluentButton>Button</FluentButton>
<h5>disabled</h5>
<FluentButton Disabled="true">Button</FluentButton>
<h5>autofocus</h5>
<FluentButton Autofocus="true">Button</FluentButton>

<h4>Neutral</h4>
<FluentButton Appearance="Appearance.Neutral">Button</FluentButton>
<h5>disabled</h5>
<FluentButton Appearance="Appearance.Neutral" Disabled="true">Button</FluentButton>

<h4>Accent</h4>
<FluentButton Appearance="Appearance.Accent">Button</FluentButton>
<h5>disabled</h5>
<FluentButton Appearance="Appearance.Accent" Disabled="true">Button</FluentButton>

<h4>Lightweight</h4>
<FluentButton Appearance="Appearance.Lightweight">Button</FluentButton>
<h5>disabled</h5>
<FluentButton Appearance="Appearance.Lightweight" Disabled="true">Button</FluentButton>

<h4>Outline</h4>
<FluentButton Appearance="Appearance.Outline">Button</FluentButton>
<h5>disabled</h5>
<FluentButton Appearance="Appearance.Outline" Disabled="true">Button</FluentButton>

<h4>Stealth</h4>
<FluentButton Appearance="Appearance.Stealth">Button</FluentButton>
<h5>disabled</h5>
<FluentButton Appearance="Appearance.Stealth" Disabled="true">Button</FluentButton>

<h3>With content and icon</h3>
<h4>With start</h4>
<FluentButton>
    Button
   <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false />
</FluentButton>

<h4>With end</h4>
<FluentButton>
    <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false />
    Button
</FluentButton>

<h4>Icon in default slot</h4>
<FluentButton>
    <FluentIcon Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false />
</FluentButton>

<h4>With aria-label</h4>
<FluentButton aria-label="Button with aria-label">Button</FluentButton>
