<div style="display: flex; gap: 12px; margin-bottom: 12px;">
    <FluentTextInput Label="Margin" Placeholder="Margin" @bind-Value="@Margin" Immediate />
    <FluentTextInput Label="Padding" Placeholder="Padding" @bind-Value="@Padding" Immediate />
</div>

<div style="border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);">
    <div style="display: flex;">
        <div style="width: 50%; align-content: center;">
            <FluentButton id="SampleButton" Margin="@Margin" Padding="@Padding" Appearance="ButtonAppearance.Primary">Button</FluentButton>
        </div>
        <div style="width: 50%; align-content: center;">
            <SpacingComputedBoxes Margin="@Margin" Padding="@Padding" />
        </div>
    </div>
</div>

@code
{
    string Margin = "ma-8";
    string Padding = "24px 36px";
}
