@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentNavItem

@if (!string.IsNullOrEmpty(Href))
{
	<NavLink fuib
			 id="@Id"
			 class="@ClassValue"
			 style="@StyleValue"
			 href="@Href"
			 density="@Owner.Density.ToAttributeValue()"
			 title="@Tooltip"
			 target="@Target"
			 rel="@(!string.IsNullOrWhiteSpace(Target) ? "noopener noreferrer" : string.Empty)"
			 ActiveClass="@ActiveClass"
             Match="@Match"
			 @attributes="AdditionalAttributes">
		@ChildContent
	</NavLink>
}
else
{
	<button fuib
			 id="@Id"
			 class="@ClassValue"
			 style="@StyleValue"
			 href="@Href"
			 density="@Owner.Density.ToAttributeValue()"
			 title="@Tooltip"
			 target="@Target"
			 rel="@(!string.IsNullOrWhiteSpace(Target) ? "noopener noreferrer" : string.Empty)"
			@onclick="OnClickHandlerAsync"
			@attributes="AdditionalAttributes">
		@ChildContent
	</button>
}
