@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div id="@Id"
         role="navigation"
         class="@ClassValue"
         style="@StyleValue"
         density="@Density.ToAttributeValue()"
         @attributes="@AdditionalAttributes">
        @if (!string.IsNullOrEmpty(AppTitle))
        {
            <a href="@AppLink" class="appitem">
                @if (AppIcon is not null)
                {
                    <FluentIcon Value="AppIcon" />
                }
                @AppTitle
            </a>
        }
        @ChildContent
    </div>
</CascadingValue>
