@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

@if (!string.IsNullOrEmpty(Href))
{
	<NavLink fuib
			 id="@Id"
			 class="@ClassValue"
			 style="@StyleValue"
			 href="@Href"
			 density="@Owner.Density.ToAttributeValue()"
			 title="@Tooltip"
			 target="@Target"
			 rel="@(!string.IsNullOrWhiteSpace(Target) ? "noopener noreferrer" : string.Empty)"
			 ActiveClass="@ActiveClass"
			 Match="@Match"
			 @attributes="@AdditionalAttributes">
		@if (Owner.UseIcons)
		{
			@if (Icon is not null)
			{
				<FluentIcon Value="GetIcon(Icon)" Class="icon" Color="@(_isActive? Color.Primary: Color.Default)" />
			}
			else
			{
				<span style="width: 20px;"></span>
			}

		}
		@ChildContent
	</NavLink>
}
else
{
	<button fuib
			id="@Id"
			class="@ClassValue"
			style="@StyleValue"
			href="@Href"
			density="@Owner.Density.ToAttributeValue()"
			title="@Tooltip"
			target="@Target"
			rel="@(!string.IsNullOrWhiteSpace(Target) ? "noopener noreferrer" : string.Empty)"
			@onclick="OnClickHandlerAsync"
			@attributes="@AdditionalAttributes">
		@if (Owner.UseIcons)
		{
			@if (Icon is not null)
			{
				<FluentIcon Value="GetIcon(Icon)" Class="icon" Color="@(_isActive? Color.Primary: Color.Default)" />
			}
			else
			{
				<span style="width: 20px;"></span>
			}

		}
		@ChildContent
	</button>
}
