@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

@if (!string.IsNullOrEmpty(Href))
{
	<NavLink fuib
			 id="@Id"
			 class="@ClassValue"
			 ActiveClass="@ActiveClass"
             Match="@Match"
			 @attributes="Attributes">
		@if (Owner.UseIcons)
		{
			@if (Icon is not null)
			{
				<FluentIcon Value="GetIcon(Icon)" Class="icon" Color="@(_isActive? Color.Primary: Color.Default)" />
			}
			else
			{
				<span style="width: 20px;"></span>
			}

		}
		@ChildContent
	</NavLink>
}
else
{
	<button fuib
			@onclick="OnClickHandlerAsync"
			class="@ClassValue"
			@attributes="Attributes">
		@if (Owner.UseIcons)
		{
			@if (Icon is not null)
			{
				<FluentIcon Value="GetIcon(Icon)" Class="icon" Color="@(_isActive? Color.Primary: Color.Default)" />
			}
			else
			{
				<span style="width: 20px;"></span>
			}

		}
		@ChildContent
	</button>
}
