@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

<CascadingValue IsFixed Value="this">
    <div class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes">
        <div id="@Id" class="fluent-grid" style="@($"justify-content: {Justify.ToAttributeValue()};")" spacing="@Spacing">
            @ChildContent
        </div>
    </div>
</CascadingValue>
