@using System.Globalization
<FluentStack HorizontalGap="20px">
    <FluentNumber TValue="int"
                  Culture="@SelectedCulture"
                  Min="0"
                  Max="9999"
                  Step="2"
                  Label="Integer"
                  Placeholder="Number"
                  @bind-Value="@ValueInt" />

    <FluentNumber TValue="double"
                  Culture="@SelectedCulture"
                  Label="Decimal"
                  Placeholder="Number"
                  Step="0.1"
                  @bind-Value="@ValueDouble" />
</FluentStack>

<div style="width: 100%;">
    <FluentSelect Label="Select Culture"
                  Items="@AllCultures"
                  OptionText="@(item => $"{item.DisplayName} [{item.Name}]")"
                  @bind-Value="@SelectedCulture" />
</div>

<FluentText>
    CurrentCulture = @SelectedCulture.Name (NumberDecimalDigits = @SelectedCulture.NumberFormat.NumberDecimalDigits; NumberDecimalSeparator = '@SelectedCulture.NumberFormat.NumberDecimalSeparator'; NumberGroupSeparator = '@SelectedCulture.NumberFormat.NumberGroupSeparator')
</FluentText>
<FluentText>ValueInt = @ValueInt</FluentText>
<FluentText>ValueDouble = @ValueDouble</FluentText>

@code
{
    private CultureInfo[] AllCultures = CultureInfo.GetCultures(CultureTypes.AllCultures)
                                                   .Where(i => i.IsNeutralCulture)
                                                   .OrderBy(i => i.DisplayName)
                                                   .ToArray();
    private CultureInfo SelectedCulture = new CultureInfo("fr");

    int ValueInt = 0;
    double ValueDouble = 0.0;
}
