@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div id="@Id"
     class="@ClassValue"
     style="@StyleValue"
     @attributes="AdditionalAttributes">
    @if (ToastService != null)
    {
        @foreach (var toast in ToastService.Items.Values.OrderByDescending(i => i.Index))
        {
            <FluentToast @key="toast.Id"
                         Id="@toast.Id"
                         Class="@toast.Options.ClassValue"
                         Style="@toast.Options.StyleValue"
                         Data="@toast.Options.Data"
                         Timeout="@toast.Options.Timeout"
                         Position="@toast.Options.Position"
                         VerticalOffset="@toast.Options.VerticalOffset"
                         HorizontalOffset="@toast.Options.HorizontalOffset"
                         Intent="@toast.Options.Intent"
                         Politeness="@toast.Options.Politeness"
                         PauseOnHover="@toast.Options.PauseOnHover"
                         PauseOnWindowBlur="@toast.Options.PauseOnWindowBlur"
                         Instance="@toast"
                         OnStateChange="@GetOnStateChangeCallback(toast)"
                         AdditionalAttributes="@toast.Options.AdditionalAttributes"
                         Title="@toast.Options.Title"
                         Body="@toast.Options.Body"
                         Subtitle="@toast.Options.Subtitle"
                         Status="@toast.Options.Status"
                         QuickAction1="@toast.Options.QuickAction1"
                         QuickAction2="@toast.Options.QuickAction2"
                         ShowDismissButton="@toast.Options.ShowDismissButton"
                         ShowProgress="@toast.Options.ShowProgress"
                         Indeterminate="@toast.Options.Indeterminate"
                         Value="@toast.Options.Value"
                         Max="@toast.Options.Max"
                         Media="@toast.Options.Media"
                         TitleContent="@toast.Options.TitleContent"
                         SubtitleContent="@toast.Options.SubtitleContent"
                         FooterContent="@toast.Options.FooterContent"
                         ChildContent="@toast.Options.ChildContent" />
        }
    }
</div>
