@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
@{
#pragma warning disable IL2111
}

<div id="@Id"
     class="@ClassValue"
     style="@StyleValue"
     @attributes="AdditionalAttributes">
    @if (ToastService != null)
    {
        @foreach (var toast in ToastService.Items.Values.OrderBy(i => i.Index))
        {
            <DynamicComponent Type="@GetToastType(toast)"
                              Parameters="@GetToastParameters(toast)" />
        }
    }
</div>
@{
#pragma warning restore IL2111
}
