@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase
@{
#pragma warning disable IL2111
}

<fluent-toast-b id="@Id"
     class="@ClassValue"
     style="@StyleValue"
                opened="@(Opened ? "true" : "false")"
                timeout="@Timeout"
                position="@Position.ToAttributeValue()"
                intent="@Intent.ToAttributeValue()"
                vertical-offset="@VerticalOffset"
                horizontal-offset="@HorizontalOffset"
                role="listitem"
                aria-labelledby="@($"{Id}-title")"
                aria-describedby="@($"{Id}-body")"
                @attributes="@AdditionalAttributes"
                @ondialogtoggle="@OnToggleAsync">
    <CascadingValue Value="@Intent" IsFixed="true">
        @ChildContent
     @ondialogbeforetoggle="@OnToggleAsync"
     @ondialogtoggle="@OnToggleAsync"
     @attributes="AdditionalAttributes">
    @if (Instance is not null)
    {
        <CascadingValue Value="Instance">
            <DynamicComponent Type="@Instance.ComponentType"
                              Parameters="Instance.Options.Parameters" />
        </CascadingValue>
    }
    else
    {
        @ChildContent
    }
</div>
