@namespace Microsoft.FluentUI.AspNetCore.Components

<div class="fluent-toast-layout">
    <div class="fluent-toast-media">
        @if (Owner.Indeterminate)
        {
            <FluentSpinner Visible="true" Size="@SpinnerSize.Tiny" />
        }
        else
        {
            <FluentProgressBar Width="32px" Value="@Owner.Value" Max="@Owner.Max" />
        }
    </div>
    <div class="fluent-toast-title">
        <div id="@($"{Owner.Instance!.Id}-title")">@Owner.Title</div>
    </div>
    @if (Owner.ShowDismissButton)
    {
        <div class="fluent-toast-title-action">
            <FluentButton Appearance="@ButtonAppearance.Subtle"
                          IconOnly="true"
                          IconStart="@FluentProgressToast.DismissIcon"
                          Title="Dismiss"
                          OnClick="@(() => Owner.Instance!.CancelAsync())" />
        </div>
    }

    @if (!string.IsNullOrEmpty(Owner.Body))
    {
        <div class="fluent-toast-body">
            <div id="@($"{Owner.Instance!.Id}-body")">@Owner.Body</div>
        </div>
    }

    @if (!string.IsNullOrEmpty(Owner.Status))
    {
        <div class="fluent-toast-subtitle">@Owner.Status</div>
    }

    @if (!string.IsNullOrEmpty(Owner.QuickAction1) || !string.IsNullOrEmpty(Owner.QuickAction2))
    {
        <div class="fluent-toast-footer">
            @if (!string.IsNullOrEmpty(Owner.QuickAction1))
            {
                <FluentLink Href="" @onclick="@(() => OnActionClickedAsync(primary: true))">
                    @Owner.QuickAction1
                </FluentLink>
            }

            @if (!string.IsNullOrEmpty(Owner.QuickAction2))
            {
                <FluentLink Href="" OnClick="@(() => OnActionClickedAsync(primary: false))">
                    @Owner.QuickAction2
                </FluentLink>
            }
        </div>
    }
</div>
