@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div id="@Id"
     class="@ClassValue"
     style="@StyleValue"
     @attributes="AdditionalAttributes">
    @if (ToastService != null)
    {
        @foreach (var toast in GetRenderedToasts())
        {
            <FluentToast @key="toast.Id"
                         Id="@toast.Id"
                         Class="@toast.Options.ClassValue"
                         Style="@toast.Options.StyleValue"
                         Data="@toast.Options.Data"
                         Timeout="@GetTimeout(toast)"
                         Position="@GetPosition(toast)"
                         VerticalOffset="@GetVerticalOffset(toast)"
                         HorizontalOffset="@GetHorizontalOffset(toast)"
                         Type="@toast.Options.Type"
                         Intent="@toast.Options.Intent"
                         Politeness="@toast.Options.Politeness"
                         PauseOnHover="@GetPauseOnHover(toast)"
                         PauseOnWindowBlur="@GetPauseOnWindowBlur(toast)"
                         Instance="@toast"
                         OnStatusChange="@GetOnStatusChangeCallback(toast)"
                         AdditionalAttributes="@toast.Options.AdditionalAttributes"
                         Title="@toast.Options.Title"
                         Body="@toast.Options.Body"
                         Subtitle="@toast.Options.Subtitle"
                         QuickAction1="@toast.Options.QuickAction1"
                         QuickAction2="@toast.Options.QuickAction2"
                         IsDismissable="@toast.Options.IsDismissable"
                         DismissAction="@toast.Options.DismissAction"
                         Icon="@toast.Options.Icon"
                         ChildContent="@toast.Options.ChildContent" />
        }
    }
</div>
