@namespace Microsoft.FluentUI.AspNetCore.Components


    @if (Media is not null)
    {
        <div class="fluent-toast-media">@Media</div>
    }
    else if (ToastIntent is not null)
    {
        <div class="fluent-toast-title-media" aria-hidden="true">
            @GetIcon(ToastIntent)
        </div>
    }
    <div class="fluent-toast-title">@ChildContent</div>
    @if (Action is not null)
    {
        <div class="fluent-toast-title-action">@Action</div>
    }


@code {

    private RenderFragment? GetIcon(ToastIntent? intent)
    {
        if (intent is null)
        {
            return null;
        }

        return intent switch
        {
            Components.ToastIntent.Success =>@<FluentIcon Value="@(new CoreIcons.Filled.Size20.CheckmarkCircle())" Color="@Color.Success" />                ,
            Components.ToastIntent.Warning =>@<FluentIcon Value="@(new CoreIcons.Filled.Size20.Warning())" Color="@Color.Warning" />                ,
            Components.ToastIntent.Error =>@<FluentIcon Value="@(new CoreIcons.Filled.Size20.DismissCircle())" Color="@Color.Error" />                ,
            Components.ToastIntent.Info =>@<FluentIcon Value="@(new CoreIcons.Filled.Size20.Info())" Color="@Color.Info" />                ,
            _ => null,
        };
    }
}
