@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div class="@ClassValue" style="@StyleValue" id="@Id" @attributes="@AdditionalAttributes">
    <FluentButton Appearance="@ButtonAppearance.Transparent"
                  Color="var(--colorNeutralForegroundOnBrand)"
                  IconStart="@Icon"
                  Title="@IconTitle"
                  IconOnly="true" />
</div>

<fluent-drawer id="@($"{Id}-drawer")" position="start" size="medium" type="modal">
    <fluent-drawer-body>
        @if (string.IsNullOrEmpty(Header))
        {
            <span slot="title">@Header</span>
        }
        <FluentButton Id="@($"{Id}-drawer-close-button")"
                      Appearance="@ButtonAppearance.Transparent"
                      IconStart="@(new CoreIcons.Regular.Size20.Dismiss())"
                      IconOnly="true"
                      slot="close"
                      Title="Close" />

        <div>
            @MenuContent
        </div>

    </fluent-drawer-body>
</fluent-drawer>
