@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes"
         global-scrollbar="@GlobalScrollbar"
         menu-opened="@(Hamburger?.Opened ?? false)">
        @ChildContent
    </div>
</CascadingValue>
