@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@* To avoid a flicker effect, the time it takes for the FluentLayout mobile attribute to be updated*@
<style>@GetContainerMobileStyles()</style>

<CascadingValue Value="this" IsFixed="true">
    <div id="@($"{Id}-container")">
        <div id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes"
             global-scrollbar="@GlobalScrollbar"
             menu-opened="@(Hamburger?.Opened ?? false)">
            @ChildContent
        </div>

        @if (Hamburger is not null)
        {
            <fluent-drawer id="@($"{Hamburger.Id}-drawer")" position="start" size="medium" type="modal">
                <fluent-drawer-body>
                    <span slot="title">Drawer Header</span>
                    <fluent-text>
                        The drawer gives users a quick entry point to configuration and
                        information. It should be used when retaining context is beneficial to
                        users. An overlay is optional depending on whether or not interacting
                        with the background content is beneficial to the user's
                        context/scenario. An overlay makes the drawer blocking and signifies
                        that the users full attention is required when making configurations.
                    </fluent-text>
                </fluent-drawer-body>
            </fluent-drawer>
        }
    </div>
</CascadingValue>

