@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@* To avoid a flicker effect, the time it takes for the FluentLayout mobile attribute to be updated*@
<style>@GetFlickyStyle()</style>

<CascadingValue Value="this" IsFixed="true">
    <div class="fluent-layout-container">
        <div id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes"
             global-scrollbar="@GlobalScrollbar"
             menu-opened="@(Hamburger?.Opened ?? false)">
            @ChildContent
        </div>
    </div>
</CascadingValue>
