@namespace Microsoft.Fast.Components.FluentUI

@inherits FluentComponentBase
<FluentTreeItem Id="@Id"
                Class="@ClassValue"
                Style="@StyleValue"
                Disabled="@Disabled"
                Selected="@Selected"
                Expanded="@(NavMenuExpanded ? Expanded : false)"
                Text="@(NavMenuExpanded ? Text : string.Empty)">
    @if (NavMenuExpanded && HasExpandedIcon)
    {
        if (ExpandedIconContent is not null)
        {
            <div slot="start" @onclick="HandleIconClick">@ExpandedIconContent</div>
        }
        else
        {
            <FluentIcon Name="@Icon" Size="@IconSize.Size20" Slot="start" OnClick="HandleIconClick" />
        }
    }
    @if(!NavMenuExpanded && HasCollapsedIcon)
    {
        if (CollapsedIconContent is not null)
        {
            <div slot="start" @onclick="ExpandMenu">@CollapsedIconContent</div>
        }
        else
        {
            <FluentIcon Name="@IconNavMenuCollapsed" Size="@IconSize.Size20" Slot="start" OnClick="ExpandMenu" />
        }
    }
    @if (NavMenuExpanded) {
        @ChildContent
    }
</FluentTreeItem>