@namespace Microsoft.Fast.Components.FluentUI

@inherits FluentComponentBase
<FluentTreeItem Id="@Id"
                Class="@ClassValue"
                Style="@StyleValue"
                Disabled="@Disabled"
                Selected="@Selected"
                Expanded="@(NavMenuExpanded ? Expanded : false)"
                Text="@(NavMenuExpanded ? Text : string.Empty)">
    @if (!NavMenuExpanded && HasNavMenuGutterIcon)
    {
        if (NavMenuGutterIconContent is not null)
        {
            <div slot="start" @onclick="ExpandMenu">@NavMenuGutterIconContent</div>
        }
        else
        {
            <FluentIcon Name="@NavMenuGutterIcon" Size="@IconSize.Size20" Slot="start" OnClick="ExpandMenu" />
        }
    }
    @if (NavMenuExpanded && HasIcon)
    {
        if (IconContent is not null)
        {
            <div slot="start" @onclick="HandleIconClick">@IconContent</div>
        }
        else
        {
            <FluentIcon Name="@Icon" Size="@IconSize.Size20" Slot="start" OnClick="HandleIconClick" />
        }
    }
    @if (NavMenuExpanded) {
        @ChildContent
    }
</FluentTreeItem>