@namespace Microsoft.Fast.Components.FluentUI
@implements IDisposable
@inherits FluentComponentBase
<FluentTreeItem Id="@Id"
                Class="@ClassValue"
                Style="@StyleValue"
                Disabled="@Disabled"
                Selected="@Selected"
                Expanded="@(NavMenuExpanded ? Expanded : false)"
                Text="@(NavMenuExpanded ? Text : string.Empty)">
    @if (!NavMenuExpanded && HasNavMenuGutterIcon)
    {
        <div slot="start" @onclick="ExpandMenu">
            @if (NavMenuGutterIconContent is not null)
            {
                @NavMenuGutterIconContent
            }
            else
            {
                <FluentIcon Value="@NavMenuGutterIcon" Width="20px" Slot="start" />
            }
        </div>
    }
    @if (NavMenuExpanded && HasIcon)
    {
        if (IconContent is not null)
        {
            <div slot="start" @onclick="HandleIconClick">@IconContent</div>
        }
        else
        {
            <FluentIcon Value="@Icon" Width="20px" Slot="start" OnClick="HandleIconClick" />
        }
    }
    @if (NavMenuExpanded) {
        @ChildContent
    }
</FluentTreeItem>