@namespace Microsoft.Fast.Components.FluentUI

@inherits FluentComponentBase
<FluentTreeItem Id="@Id"
                Class="@ClassValue"
                Style="@StyleValue"
                Disabled="@Disabled"
                Selected="@Selected"
                Text="@(NavMenuExpanded ? Text : string.Empty)">
    @if (HasIcon)
    {
        if (IconContent is not null)
        {
            <div slot="start">@IconContent</div>
        }
        else
        {
            <FluentIcon Name="@Icon" Size="@IconSize.Size20" Slot="start" OnClick="HandleIconClick" />
        }
    }
    @if (!HasIcon && NavMenu.HasIcons)
    {
        <span style="width:20px;" slot="start"></span>
    }
    @if (NavMenuExpanded)
    {
        @ChildContent
    }
</FluentTreeItem>
@if (ShouldShowToolTip)
{
    <FluentTooltip Anchor="@Id"
                   AutoUpdateMode="@TooltipOptions.Value!.AutoUpdateMode"
                   Delay="@TooltipOptions.Value!.Delay"
                   HorizontalViewportLock="@TooltipOptions.Value!.HorizontalViewportLock"
                   Position="@TooltipOptions.Value!.Position"
                   VerticalViewportLock="@TooltipOptions.Value!.VerticalViewportLock">
        @if (ToolTipContent is not null)
        {
            @ToolTipContent
        }
        else
        {
            @ToolTip
        }
    </FluentTooltip>
}