@*#if (UseServer && !InteractiveAtRoot) -->
@rendermode InteractiveServer

##endif*@
@*#if (IndividualLocalAuth)
@implements IDisposable

@inject NavigationManager NavigationManager

##endif*@
<FluentNav Id="main-menu" Width="260px">
    <FluentNavItem Href="/" Match="NavLinkMatch.All" IconRest="@(new Icons.Regular.Size20.Home())" IconActive="@(new Icons.Filled.Size20.Home())">Home</FluentNavItem>
    @*#if (UseServer || UseWebAssembly)
        <FluentNavItem Href="counter" IconRest="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconActive="@(new Icons.Filled.Size20.NumberSymbolSquare())">Counter</FluentNavItem>
        ##endif*@
        <FluentNavItem Href="weather" IconRest="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconActive="@(new Icons.Filled.Size20.WeatherPartlyCloudyDay())">Weather</FluentNavItem>
        @*#if (IndividualLocalAuth)
        <FluentNavItem Href="auth" IconRest="@(new Icons.Regular.Size20.LockClosedKey())" IconActive="@(new Icons.Filled.Size20.LockClosedKey())">Auth Required</FluentNavItem>
        <AuthorizeView>
            <Authorized>
                <FluentNavItem Href="Account/Manage">@context.User.Identity?.Name</FluentNavItem>
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <FluentButton Type="ButtonType.Submit" Style="width: 100%;">Logout</FluentButton>
                </form>
            </Authorized>
            <NotAuthorized>
                <FluentNavItem Href="Account/Register">Register</FluentNavItem>
                <FluentNavItem Href="Account/Login">Login</FluentNavItem>
            </NotAuthorized>
        </AuthorizeView>
    ##endif*@
</FluentNav>

@code {
@*#if (IndividualLocalAuth)
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
##endif*@
}
