@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

@if (Open)
{
    <FluentOverlay OnClose="@CloseAsync" Transparent=true Dismissable=true FullScreen=true/>
    <FluentAnchoredRegion Anchor="@AnchorId"
                          HorizontalInset="true"
                          VerticalDefaultPosition="@VerticalPosition.Bottom"
                          Shadow="@ElevationShadow.Flyout"
                          Class="@ClassValue"
                          Style="@StyleValue">
        <FluentStack Orientation="Orientation.Vertical" >
            <div class="fluent-popover-content">
                <div class="fluent-popover-header">@Header</div>
                <div class="fluent-popover-body">@Body</div>
                <div class="fluent-popover-footer">@Footer</div>
            </div>
        </FluentStack>
    </FluentAnchoredRegion>
}
