@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

@if (Open)
{
    <FluentOverlay OnClose="@CloseAsync" />
    <FluentAnchoredRegion Anchor="@AnchorId"
                          HorizontalDefaultPosition="@HorizontalPosition.End"
                          HorizontalInset="true"
                          VerticalDefaultPosition="@VerticalPosition.Bottom"
                          Shadow="@ElevationShadow.Flyout"
                          Class="@ClassValue"
                          Style="@StyleValue">
        
            <div class="fluent-popover-content">
                <div class="fluent-popover-header">@Header</div>
                <div class="fluent-popover-body">@Body</div>
                <div class="fluent-popover-footer">@Footer</div>
            </div>
        
    </FluentAnchoredRegion>
}
