@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

@switch (View)
{
    case ColorPickerView.SwatchPalette:

        <div id="@Id"
             class="@ClassValue"
             style="@StyleValue"
             orientation="@Orientation.ToAttributeValue()"
             @attributes="@AdditionalAttributes">
            @foreach (var color in DefaultColors)
            {
                <div style="background-color: @color;"
                     selected="@IsSelectedColor(color)"
                     @onclick="@(async () => await ColorSelectHandlerAsync(color))">
                    @if (IsSelectedColor(color))
                    {
                        <FluentIcon Value="@SelectedIcon"
                                    Color="Color.Custom"
                                    CustomColor="@color" />
                    }
                </div>
            }
        </div>

        break;

    case ColorPickerView.ColorWheel:

        <svg id="@Id"
             class="@ClassValue fluent-color-wheel"
             viewBox="-200 -200 400 400"
             style="@StyleValue"
             @attributes="@AdditionalAttributes">
            @foreach (var hex in WheelHexagons)
            {
                <polygon points="@hex.Points"
                         fill="@hex.Color"
                         stroke="white"
                         stroke-width="0.5"
                         style="cursor: pointer;"
                         @onclick="@(async () => await ColorSelectHandlerAsync(hex.Color))" />
            }
            @if (SelectedWheelHex is { } sel)
            {
                <circle cx="@sel.CxStr" cy="@sel.CyStr" r="6"
                        fill="white" stroke="rgba(0,0,0,0.4)" stroke-width="1.5"
                        pointer-events="none" />
            }
        </svg>

        break;

    case ColorPickerView.HsvSquare:
        break;
}