@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.ColorPicker
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

<div id="@Id"
     class="@ClassValue"
     style="@StyleValue"
     view="@View.ToAttributeValue()"
     orientation="@Orientation.ToAttributeValue()"
     @attributes="@AdditionalAttributes">

    @switch (View)
    {
        case ColorPickerView.SwatchPalette:

            @foreach (var color in Palette is null ? DefaultColors.SwatchColors : Palette)
            {
                <div style="background-color: @color;"
                     selected="@IsSelectedColor(color)"
                     @onclick="@(async () => await ColorSelectHandlerAsync(color))">
                    @if (IsSelectedColor(color))
                    {
                        <div part="indicator" />
                    }
                </div>
            }

            break;

        case ColorPickerView.ColorWheel:

            <svg viewBox="@WheelColor.ViewBox">
                @{
                    var ci = 0;
                    for (var row = 0; row < WheelColor.RowSizes.Length; row++)
                    {
                        var count = WheelColor.RowSizes[row];
                        var cy = WheelColor.Padding + WheelColor.HexSize + row * WheelColor.HexYSpacing;
                        for (var col = 0; col < count; col++)
                        {
                            var cx = WheelColor.CenterX + (col - (count - 1) / 2.0) * WheelColor.HexWidth;
                            var hc = Palette is null ? DefaultColors.WheelColors[ci++] : Palette[ci++];
                            var isSelected = IsSelectedColor(hc);
                            <polygon points="@WheelColor.ToHexPoints(cx, cy, WheelColor.HexSize)"
                                     fill="@hc"
                                     stroke="@hc"
                                     stroke-width="1"
                                     selected="@(isSelected ? true : null)"
                                     @onclick="@(async () => await ColorSelectHandlerAsync(hc))" />
                            @if (isSelected)
                            {
                                <circle cx="@cx.ToInvariant()" cy="@cy.ToInvariant()" r="@((WheelColor.HexSize / 3).ToInvariant())"
                                        part="indicator" />
                            }
                        }
                    }
                }
            </svg>

            break;

        case ColorPickerView.HsvSquare:

            <div part="square">
                <div part="canvas"
                     style="@_hsv.SquareStyle">
                    <div part="gradient-white"></div>
                    <div part="gradient-black"></div>
                    <div part="indicator"
                         style="left: @_hsv.IndicatorLeft; top: @_hsv.IndicatorTop;"></div>
                </div>
            </div>
            <div part="hue-bar">
                <div part="hue-indicator"
                     style="top: @_hsv.HueIndicatorTop;"></div>
            </div>

            break;
    }
</div>