@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

@switch (View)
{
    case ColorPickerView.SwatchPalette:

        <div id="@Id"
             class="@ClassValue"
             style="@StyleValue"
             orientation="@Orientation.ToAttributeValue()"
             @attributes="@AdditionalAttributes">
            @foreach (var color in DefaultColors)
            {
                <div style="background-color: @color;"
                     selected="@IsSelectedColor(color)"
                     @onclick="@(async () => await ColorSelectHandlerAsync(color))">
                    @if (IsSelectedColor(color))
                    {
                        <FluentIcon Value="@SelectedIcon"
                                    Color="Color.Custom"
                                    CustomColor="@color" />
                    }
                </div>
            }
        </div>

        break;

    case ColorPickerView.ColorWheel:
        break;

    case ColorPickerView.HsvSquare:
        break;
}