@page "/SliderPage"
<div style="display: flex; flex-direction: column; justify-content: space-evenly; width: 500px;">
    <h4>Toggle orientation</h4>
    <div style="margin-bottom: 60px;">
        <FluentButton style="width: 90px; margin: 10px;"  @onclick="() => orientation = (orientation == Orientation.Vertical) ? Orientation.Horizontal : Orientation.Vertical">Toggle orientation</FluentButton>
        <FluentSlider Orientation="@orientation" Min="0" Max="100" Step="10" Value="70">
            <FluentSliderLabel Position="0">
                0&#8451;
            </FluentSliderLabel>
            <FluentSliderLabel Position="10">
                10&#8451;
            </FluentSliderLabel>
            <FluentSliderLabel Position="90">
                90&#8451;
            </FluentSliderLabel>
            <FluentSliderLabel Position="100">
                100&#8451;
            </FluentSliderLabel>
        </FluentSlider>
    </div>
    <h4>Vertical</h4>
    <div style="display: flex; flex-direction: column; justify-content: space-evenly; width: 500px;">
        <FluentSlider Orientation="Orientation.Vertical" Min="0" Max="100" Step="10" Value="50" style="height: 300px; width: 50px;">
            <FluentSliderLabel Position="0">
                0&#8451;
            </FluentSliderLabel>
            <FluentSliderLabel Position="10">
                10&#8451;
            </FluentSliderLabel>
            <FluentSliderLabel Position="90">
                90&#8451;
            </FluentSliderLabel>
            <FluentSliderLabel Position="100">
                100&#8451;
            </FluentSliderLabel>
        </FluentSlider>

        <!-- No max or min -->
        <h4>Defaults</h4>
        <FluentSlider></FluentSlider>

        <!-- Text Labels -->
        <h4>Text labels</h4>
        <div style="display: flex; flex-direction: column; height: min-content;">
            <label for="slider1" style="margin-left: 8px;">Temperature:</label>
            <FluentSlider id="slider1" Min="0" Max="100" Step="10">
                <FluentSliderLabel Position="10">
                    10&#8451;
                </FluentSliderLabel>
                <FluentSliderLabel Position="90">
                    90&#8451;
                </FluentSliderLabel>
            </FluentSlider>
        </div>

        <!-- Custom labels (rtl) -->
        <h4 style="margin-top: 60px;">Custom labels and rtl support</h4>
        <div style="display: flex; flex-direction: column; align-items: flex-start; height: min-content;">
            <label for="rtl-slider" style="margin-left: 8px;">rtl support</label>
            <div dir="rtl" style="width: 100%;">
                <FluentSlider id="rtl-slider" Min="0" Max="100" Step="10" Value="80">
                    <FluentSliderLabel Position="10">
                        10
                    </FluentSliderLabel>
                    <FluentSliderLabel Position="20">
                        20
                    </FluentSliderLabel>
                    <FluentSliderLabel Position="40">
                        40
                    </FluentSliderLabel>
                    <FluentSliderLabel Position="60">
                        60
                    </FluentSliderLabel>
                    <FluentSliderLabel Position="80">
                        80
                    </FluentSliderLabel>
                </FluentSlider>
            </div>
        </div>

        <!-- Using slot for custom thumb -->
        <h4 style="margin-top: 60px;">Custom thumb</h4>
        <FluentSlider Min="0" Max="100" Step="10">
            <FluentSliderLabel Position="0">
                0
            </FluentSliderLabel>
            <FluentSliderLabel Position="10">
                10
            </FluentSliderLabel>
            <FluentSliderLabel Position="20">
                20
            </FluentSliderLabel>
            <FluentSliderLabel Position="30">
                30
            </FluentSliderLabel>
            <FluentSliderLabel Position="40">
                40
            </FluentSliderLabel>
            <FluentSliderLabel Position="50">
                50
            </FluentSliderLabel>
            <FluentSliderLabel Position="60">
                60
            </FluentSliderLabel>
            <FluentSliderLabel Position="70">
                70
            </FluentSliderLabel>
            <FluentSliderLabel Position="80">
                80
            </FluentSliderLabel>
            <FluentSliderLabel Position="90">
                90
            </FluentSliderLabel>
            <FluentSliderLabel Position="100">
                100
            </FluentSliderLabel>
            <FluentIcon Name="@FluentIcons.Globe" Slot="thumb" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
            
        </FluentSlider>

        <!-- Custom labels and thumb hide marks on labels -->
        <h4 style="margin-top: 60px;">
            Custom labels and thumb and hidden marks on labels
        </h4>
        <FluentSlider Min="0" Max="100" Step="10">
            <FluentSliderLabel Position="0" HideMark="true">
                <FluentIcon Name="@FluentIcons.Star" Size="@IconSize.Size16" Filled=false UseAccentColor=false />  
            </FluentSliderLabel>
            <FluentSliderLabel Position="50" HideMark="true">
                50
            </FluentSliderLabel>
            <FluentSliderLabel Position="100" HideMark="true">
                <FluentIcon Name="@FluentIcons.Clock" Size="@IconSize.Size16" Filled=false UseAccentColor=false />  
            </FluentSliderLabel>
            <FluentIcon Name="@FluentIcons.Globe" Slot="thumb" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        </FluentSlider>

        <!-- Disabled -->
        <h4 style="margin-top: 60px;">Disabled</h4>
        <FluentSlider Min="0" Max="100" Step="5" Disabled="true">
            <FluentSliderLabel Position="0">
                0
            </FluentSliderLabel>
            <FluentSliderLabel Position="10">
                10
            </FluentSliderLabel>
            <FluentSliderLabel Position="20">
                20
            </FluentSliderLabel>
            <FluentSliderLabel Position="30">
                30
            </FluentSliderLabel>
            <FluentSliderLabel Position="40">
                40
            </FluentSliderLabel>
            <FluentSliderLabel Position="50">
                50
            </FluentSliderLabel>
            <FluentSliderLabel Position="60">
                60
            </FluentSliderLabel>
            <FluentSliderLabel Position="70">
                70
            </FluentSliderLabel>
            <FluentSliderLabel Position="80">
                80
            </FluentSliderLabel>
            <FluentSliderLabel Position="90">
                90
            </FluentSliderLabel>
            <FluentSliderLabel Position="100">
                100
            </FluentSliderLabel>
        </FluentSlider>
        <!-- Read Only -->
        <h4 style="margin-top: 60px;">Read Only</h4>
        <FluentSlider Min="0" Max="100" Step="5" Readonly="true">
            <FluentSliderLabel Position="0">
                0
            </FluentSliderLabel>
            <FluentSliderLabel Position="10">
                10
            </FluentSliderLabel>
            <FluentSliderLabel Position="20">
                20
            </FluentSliderLabel>
            <FluentSliderLabel Position="30">
                30
            </FluentSliderLabel>
            <FluentSliderLabel Position="40">
                40
            </FluentSliderLabel>
            <FluentSliderLabel Position="50">
                50
            </FluentSliderLabel>
            <FluentSliderLabel Position="60">
                60
            </FluentSliderLabel>
            <FluentSliderLabel Position="70">
                70
            </FluentSliderLabel>
            <FluentSliderLabel Position="80">
                80
            </FluentSliderLabel>
            <FluentSliderLabel Position="90">
                90
            </FluentSliderLabel>
            <FluentSliderLabel Position="100">
                100
            </FluentSliderLabel>
        </FluentSlider>
    </div>
</div>
@code {
    Orientation orientation = Orientation.Horizontal;
}