<FluentTextInput @bind-Value="@Highlight" Immediate="true" /><br/>
<FluentSwitch @bind-Value="@UntilNextBoundary" Label="UntilNextBoundary" />
<FluentSwitch @bind-Value="@Styled" Label="Apply a Style" />

<div style="@CommonStyles.NeutralBorderShadow4" class="@Padding.All2 @Margin.All2">
    <FluentHighlighter HighlightedText="@Highlight"
                       UntilNextBoundary="@UntilNextBoundary"
                       Style="@(Styled ? CommonStyles.BrandBackground : null)"
                       Delimiters=" ,;"
                       Text="@Text" />
</div>

@code
{
    static string Text = SampleData.Text.GenerateLoremIpsum();
    string Highlight = "Lore, ips";
    bool Styled = false;
    bool UntilNextBoundary = false;
}
