<FluentStack Orientation="Orientation.Vertical">
    <FluentTextInput @bind-Value="@Highlight" Immediate="true" />
    <FluentSwitch @bind-Value="@UntilNextBoundary" Label="UntilNextBoundary" />
</FluentStack>

<div style="@CommonStyles.NeutralBorderShadow4" class="@Padding.All2 @Margin.All2">
    <FluentHighlighter HighlightedText="@Highlight"
                       UntilNextBoundary="@UntilNextBoundary"
                       Delimiters=" ,;"
                       Text="@Text" />
</div>

@code
{
    static string Text = SampleData.Text.GenerateLoremIpsum();
    string Highlight = "Lore, ips";
    bool UntilNextBoundary = false;
}
