@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes">
    @if (DialogService != null)
    {
        @foreach (var dialog in DialogService.Items.Values)
        {
            var parameters = dialog.Instance?.Parameters;
            <FluentDialog Id="@dialog.Id"
                          Class="@parameters?.Class"
                          Style="@parameters?.Style"
                          Data="@parameters?.Data"
                          Instance="@dialog.Instance"
                          OnStateChange="@(dialog.Instance?.Parameters.OnStateChange ?? EmptyOnStateChange)"
                          @attributes="@AdditionalAttributes" />
        }
    }
</div>
