@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

<FluentStack Orientation="Orientation.Horizontal"
             VerticalAlignment="VerticalAlignment.Center"
             Style="@($"grid-area: dialog-header; width: 100%; {Style}")"
             Class="@Class"
             Id="@Id">
    @if (ShowDismiss == true)
    {
        <div style="width: 100%">@ChildContent</div>
        <FluentButton Appearance="Appearance.Stealth" @onclick="@(() => Dialog.CancelAsync())">
            <FluentIcon Icon="CoreIcons.Regular.Size24.Dismiss" Width="16px" />
        </FluentButton>
    }
    else
    {
        @ChildContent
    }
</FluentStack>
