@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes">
    @if (DialogService != null)
    {
        @foreach (var dialog in DialogService.Items.Values)
        {
            var options = dialog.Instance?.Options;
            <FluentDialog Id="@dialog.Id"
                          Class="@options?.Class"
                          Style="@options?.Style"
                          Data="@options?.Data"
                          Instance="@dialog.Instance"
                          OnStateChange="@(dialog.Instance?.Options.OnStateChange ?? EmptyOnStateChange)"
                          @attributes="@AdditionalAttributes" />
        }
    }
</div>
