@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div id="@Id" class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes">
    @if (DialogService != null)
    {
        @foreach (var dialog in DialogService.Items.Values)
        {
            <FluentDialog Id="@dialog.Id" Instance="@dialog.Instance" OnStateChange="@(dialog.Instance?.Parameters.OnStateChange ?? EmptyOnStateChange)" />
        }
    }
</div>
