@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<fluent-dialog-body fuib style="@StyleValue" class="@ClassValue" id="@Id" @attributes="@AdditionalAttributes">

    @if (TitleTemplate is not null)
    {
        <div slot="title">@TitleTemplate</div>
    }

    @if (TitleActionTemplate is not null)
    {
        <div slot="title-action">@TitleActionTemplate</div>
    }

    @if (ChildContent is not null)
    {
        <div>@ChildContent</div>
    }

    @if (ActionTemplate is not null)
    {
        <div slot="action">@ActionTemplate</div>
    }
   
</fluent-dialog-body>
