@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Rendering
@inherits FluentComponentBase

<AddTag Name="@(IsDrawer() ? "fluent-drawer-body" : "fluent-dialog-body")"
        fuib
        style="@StyleValue"
        class="@ClassValue"
        id="@Id"
        @attributes="@AdditionalAttributes">

    @* Header Title *@
    @if (TitleTemplate is not null)
    {
        <div slot="@FluentSlot.DialogTitle">@TitleTemplate</div>
    }
    else if (!string.IsNullOrEmpty(Instance?.Options.Header.Title))
    {
        <div slot="@FluentSlot.DialogTitle">@((MarkupString)(Instance.Options.Header.Title))</div>
    }

    @* Header Action *@
    @if (TitleActionTemplate is not null)
    {
        <div slot="@(IsDrawer() ? FluentSlot.DialogClose : FluentSlot.DialogTitleAction)">@TitleActionTemplate</div>
    }

    @* Content *@
    @if (ChildContent is not null)
    {
        <div>@ChildContent</div>
    }

    @* Footer *@
    @if (ActionTemplate is not null)
    {
        <div slot="@(IsDrawer() ? FluentSlot.DialogFooter : FluentSlot.DialogAction)">@ActionTemplate</div>
    }
    else if (Instance?.Options.Footer.HasActions == true)
    {
        <div slot="@(IsDrawer() ? FluentSlot.DialogFooter : FluentSlot.DialogAction)">

            @foreach (var action in Instance.Options.Footer.GetActions())
            {
                if (action.ToDisplay)
                {
                    <FluentButton OnClick="@(async e => await ActionClickHandlerAsync(action))"
                                  Disabled="@action.Disabled"
                                  Appearance="action.Appearance">
                        @action.Label
                    </FluentButton>
                }
            }

        </div>
    }

</AddTag>
