@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

<FluentStack Orientation="Orientation.Horizontal"
                VerticalAlignment="VerticalAlignment.Top"
                Style="@StyleValue"
                Class="@ClassValue"
                Id="@Id">
    @if (ShowDismiss == true || ShowTitle == true)
    {
        <div style="width: 100%;">
            @if (ShowTitle == true && !string.IsNullOrEmpty(Title))
            {
                <FluentLabel Typo="Typography.PaneHeader">@Title</FluentLabel>
            }
            @ChildContent
        </div>
        <FluentButton Appearance="Appearance.Stealth" OnClick="@(() => Dialog.CancelAsync())">
            <FluentIcon Icon="CoreIcons.Regular.Size24.Dismiss" Width="16px" />
        </FluentButton>
    }
    else
    {
        @if (ShowTitle == true && !string.IsNullOrEmpty(Title))
        {
            <FluentLabel Typo="Typography.PaneHeader">@Title</FluentLabel>
        }
        @ChildContent
    }
</FluentStack>