@using Microsoft.AspNetCore.Components.Rendering
@using System.ComponentModel
@using Microsoft.Fast.Components.FluentUI.DataGrid.Infrastructure
@namespace Microsoft.Fast.Components.FluentUI
@typeparam TGridItem
@{
    InternalGridContext.Grid.AddColumn(this);
}
@code
{

    private void RenderDefaultHeaderContent(RenderTreeBuilder __builder)
    {
        @if (HeaderCellItemTemplate is not null)
        {
            @HeaderCellItemTemplate(this)
        }
        else
        {
            if (this.SortingIsEnable())
            {
                var sortableColumn = this as ISortableColumn<TGridItem>;
                @if (Align == Align.Right)
                {
                    RenderColumnHeaderOptionPart(__builder);
                }
                <FluentButton Appearance="Appearance.Stealth" class="col-sort-button" @onclick=SortChanged>
                    <div class="col-title-text">@Title</div>


                    @if (sortableColumn!.SortDirection.HasValue)
                    {
                        <FluentIcon Name="@(sortableColumn.SortDirection.Value == ListSortDirection.Ascending ? FluentIcons.ArrowSortUp : FluentIcons.ArrowSortDown)" Size="IconSize.Size16" Slot="@(Align == Align.Right ? "start" : "end")" />
                    }

                </FluentButton>
                @if (Align != Align.Right)
                {
                    RenderColumnHeaderOptionPart(__builder);
                }
            }
            else
            {
                <div class="col-title">
                    @if (ColumnOptions is not null && Align == Align.Right)
                    {
                        RenderColumnHeaderOptionPart(__builder);
                    }
                    <div class="col-title-text">@Title</div>
                    @if (ColumnOptions is not null && Align != Align.Right)
                    {
                        RenderColumnHeaderOptionPart(__builder);
                    }
                </div>
            }
            //RenderColumnHeaderOptionPart(__builder);

        }
    }

    internal void RenderPlaceholderContent(RenderTreeBuilder __builder, PlaceholderContext placeholderContext)
    {
        // Blank if no placeholder template was supplied, as it's enough to style with CSS by default
        if (PlaceholderTemplate is not null)
        {
            @PlaceholderTemplate(placeholderContext)
        }
    }

    private void RenderColumnHeaderOptionPart(RenderTreeBuilder __builder)
    {
        Type? propertyType = null;
        if (this.SortingIsEnable())
        {
            var iSortable = this.GetType().GetInterfaces().Where(w => w.Name.StartsWith("ISortableColumn")).OrderBy(o => o.GenericTypeArguments.Count()).Last();
            propertyType = iSortable!.GenericTypeArguments.Last();
        }
        else if (typeof(IBindableColumn).IsAssignableFrom(this.GetType()))
        {
            var iBindable = this.GetType().GetInterfaces().Where(w => w.Name.StartsWith("IBndableColumn")).OrderBy(o => o.GenericTypeArguments.Count()).Last();
            propertyType = iBindable?.GenericTypeArguments.Last();
        }
        if (propertyType is not null)
        {
            var headerComponent = typeof(ColumnOptions<,>).MakeGenericType(new[] { typeof(TGridItem), propertyType });
            IDictionary<string, object> parameters = new Dictionary<string, object>();
            if (ColumnOptions is not null)
            {
                parameters.Add(nameof(ColumnOptionsBase<TGridItem>.ChildContent), ColumnOptions);
            }
            <CascadingValue Value="this" IsFixed=true>
                <DynamicComponent Type=headerComponent @ref=headerOptionsComponentHolder Parameters=parameters></DynamicComponent>
            </CascadingValue>
        }
    }
}
