@page "/Radio"

@using FluentUI.Demo.Shared.Pages.Radio.Examples

<PageTitle>@App.PageTitle("Radio")</PageTitle>

<h1>Radio</h1>

<p>An implementation of a <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio" target="_blank" rel="noopener noreferrer">radio</a>. Only to be used in a <code>FluentRadioGroup</code>.</p>

<p>
    <code>&lt;FluentRadio&gt;</code> wraps the <code>&lt;fluent-radio&gt;</code> element, a web component implementation of a radio element leveraging the
    Fluent UI design system.
</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Default" Component="@typeof(RadioDefault)"></DemoSection>

<DemoSection Title="States" Component="@typeof(RadioState)"></DemoSection>

<DemoSection Title="Aria label" Component="@typeof(RadioAria)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentRadio<>)" InstanceTypes="@(new[] {typeof(string)})" />
