@inject DataSource Data

<label for="people-listbox">Select a person</label>
<FluentListbox TOption="Person"
               Items="@Data.People"
               Id="people-listbox"
               Height="150px"
               OptionValue="@(p => p.PersonId.ToString())"
               OptionText="@(p => p.LastName + ", " + p.FirstName)"
               @bind-Value="@SelectedValue"
               @bind-SelectedItem="@SelectedItem" />

<p>
    Selected value: @SelectedValue <br />
    Selected item: @SelectedItem?.ToString()
</p>

@code
{
    Person? SelectedItem;
    string? SelectedValue;
}