@page "/BreadcrumbPage"
<style>
    fluent-breadcrumb-item::part(content) *::after{
        content: ' '
    }
    fluent-breadcrumb-item::part(content) *::before {
        content: ' '
    }
</style>
<h1>Breadcrumb</h1>
<h2>Documentation</h2>
<ApiDocumentation Component="typeof(FluentBreadcrumb)" />
<h4>Default</h4>
<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="#">
        Breadcrumb item 1
    </FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="#">
        Breadcrumb item 2
    </FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Breadcrumb item 3</FluentBreadcrumbItem>
</FluentBreadcrumb>

<h4>Default with custom separator</h4>
<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="#">
        Breadcrumb item 1
        <FluentIcon Slot="seperator" Name="@FluentIcons.ArrowRight" Size="@IconSize.Size28" Filled=false UseAccentColor=false />
    </FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="#">
        Breadcrumb item 2
        <FluentIcon Slot="seperator" Name="@FluentIcons.ArrowRight" Size="@IconSize.Size28" Filled=false UseAccentColor=false />
    </FluentBreadcrumbItem>
    <FluentBreadcrumbItem>Breadcrumb item 3</FluentBreadcrumbItem>
</FluentBreadcrumb>

<h4>With start</h4>
<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="#">
         Breadcrumb item 1
        <FluentIcon Slot="start" Name="@FluentIcons.Home" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    </FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="#">
        Breadcrumb item 2
        <FluentIcon Slot="start" Name="@FluentIcons.Clipboard" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    </FluentBreadcrumbItem>
    <FluentBreadcrumbItem>
        Breadcrumb item 3
        <FluentIcon Slot="start" Name="@FluentIcons.Money" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    </FluentBreadcrumbItem>
</FluentBreadcrumb>

<h4>With end</h4>
<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="#">
        Breadcrumb item 1
        <FluentIcon Slot="end" Name="@FluentIcons.Home" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    </FluentBreadcrumbItem>
    <FluentBreadcrumbItem Href="#">
        Breadcrumb item 2
        <FluentIcon Slot="end" Name="@FluentIcons.Clipboard" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    </FluentBreadcrumbItem>
    <FluentBreadcrumbItem>
        Breadcrumb item 3
        <FluentIcon Slot="end" Name="@FluentIcons.Money" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    </FluentBreadcrumbItem>
</FluentBreadcrumb>