@using Microsoft.AspNetCore.Components.Rendering
@namespace Microsoft.Fast.Components.FluentUI

@if (_dialogs.Any())
{
    <div class="fluent-dialog-container">
        <CascadingValue TValue="InternalDialogContext" IsFixed="true" Value = "@_internalDialogContext" >
            @_renderDialogs
        </CascadingValue>
    </div>
}


@code {
    protected void RenderDialogs(RenderTreeBuilder __builder)
    {
        @foreach (DialogInstance dialog in _dialogs)
        {
            <FluentDialog @key="@dialog" Id="@dialog.Id" Settings="@dialog.Settings" Instance="@dialog" @ondialogdismiss=OnDismissAsync />
        }
    }

    
}