@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentInputBase<bool>
<fluent-switch @ref=Element
               class="@ClassValue"
               style="@StyleValue"
               readonly=@Readonly
               id=@Id
               value=@Value
               current-value=@CurrentValue
               disabled=@Disabled
               name=@Name
               aria-label="@(string.IsNullOrEmpty(Title) ? Label : Title)"
               required=@Required
               current-checked="@CurrentValue"
               @onswitchcheckedchange="@((e) => CurrentValue = e.Checked)"
               @attributes="@AdditionalAttributes">
    @Label
    @LabelTemplate
    @ChildContent
    @if (!string.IsNullOrEmpty(CheckedMessage))
    {
        <span slot="checked-message">@CheckedMessage</span>
    }
    @if (!string.IsNullOrEmpty(UncheckedMessage))
    {
        <span slot="unchecked-message">@UncheckedMessage</span>
    }
</fluent-switch>
