@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
@typeparam TItem

<div draggable="@GetDraggableAttributeValue()"
     id="@Id"
     class="@ClassValue"
     style="@StyleValue"
     dragged-over="@IsOver"
	 @attributes="@AdditionalAttributes"
     @ondrop:stopPropagation="@StopPropagation"
     @ondragenter:stopPropagation="@StopPropagation"
     @ondragend:stopPropagation="@StopPropagation"
     @ondragover:stopPropagation="@StopPropagation"
     @ondragleave:stopPropagation="@StopPropagation"
     @ondragstart:stopPropagation="@StopPropagation"
     @ondragstart="@OnDragStartHandlerAsync"
     @ondragover="@OnDragOverHandlerAsync"
     @ondragover:preventDefault="@Droppable"
     @ondragenter="@OnDragEnterHandlerAsync"
     @ondragenter:preventDefault="@Droppable"
     @ondragleave="@OnDragLeaveHandlerAsync"
     @ondragleave:preventDefault="@Droppable"
     @ondragend="@OnDragEndHandlerAsync"
     @ondrop="@OnDropHandlerAsync"
     @ondrop:preventDefault>
    @ChildContent
</div>
