@if (!string.IsNullOrEmpty(Title))
{
    @if (New)
    {
        <h4>@Title <NewBadge /></h4>
    }
    else
    {
        <h4>@Title</h4>
    }
}

@if (Description != null)
{
    <div class="demo-section-description">
        @Description
    </div>
}

<div class="demo-section-content">

    <FluentTabs ActiveId="@(!HideExample ? "tab-example" : "tab-razor")">
        @if (!HideExample)
        {
            <FluentTab id="tab-example" Text="Example" />
        }
        @foreach (string tab in GetSources())
        {
            <FluentTab id="@("tab-"+@GetDisplayName(tab).Replace("#","").ToLower())" Text="@GetDisplayName(tab)" />
        }

        @if (!HideExample)
        {
            <FluentTabPanel style="max-height: 535px; overflow-y: auto;">
                <div class="demo-section-example">
                    @ChildContent
                    @if (Component is not null)
                    {
                        <DynamicComponent Type="Component" Parameters="ComponentParameters" />
                    }
                </div>
        </FluentTabPanel>
        }
        @foreach (string tab in GetSources())
        {
            <FluentTabPanel style="max-height: 535px; overflow-y: auto;">
                @if (HasCode)
                {
                    <CodeSnippet Language="@TabLanguageClass(tab)">@TabPanelsContent[tab]</CodeSnippet>
                }
            </FluentTabPanel>
        }
    </FluentTabs>
</div>
@if (ShowDownloads)
{
    <div class="demo-section-downloads">
        <Spacer />
        Download:&nbsp;
        @foreach (string source in GetSources())
        {
            <FluentAnchor Style="width:75px;" Download="@source" Href="@($"_content/FluentUI.Demo.Shared/examples/{source}.txt")" Appearance="Appearance.Neutral">
                @GetDisplayName(source.Substring(source.LastIndexOf('.')))
            </FluentAnchor>
            
            @if (source != GetSources().Last())
            {
                <span>&nbsp;</span>
            }
        }
        

    </div>
}


