@using System.Text.RegularExpressions
@{
    Regex pattern = new Regex("[;,<>&(){}!$^#@]");
    string ariaid = pattern.Replace(Title.Replace(' ', '-').ToLower(), "");
}
@if (!string.IsNullOrEmpty(Title)) 
{
    @if (New) 
    {
        <h3 id="@ariaid">@Title <NewBadge /></h3>
    }
    else 
    {
        <h3 id="@ariaid">@Title</h3>
    }
}

@if (Description != null) 
{
    <div class="demo-section-description">
        @Description
    </div>
}

<div class="demo-section-content">

    <FluentTabs ActiveId="@(!HideExample ? $"tab-example-{ariaid}" : $"tab-razor-{ariaid}")">
        @if (!HideExample) 
        {
            <FluentTab id="@("tab-example-"+@ariaid)" Text="Example" />
        }
        @if (!HideAllButExample) 
        {
            @foreach (string tab in GetCollocatedFiles()) 
            {
                <FluentTab id="@("tab-"+@GetDisplayName(tab).Replace("#","").ToLower()+"-"+@ariaid)" Text="@GetDisplayName(tab)" />
            }
            @foreach (string tab in GetAdditionalFiles()) 
            {
                <FluentTab id="@("tab-"+tab.Replace("#","").ToLower()+"-"+@ariaid)" Text="@tab" />
            }


        }
        @if (!HideExample) 
        {
            <FluentTabPanel>
                <div class="demo-section-example">
                    @ChildContent
                    @if (Component is not null) 
                    {
                        <DynamicComponent Type="Component" Parameters="ComponentParameters" />
                    }
                </div>
            </FluentTabPanel>
        }
        @if (!HideAllButExample) 
        {
            @foreach (string tab in _allFiles) 
            {
                <FluentTabPanel>
                    @if (_hasCode) 
                    {
                        _tabPanelsContent.TryGetValue(tab, out string? sourcecode);
                        <CodeSnippet Language="@TabLanguageClass(tab)">@sourcecode</CodeSnippet>
                    }
                </FluentTabPanel>
            }
        }
    </FluentTabs>
</div>
@if (ShowDownloads) 
{
    <div class="demo-section-downloads">
        <Spacer />
        Download:&nbsp;
        @foreach (string source in _allFiles) 
        {
            <FluentAnchor Style="width: 85px;" Download="@source" Href="@($"_content/FluentUI.Demo.Shared/sources/{source}.txt")" Appearance="Appearance.Neutral">
                @if (source.StartsWith(Component.Name)) 
                {
                    @GetDisplayName(source.Substring(source.LastIndexOf('.')))
                }
                else 
                {
                    @source
                }
            </FluentAnchor>

            @if (source != _allFiles.Last()) 
            {
                <span>&nbsp;</span>
            }
        }
    </div>
}