@namespace Microsoft.Fast.Components.FluentUI

@if (Visible)
{
    <div class="fluent-overlay"
         style="@(Transparent ? "cursor: auto;" : $"background-color: rgba({_r}, {_g}, {_b}, {Opacity.ToString()!.Replace(',','.')}); cursor: default;") @(FullScreen ? "position: fixed;" : "position: absolute;")"
         @onclick="@OnCloseHandlerAsync" 
         @oncontextmenu="@OnCloseHandlerAsync" 
         @oncontextmenu:preventDefault>
        <div style="@( $"display: flex; align-items:{Alignment.ToAttributeValue()}; justify-content: {Justification.ToAttributeValue()}; width: 100%; heigth: 100%")">
            @ChildContent
        </div>
    </div>
}
