@page "/ComboboxPage"
<h1>Combobox</h1>

<h2>Default</h2>
<FluentCombobox id="combobox" @bind-Value="@comboboxValue">
    <FluentOption>Please Please Me</FluentOption>
    <FluentOption>With The Beatles</FluentOption>
    <FluentOption>A Hard Day's Night</FluentOption>
    <FluentOption>Beatles for Sale</FluentOption>
    <FluentOption>Help!</FluentOption>
    <FluentOption>Rubber Soul</FluentOption>
    <FluentOption>Revolver</FluentOption>
    <FluentOption>Sgt. Pepper's Lonely Hearts Club Band</FluentOption>
    <FluentOption>Magical Mystery Tour</FluentOption>
    <FluentOption>The Beatles</FluentOption>
    <FluentOption>Yellow Submarine</FluentOption>
    <FluentOption>Abbey Road</FluentOption>
    <FluentOption>Let It Be</FluentOption>
</FluentCombobox>

<h2>From list of string items</h2>
<FluentCombobox OptionItems=@stringOptions />

<h2>From list of int items</h2>
<FluentCombobox OptionItems=@intOptions />

<h2>Filled</h2>
<FluentCombobox id="combobox" Appearance="Appearance.Filled" @bind-Value="@comboboxValue">
    <FluentOption>Please Please Me</FluentOption>
    <FluentOption>With The Beatles</FluentOption>
    <FluentOption>A Hard Day's Night</FluentOption>
    <FluentOption>Beatles for Sale</FluentOption>
    <FluentOption>Help!</FluentOption>
    <FluentOption>Rubber Soul</FluentOption>
    <FluentOption>Revolver</FluentOption>
    <FluentOption>Sgt. Pepper's Lonely Hearts Club Band</FluentOption>
    <FluentOption>Magical Mystery Tour</FluentOption>
    <FluentOption>The Beatles</FluentOption>
    <FluentOption>Yellow Submarine</FluentOption>
    <FluentOption>Abbey Road</FluentOption>
    <FluentOption>Let It Be</FluentOption>
</FluentCombobox>

<h2>Default Selected</h2>
<FluentCombobox id="combobox-with-default" @bind-Value="@comboboxValue">
    <FluentOption>William Hartnell</FluentOption>
    <FluentOption>Patrick Troughton</FluentOption>
    <FluentOption>Jon Pertwee</FluentOption>
    <FluentOption>Tom Baker</FluentOption>
    <FluentOption>Peter Davidson</FluentOption>
    <FluentOption>Colin Baker</FluentOption>
    <FluentOption>Sylvester McCoy</FluentOption>
    <FluentOption>Paul McGann</FluentOption>
    <FluentOption>Christopher Eccleston</FluentOption>
    <FluentOption>David Tenant</FluentOption>
    <FluentOption>Matt Smith</FluentOption>
    <FluentOption>Peter Capaldi</FluentOption>
    <FluentOption selected>Jodie Whittaker</FluentOption>
</FluentCombobox>

<h2>Initial Value</h2>
<FluentCombobox id="combobox-with-initial-value" @bind-Value="@comboboxValue" >
    <FluentOption>William Hartnell</FluentOption>
    <FluentOption>Patrick Troughton</FluentOption>
    <FluentOption>Jon Pertwee</FluentOption>
    <FluentOption>Tom Baker</FluentOption>
    <FluentOption>Peter Davidson</FluentOption>
    <FluentOption>Colin Baker</FluentOption>
    <FluentOption>Sylvester McCoy</FluentOption>
    <FluentOption>Paul McGann</FluentOption>
    <FluentOption>Christopher Eccleston</FluentOption>
    <FluentOption>David Tenant</FluentOption>
    <FluentOption>Matt Smith</FluentOption>
    <FluentOption>Peter Capaldi</FluentOption>
    <FluentOption>Jodie Whittaker</FluentOption>
</FluentCombobox>

<h2>Combobox with Autocomplete</h2>

<h3>Inline Autocomplete</h3>
<FluentCombobox id="combobox-with-inline-autocomplete" Autocomplete="Autocomplete.Inline" @bind-Value="@comboboxValue">
    <FluentOption>William Hartnell</FluentOption>
    <FluentOption>Patrick Troughton</FluentOption>
    <FluentOption>Jon Pertwee</FluentOption>
    <FluentOption>Tom Baker</FluentOption>
    <FluentOption>Peter Davidson</FluentOption>
    <FluentOption>Colin Baker</FluentOption>
    <FluentOption>Sylvester McCoy</FluentOption>
    <FluentOption>Paul McGann</FluentOption>
    <FluentOption>Christopher Eccleston</FluentOption>
    <FluentOption>David Tenant</FluentOption>
    <FluentOption>Matt Smith</FluentOption>
    <FluentOption>Peter Capaldi</FluentOption>
    <FluentOption>Jodie Whittaker</FluentOption>
</FluentCombobox>

<h3>List Autocomplete</h3>
<FluentCombobox id="combobox-with-list-autocomplete" Autocomplete="Autocomplete.List" @bind-Value="@comboboxValue">
    <FluentOption>William Hartnell</FluentOption>
    <FluentOption>Patrick Troughton</FluentOption>
    <FluentOption>Jon Pertwee</FluentOption>
    <FluentOption>Tom Baker</FluentOption>
    <FluentOption>Peter Davidson</FluentOption>
    <FluentOption>Colin Baker</FluentOption>
    <FluentOption>Sylvester McCoy</FluentOption>
    <FluentOption>Paul McGann</FluentOption>
    <FluentOption>Christopher Eccleston</FluentOption>
    <FluentOption>David Tenant</FluentOption>
    <FluentOption>Matt Smith</FluentOption>
    <FluentOption>Peter Capaldi</FluentOption>
    <FluentOption>Jodie Whittaker</FluentOption>
</FluentCombobox>

<h3>Both Autocomplete</h3>
<FluentCombobox id="combobox-with-both-autocomplete" Autocomplete="Autocomplete.Both" @bind-Value="@comboboxValue">
    <FluentOption>William Hartnell</FluentOption>
    <FluentOption>Patrick Troughton</FluentOption>
    <FluentOption>Jon Pertwee</FluentOption>
    <FluentOption>Tom Baker</FluentOption>
    <FluentOption>Peter Davidson</FluentOption>
    <FluentOption>Colin Baker</FluentOption>
    <FluentOption>Sylvester McCoy</FluentOption>
    <FluentOption>Paul McGann</FluentOption>
    <FluentOption>Christopher Eccleston</FluentOption>
    <FluentOption>David Tenant</FluentOption>
    <FluentOption>Matt Smith</FluentOption>
    <FluentOption>Peter Capaldi</FluentOption>
    <FluentOption>Jodie Whittaker</FluentOption>
</FluentCombobox>

<h2>Disabled Combobox</h2>
<FluentCombobox Disabled="true" @bind-Value="@comboboxValue">
    <FluentOption>Extra Small</FluentOption>
    <FluentOption>Small</FluentOption>
    <FluentOption>Medium</FluentOption>
    <FluentOption>Large</FluentOption>
    <FluentOption>Extra Large</FluentOption>
</FluentCombobox>

<h2>Combobox with disabled items</h2>

<h3>Combobox with alternating disabled items</h3>
<FluentCombobox id="combobox-with-every-other-disabled" @bind-Value="@comboboxValue">
    <FluentOption>Extra Small</FluentOption>
    <FluentOption Disabled="true">Small</FluentOption>
    <FluentOption>Medium</FluentOption>
    <FluentOption Disabled="true">Large</FluentOption>
    <FluentOption>Extra Large</FluentOption>
</FluentCombobox>

<h3>Combobox with adjacent disabled items at start of list</h3>
<FluentCombobox id="combobox-with-adjacent-disabled-start" @bind-Value="@comboboxValue">
    <FluentOption Disabled="true">Extra Small</FluentOption>
    <FluentOption Disabled="true">Small</FluentOption>
    <FluentOption>Medium</FluentOption>
    <FluentOption>Large</FluentOption>
    <FluentOption>Extra Large</FluentOption>
</FluentCombobox>

<h3>Combobox with adjacent disabled items in middle of list</h3>
<FluentCombobox id="combobox-with-adjacent-disabled-middle" @bind-Value="@comboboxValue">
    <FluentOption>Extra Small</FluentOption>
    <FluentOption Disabled="true">Small</FluentOption>
    <FluentOption Disabled="true">Medium</FluentOption>
    <FluentOption>Large</FluentOption>
    <FluentOption>Extra Large</FluentOption>
</FluentCombobox>

<h3>Combobox with adjacent disabled items at end of list</h3>
<FluentCombobox id="combobox-with-adjacent-disabled-end" @bind-Value="@comboboxValue">
    <FluentOption>Extra Small</FluentOption>
    <FluentOption>Small</FluentOption>
    <FluentOption>Medium</FluentOption>
    <FluentOption Disabled="true">Large</FluentOption>
    <FluentOption Disabled="true">Extra Large</FluentOption>
</FluentCombobox>

<h3>Combobox with all but one item disabled</h3>
<FluentCombobox id="combobox-with-all-but-one-disabled" @bind-Value="@comboboxValue">
    <FluentOption Disabled="true">Extra Small</FluentOption>
    <FluentOption Disabled="true">Small</FluentOption>
    <FluentOption Disabled="true">Medium</FluentOption>
    <FluentOption Disabled="true">Large</FluentOption>
    <FluentOption>Extra Large</FluentOption>
</FluentCombobox>

<h3>Combobox with all items disabled</h3>
<FluentCombobox id="combobox-with-all-disabled" @bind-Value="@comboboxValue">
    <FluentOption Disabled="true">Extra Small</FluentOption>
    <FluentOption Disabled="true">Small</FluentOption>
    <FluentOption Disabled="true">Medium</FluentOption>
    <FluentOption Disabled="true">Large</FluentOption>
    <FluentOption Disabled="true">Extra Large</FluentOption>
</FluentCombobox>

<h2>Combobox with placeholder</h2>
<FluentCombobox placeholder="Please select a size" id="combobox-with-placeholder" @bind-Value="@comboboxValue">
    <FluentOption>Extra Small</FluentOption>
    <FluentOption>Small</FluentOption>
    <FluentOption>Medium</FluentOption>
    <FluentOption>Large</FluentOption>
    <FluentOption>Extra Large</FluentOption>
</FluentCombobox>

<h2>Combobox with no items</h2>
<FluentCombobox id="combobox-with-no-items" @bind-Value="@comboboxValue"></FluentCombobox>

<h2>Combobox with long list</h2>
<FluentCombobox id="combobox-with-long-list" Autocomplete="Autocomplete.Both" @bind-Value="@comboboxValue">
    <FluentOption>Alabama</FluentOption>
    <FluentOption>Alaska</FluentOption>
    <FluentOption>Arizona</FluentOption>
    <FluentOption>Arkansas</FluentOption>
    <FluentOption>California</FluentOption>
    <FluentOption>Colorado</FluentOption>
    <FluentOption>Connecticut</FluentOption>
    <FluentOption>Delaware</FluentOption>
    <FluentOption>Florida</FluentOption>
    <FluentOption>Georgia</FluentOption>
    <FluentOption>Hawaii</FluentOption>
    <FluentOption>Idaho</FluentOption>
    <FluentOption>Illinois</FluentOption>
    <FluentOption>Indiana</FluentOption>
    <FluentOption>Iowa</FluentOption>
    <FluentOption>Kansas</FluentOption>
    <FluentOption>Kentucky</FluentOption>
    <FluentOption>Louisiana</FluentOption>
    <FluentOption>Maine</FluentOption>
    <FluentOption>Maryland</FluentOption>
    <FluentOption>Massachussets</FluentOption>
    <FluentOption>Michigain</FluentOption>
    <FluentOption>Minnesota</FluentOption>
    <FluentOption>Mississippi</FluentOption>
    <FluentOption>Missouri</FluentOption>
    <FluentOption>Montana</FluentOption>
    <FluentOption>Nebraska</FluentOption>
    <FluentOption>Nevada</FluentOption>
    <FluentOption>New Hampshire</FluentOption>
    <FluentOption>New Jersey</FluentOption>
    <FluentOption>New Mexico</FluentOption>
    <FluentOption>New York</FluentOption>
    <FluentOption>North Carolina</FluentOption>
    <FluentOption>North Dakota</FluentOption>
    <FluentOption>Ohio</FluentOption>
    <FluentOption>Oklahoma</FluentOption>
    <FluentOption>Oregon</FluentOption>
    <FluentOption>Pennsylvania</FluentOption>
    <FluentOption>Rhode Island</FluentOption>
    <FluentOption>South Carolina</FluentOption>
    <FluentOption>South Dakota</FluentOption>
    <FluentOption>Texas</FluentOption>
    <FluentOption>Tennessee</FluentOption>
    <FluentOption>Utah</FluentOption>
    <FluentOption>Vermont</FluentOption>
    <FluentOption>Virginia</FluentOption>
    <FluentOption>Washington</FluentOption>
    <FluentOption>Wisconsin</FluentOption>
    <FluentOption>West Virginia</FluentOption>
    <FluentOption>Wyoming</FluentOption>
</FluentCombobox>

<h2>Forced positions</h2>

<h3>Combobox with forced position above</h3>
<FluentCombobox id="combobox-with-forced-position-above" Position="Position.Above" @bind-Value="@comboboxValue">
    <FluentOption>Position forced above</FluentOption>
    <FluentOption>Option Two</FluentOption>
</FluentCombobox>

<h3>Combobox with forced position below</h3>
<FluentCombobox id="combobox-with-forced-position-below" Position="Position.Below" @bind-Value="@comboboxValue">
    <FluentOption>Position forced below</FluentOption>
    <FluentOption>Option Two</FluentOption>
</FluentCombobox>

@code{
    string? comboboxValue = "Christopher Eccleston";
    string? selectValue;
    int selectValue2;

    List<Option<string>> stringOptions = new()
        {
            { new Option<string> { Key = "1", Value = "One" } },
            { new Option<string> { Key = "2", Value = "Two", Selected = true } },
            { new Option<string> { Key = "3", Value = "Three" } }

        };

    List<Option<int>> intOptions = new()
        {
            { new Option<int> { Key = 1, Value = 1, Disabled = true } },
            { new Option<int> { Key = 2, Value = 2 } },
            { new Option<int> { Key = 3, Value = 3 } }

        };
}