@page "/TreeViewPage"
<h4>With items (don't render collapsed nodes)</h4>
<FluentTreeView @bind-CurrentSelected="@currentSelected" @bind-CurrentExpanded="@currentExpanded">
    <FluentTreeItem id="root1">
        Root item 1
        <FluentTreeItem id="flowers1">
            Flowers
            <FluentTreeItem Disabled="true" id="daisy1">Daisy</FluentTreeItem>
            <FluentTreeItem id="sunflower1">Sunflower</FluentTreeItem>
            <FluentTreeItem id="rose1">Rose</FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem id="nested12">Nested item 2</FluentTreeItem>
        <FluentTreeItem id="nested13">Nested item 3</FluentTreeItem>
    </FluentTreeItem>
    <FluentTreeItem id="root2">
        Root item 2
        <FluentDivider></FluentDivider>
        <FluentTreeItem id="flowers2">
            Flowers
            <FluentTreeItem Disabled="true" id="daisy2">Daisy</FluentTreeItem>
            <FluentTreeItem id="sunflower2">Sunflower</FluentTreeItem>
            <FluentTreeItem id="rose2">Rose</FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem id="nested22">Nested item 2</FluentTreeItem>
        <FluentTreeItem id="nested23">Nested item 3</FluentTreeItem>
    </FluentTreeItem>
    <FluentTreeItem id="root3">
        Root item 3 - Leaf Erikson
    </FluentTreeItem>
</FluentTreeView>

<p>Current selected tree item is @currentSelected?.ToString()</p>
<p>Current expanded tree item is @currentExpanded?.ToString()</p>

<h4>Flat tree</h4>
<FluentTreeView RenderCollapsedNodes=true>
    <FluentTreeItem Selected="true">Daisy</FluentTreeItem>
    <FluentTreeItem>Sunflower</FluentTreeItem>
    <FluentTreeItem>Rose</FluentTreeItem>
    <FluentDivider></FluentDivider>
    <FluentTreeItem>Petunia</FluentTreeItem>
    <FluentTreeItem>Tulip</FluentTreeItem>
</FluentTreeView>

<h4>Some expanded</h4>
<FluentTreeView>
    <FluentTreeItem Expanded="true">
        Root item
        <FluentTreeItem Expanded="true">
            Flowers
            <FluentTreeItem>Daisy</FluentTreeItem>
            <FluentTreeItem>Sunflower</FluentTreeItem>
            <FluentTreeItem>Rose</FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem>
            Planes
            <FluentTreeItem>Tomcat</FluentTreeItem>
            <FluentTreeItem>Hawker Harrier</FluentTreeItem>
            <FluentTreeItem>Cesna</FluentTreeItem>
        </FluentTreeItem>
    </FluentTreeItem>
</FluentTreeView>

<h4>Pre-selected tree item</h4>
<FluentTreeView>
    <FluentTreeItem Expanded="true">
        Root item
        <FluentTreeItem>
            Flowers
            <FluentTreeItem>Daisy</FluentTreeItem>
            <FluentTreeItem>Sunflower</FluentTreeItem>
            <FluentTreeItem>Rose</FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem Expanded="true">
            Planes
            <FluentTreeItem Selected="true">Tomcat</FluentTreeItem>
            <FluentTreeItem>Hawker Harrier</FluentTreeItem>
            <FluentTreeItem>Cesna</FluentTreeItem>
        </FluentTreeItem>
    </FluentTreeItem>
</FluentTreeView>

<h4>With several nested items (expanded)</h4>
<FluentTreeView>
    <FluentTreeItem Expanded="true">
        Root item
        <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        <FluentTreeItem Expanded="true">
            Nested Root item 1
            <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
            <FluentTreeItem>
                <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
                Nested item 4
            </FluentTreeItem>
            <FluentTreeItem>
                <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
                Nested item 5
            </FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem>
            Nested item 2
            <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        </FluentTreeItem>
        <FluentTreeItem>
            Nested item 3
            <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        </FluentTreeItem>
    </FluentTreeItem>
</FluentTreeView>

@code {
    string? currentSelected;
    string? currentExpanded;
}