@page "/TreeViewPage"
<h4>With items (don't render collapsed nodes)</h4>
<FluentTreeView @bind-CurrentSelected=currentSelected OnExpandedChange="HandleOnExpandedChanged">
    <FluentTreeItem Text="Root item 1">
        <FluentTreeItem Text="Flowers">
            <FluentTreeItem Disabled="true" Text="Daisy" />
            <FluentTreeItem Text="Sunflower" />
            <FluentTreeItem Text="Rose" />
        </FluentTreeItem>
        <FluentTreeItem Text="Nested item 2" />
        <FluentTreeItem Text="Nested item 3" />
    </FluentTreeItem>
    <FluentTreeItem Text="Root item 2" >
        <FluentDivider></FluentDivider>
        <FluentTreeItem Text="Flowers">
             <FluentTreeItem Disabled="true" Text="Daisy" />
            <FluentTreeItem Text="Sunflower" />
            <FluentTreeItem Text="Rose" />
        </FluentTreeItem>
        <FluentTreeItem Text="Nested item 2" />
        <FluentTreeItem Text="Nested item 3" />
    </FluentTreeItem>
    <FluentTreeItem Text="Root item 3 - Leaf Erikson" />
</FluentTreeView>

<p>Current selected tree item is @currentSelected?.Text</p>
<p>Current expanded/collapsed tree item is @currentAffected?.Text</p>

<h4>Flat tree</h4>
<FluentTreeView RenderCollapsedNodes=true>
    <FluentTreeItem Selected="true">Daisy</FluentTreeItem>
    <FluentTreeItem>Sunflower</FluentTreeItem>
    <FluentTreeItem>Rose</FluentTreeItem>
    <FluentDivider></FluentDivider>
    <FluentTreeItem>Petunia</FluentTreeItem>
    <FluentTreeItem>Tulip</FluentTreeItem>
</FluentTreeView>

<h4>Some expanded</h4>
<FluentTreeView>
    <FluentTreeItem Expanded="true">
        Root item
        <FluentTreeItem Expanded="true">
            Flowers
            <FluentTreeItem>Daisy</FluentTreeItem>
            <FluentTreeItem>Sunflower</FluentTreeItem>
            <FluentTreeItem>Rose</FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem>
            Planes
            <FluentTreeItem>Tomcat</FluentTreeItem>
            <FluentTreeItem>Hawker Harrier</FluentTreeItem>
            <FluentTreeItem>Cesna</FluentTreeItem>
        </FluentTreeItem>
    </FluentTreeItem>
</FluentTreeView>

<h4>Pre-selected tree item</h4>
<FluentTreeView>
    <FluentTreeItem Expanded="true">
        Root item
        <FluentTreeItem>
            Flowers
            <FluentTreeItem>Daisy</FluentTreeItem>
            <FluentTreeItem>Sunflower</FluentTreeItem>
            <FluentTreeItem>Rose</FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem Expanded="true">
            Planes
            <FluentTreeItem Selected="true">Tomcat</FluentTreeItem>
            <FluentTreeItem>Hawker Harrier</FluentTreeItem>
            <FluentTreeItem>Cesna</FluentTreeItem>
        </FluentTreeItem>
    </FluentTreeItem>
</FluentTreeView>

<h4>With several nested items (expanded)</h4>
<FluentTreeView>
    <FluentTreeItem Expanded="true">
        Root item
        <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        <FluentTreeItem Expanded="true">
            Nested Root item 1
            <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
            <FluentTreeItem>
                <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
                Nested item 4
            </FluentTreeItem>
            <FluentTreeItem>
                <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
                Nested item 5
            </FluentTreeItem>
        </FluentTreeItem>
        <FluentTreeItem>
            Nested item 2
            <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        </FluentTreeItem>
        <FluentTreeItem>
            Nested item 3
            <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        </FluentTreeItem>
    </FluentTreeItem>
</FluentTreeView>

@code {
    FluentTreeItem? currentSelected;
    FluentTreeItem? currentAffected;
    
    private void HandleOnExpandedChanged(FluentTreeItem item)
    {
        currentAffected = item;
    }
}