@namespace Microsoft.Fast.Components.FluentUI
@implements IToastContentComponent<ProgressToastData>


<div class="fluent-toast-body">
    @if (!string.IsNullOrWhiteSpace(Data.Details))
    {
        <div class="fluent-toast-details">@Data.Details</div>
    }

    <FluentProgress Class="fluent-toast-progressbar" Min="0" Max="100" @bind-Value="@Data.Progress"></FluentProgress>
    <div class="fluent-toast-progressbar-percentage">@Data.Progress%</div>
</div>


@* @if (Data.PrimaryAction is not null || Data.SecondaryAction is not null)
{
    <div class="fluent-toast-actions">
        @if (Data.PrimaryAction is not null)
        {
            <FluentAnchor Href="@(String.IsNullOrEmpty(Data.PrimaryAction?.Href) ? "#" : Data.PrimaryAction?.Href)"
                          title="@Data.SecondaryAction?.Text"
                          Style="font-size: 14px; font-weight:400;"
                          Appearance="Appearance.Hypertext"
                          @onfocusin="@Toast.PauseTimeout"
                          @onfocusout="@Toast.ResumeTimeout"
                          @onclick="HandlePrimaryActionClick">
                @Data.PrimaryAction?.Text
            </FluentAnchor>
        }
        @if (Data.SecondaryAction is not null)
        {
            <FluentAnchor Href="@(String.IsNullOrEmpty(Data.SecondaryAction?.Href) ? "#" : Data.SecondaryAction?.Href)"
                          title="@Data.SecondaryAction?.Text"
                          Style="font-size: 14px; font-weight:400;"
                          Appearance="Appearance.Hypertext"
                          @onfocusin="@Toast.PauseTimeout"
                          @onfocusout="@Toast.ResumeTimeout"
                          @onclick="HandleSecondaryActionClick">
                @Data.SecondaryAction?.Text
            </FluentAnchor>
        }
    </div>
}    *@