@namespace FluentUI.Demo.Shared
@inherits FluentComponentBase
<FluentTreeItem Class="@ClassValue"
                Style="@StyleValue"
                Disabled="@Disabled"
                Selected="@Selected"
                @onclick="@OnClickHandler"
                @onkeydown="@OnKeypressHandler"
                tabindex="0">
    @if (Owner.HasIcons || Owner.HasSubMenu)
    {
        @if (HasIcon)
        {
            <FluentIcon Name="@Icon" Size="@IconSize.Size20" Slot="start" Filled=false/>
        }
        else
        {
            <div style="width:20px;" slot="start" />
        }
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span style="@(NavMenuExpanded ? null : "display: none;")">@Text</span>
    }
    
    @if (NavMenuExpanded)
    {
        @ChildContent
    }
</FluentTreeItem>