@* Remember to replace the namespace below with your own project's namespace. *@
@namespace FluentUI.Demo.Shared

<h2>Navigation Examples</h2>


<FluentStackPanel Orientation="Orientation.Horizontal">
    <!-- Menu with sub-items and icons -->
    <FluentNavMenu Collapsible="false">
        <FluentNavLink Text="Item 1" @onclick="OnClick" Icon="@(FluentIcons.Home)" Selected="true" />
        <FluentNavLink Text="Item 2" @onclick="OnClick" />
        <FluentNavGroup Text="Item 3" @onclick="OnClick" Expanded="true">
            <FluentNavLink Text="Item 3.1" @onclick="OnClick" Icon="@(FluentIcons.LeafOne)" />
            <FluentNavLink Text="Item 3.2" @onclick="OnClick" Icon="@(FluentIcons.LeafTwo)" />
        </FluentNavGroup>
        <FluentNavGroup Text="Item 4" @onclick="OnClick" Expanded="true">
            <FluentNavLink Text="Item 4.1" @onclick="OnClick" />
            <FluentNavLink Text="Item 4.2" @onclick="OnClick" Icon="@(FluentIcons.LeafOne)" />
        </FluentNavGroup>
        <FluentNavGroup Text="Item 5" @onclick="OnClick" Expanded="true">
            <FluentNavLink Text="Item 5.1" @onclick="OnClick" Icon="@(FluentIcons.LeafTwo)" />
            <FluentNavGroup @onclick="OnClick" Text="Item 5.2">
                <FluentNavLink Text="Item 5.2.1" @onclick="OnClick" />
                <FluentNavLink Text="Item 5.2.2" @onclick="OnClick" />                
            </FluentNavGroup>
            <FluentNavGroup @onclick="OnClick" Text="Item 5.3">
                <FluentNavLink Text="Item 5.3.1" @onclick="OnClick" Icon="@(FluentIcons.LeafOne)" />
                <FluentNavLink Text="Item 5.3.2" @onclick="OnClick" />                
            </FluentNavGroup>
        </FluentNavGroup>
        <FluentNavGroup @onclick="OnClick" Text="Item with Href" Expanded="true">
            <FluentNavLink Text="Go to Bing" @onclick="OnClick" Icon="@(FluentIcons.LeafOne)" Href="https://bing.com" />
            <FluentNavLink Text="Go to home page" @onclick="OnClick" Icon="@(FluentIcons.Home)" Href="/" />
        </FluentNavGroup>
        <FluentNavLink Text="Last item" @onclick="OnClick" Icon="@(FluentIcons.LeafThree)" Disabled="true" />
    </FluentNavMenu>

    <!-- Menu with icons -->
    <FluentNavMenu>
        <FluentNavLink Text="Item 1" @onclick="OnClick" Icon="@(FluentIcons.Home)" />
        <FluentNavLink Text="Item 2" @onclick="OnClick" />
        <FluentNavLink Text="Item 3" @onclick="OnClick" Icon="@(FluentIcons.LeafOne)" />
        <FluentNavLink Text="Item 4" @onclick="OnClick" />
    </FluentNavMenu>

    <!-- Menu simple -->
    <FluentNavMenu>
        <FluentNavLink Text="Item 1" @onclick="OnClick" />
        <FluentNavLink Text="Item 2" @onclick="OnClick" />
        <FluentNavLink Text="Item 3" @onclick="OnClick" />
        <FluentNavLink Text="Item 4" @onclick="OnClick" />
    </FluentNavMenu>

</FluentStackPanel>

@code
{
    void OnClick(MouseEventArgs e)
    {
        Console.WriteLine("Item Clicked");
    }
}


