@* Remember to replace the namespace below with your own project's namespace. *@
@namespace FluentUI.Demo.Shared

<StackPanel>
    <div>
        Horizontal: <FluentListbox Items=@(Enum.GetValues<StackPanelHorizontalAlignment>()) @bind-SelectedOption="@Horizontal" />
    </div>
    <div>
        Vertical:   <FluentListbox Items=@(Enum.GetValues<StackPanelVerticalAlignment>()) @bind-SelectedOption="@Vertical"  />
    </div>
</StackPanel>
<br/><br/>
<StackPanel Orientation="Orientation.Vertical"
                 HorizontalAlignment="@Horizontal"
                 VerticalAlignment="@Vertical"
                 Style="background-color: lightsalmon; height: 150px;">
    <div>First item</div>
    <div>Second item</div>
    <StackPanel Orientation="Orientation.Horizontal"
                     HorizontalAlignment="@Horizontal"
                     VerticalAlignment="@Vertical"
                     Style="background-color: lightblue;">
        <div style="width: 100px">Item<br />3.1</div>
        <div>Item 3.2</div>
    </StackPanel>
</StackPanel>

@code
{
    StackPanelHorizontalAlignment Horizontal;
    StackPanelVerticalAlignment Vertical;
}