@inject IDialogService DialogService

<div style="margin-bottom: 12px;">
    <FluentLabel>Is Modal</FluentLabel>
    <InputCheckbox @bind-Value="@IsModal" />

    <FluentLabel>Size</FluentLabel>
    <FluentSelect Items="@AllSizes" @bind-Value="@Size" />
</div>

<FluentButton OnClick="@(e => OpenDrawerAsync(DialogAlignment.Start))" Appearance="ButtonAppearance.Primary">Open Drawer (Start)</FluentButton>
<FluentButton OnClick="@(e => OpenDrawerAsync(DialogAlignment.End))" Appearance="ButtonAppearance.Primary">Open Drawer (End)</FluentButton>

<hr />
<div>
    John: @John
</div>

@code
{
    private bool IsModal = true;
    private DialogSize? Size;
    private Dialog.PersonDetails John = new() { Age = "20" };

    private async Task OpenDrawerAsync(DialogAlignment alignment)
    {
        var result = await DialogService.ShowDrawerAsync<Dialog.SimpleDialog>(options =>
        {
            options.Modal = IsModal;
            options.Alignment = alignment;
            options.Size = Size;

            options.Parameters.Add(nameof(Dialog.SimpleDialog.Name), "John");  // Simple type
            options.Parameters.Add(nameof(Dialog.SimpleDialog.Person), John);  // Updatable object

            options.OnStateChange = (e) =>
            {
                Console.WriteLine($"State changed: {e.State}");
            };
        });

        if (result.Cancelled)
        {
            Console.WriteLine($"Dialog Canceled: {result.Value}");
        }
        else
        {
            Console.WriteLine($"Dialog Saved: {result.Value}");
        }
    }

    private IEnumerable<DialogSize?> AllSizes
        => Enum.GetValues(typeof(DialogSize)).Cast<DialogSize?>().Prepend(null);
}
