@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

<fluent-tree-item id="@Id"
                  class="@ClassValue"
                  style="@StyleValue"
                  appearance="@Appearance.ToAttributeValue(isNull: TreeAppearance.Subtle)"
                  size="@Size.ToAttributeValue(isNull: TreeSize.Medium)"
                  selected="@(string.CompareOrdinal(TreeView?.SelectedId, Id) == 0 ? true : null)"
                  expanded="@Expanded"
                  @ontreechanged="@OnTreeChangedAsync"
                  @ontreetoggle="@OnTreeToggleAsync"
                  @attributes="AdditionalAttributes">

    @* Expandable icons: _toggleTreeItem(this) manages expand/collapse, which does not work by default in the webcomponent *@
    @if (IconCollapsed is not null || IconExpanded is not null)
    {
        <span slot="@FluentSlot.Chevron" onclick="_toggleTreeItem(this)">
            @if (IconCollapsed is not null)
            {
                <FluentIcon collapsed Value="@IconCollapsed" Color="Color.Custom" CustomColor="currentColor" />
                @(IconExpanded is null ? DefaultIcon_Expanded : null)
            }

            @if (IconExpanded is not null)
            {
                <FluentIcon expanded Value="@IconExpanded" Color="Color.Custom" CustomColor="currentColor" />
                @(IconCollapsed is null ? DefaultIcon_Collapsed : null)
            }
        </span>
    }

    @*
        <span slot="start">START<br /> START</span>
        <span slot="end">END<br />END</span>
        <span slot="aside">ASIDE<br />ASIDE<br />ASIDE</span>
    *@

    @Text
    @ChildContent

    @if (AsideTemplate is not null)
    {
        <span slot="@FluentSlot.Aside">
            @AsideTemplate
        </span>
    }
</fluent-tree-item>
