@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
<fluent-tree-item @ref=Element
                  class="@Class"
                  aria-label="@Text"
                  aria-expanded="@Expanded.ToAttributeValue()"
                  style="@Style"
                  id="@Id"
                  expanded="@Expanded"
                  selected="@Selected"
                  disabled="@Disabled"
                  @onselectedchange="@HandleSelectedChangeAsync"
                  @onexpandedchange="@HandleExpandedChangeAsync"
                  @attributes="AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <span class="treeitem-text">@Text</span>
    }
    @if (IconExpanded != null || IconCollapsed != null)
    {
        <FluentIcon Value="@(Expanded ? (IconExpanded ?? IconCollapsed) : (IconCollapsed ?? IconExpanded))" Slot="start" />
    }

    @ChildContent

    @if (Items != null)
    {
        foreach (var item in Items)
        {
            @FluentTreeItem.GetFluentTreeItem(Owner, item)
        }
    }
</fluent-tree-item>
