@using static FluentUI.Demo.SampleData.People

<FluentDataGrid Items="@Persons.Take(10).AsQueryable()" style="width: 600px;" RowSize="@DataGridRowSize.Medium">
    <TemplateColumn Title="Person" SortBy="@sortByName">
                <strong>@context.LastName</strong>, @context.FirstName
    </TemplateColumn>
    <TemplateColumn Title="Bonus">
        <FluentButton Appearance="ButtonAppearance.Primary" @onclick="@(() => Bonus(context))">Regular</FluentButton>
        <FluentButton Appearance="ButtonAppearance.Primary" @onclick="@(() => DoubleBonus(context))">Double</FluentButton>
    </TemplateColumn>
</FluentDataGrid>


<p><strong>@message</strong></p>

@code {
    string message = string.Empty;

    GridSort<Person> sortByName = GridSort<Person>
        .ByAscending(p => p.LastName)
        .ThenAscending(p => p.FirstName);

    void Bonus(Person p) => message = $"You want to give {p.FirstName} {p.LastName} a regular bonus";

    void DoubleBonus(Person p) => message = $"You want to give {p.FirstName} {p.LastName} a double bonus";
}
