@namespace Microsoft.FluentUI.AspNetCore.Components
@typeparam TGridItem

<FluentStack Class="resize-options" VerticalAlignment="VerticalAlignment.Center" HorizontalGap="4">
    @if (ResizeType == DataGridResizeType.Discrete)
    {
        <FluentLabel>@Grid.ColumnResizeUISettings.DiscreteLabel</FluentLabel>

        <FluentSpacer />
        <FluentButton OnClick="@HandleShrinkAsync" IconStart="@(new CoreIcons.Regular.Size20.Subtract())" aria-label="@(Grid.ColumnResizeUISettings.ShrinkAriaLabel)" />
        <FluentButton OnClick="@HandleGrowAsync" IconStart="@(new CoreIcons.Regular.Size20.Add())" aria-label="@(Grid.ColumnResizeUISettings.GrowAriaLabel)" />
        <FluentButton OnClick="@HandleResetAsync" IconStart="@(new CoreIcons.Regular.Size20.ArrowReset())" aria-label="@(Grid.ColumnResizeUISettings.ResetAriaLabel)" />
    }
    else
    {
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End" VerticalAlignment="VerticalAlignment.Bottom">
            <div style="display: flex; flex-direction: column; ">
                <FluentTextInput Id="width"
                                 @bind-Value="@_width"
                                 Style="width: 100%;"
                                 TextFieldType="TextInputType.Text"
                                 InputMode="TextInputMode.Numeric"
                                 Immediate="true"
                                 ImmediateDelay="200"
                                 Label="@Grid.ColumnResizeUISettings.ExactLabel"
                                 AutoComplete="off"
                                 Autofocus="true"
                                 @onkeydown="@HandleColumnWidthKeyDownAsync" />
            </div>
            <FluentButton Style="height: 30px;" OnClick="@HandleColumnWidthAsync" Appearance="@ButtonAppearance.Primary" aria-label="@(Grid.ColumnResizeUISettings.SubmitAriaLabel)">
                <FluentIcon Value="@(new CoreIcons.Regular.Size20.Checkmark())" Color="@Color.Default" />
            </FluentButton>
            <FluentButton Style="height: 30px;" OnClick="@HandleResetAsync" IconStart="@(new CoreIcons.Regular.Size20.ArrowReset())" aria-label="@(Grid.ColumnResizeUISettings.ResetAriaLabel)" />
        </FluentStack>
    }
</FluentStack>

