@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.FluentUI.AspNetCore.Components.DataGrid.Infrastructure
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@namespace Microsoft.FluentUI.AspNetCore.Components
@typeparam TGridItem
@{
    Grid.AddColumn(this, InitialSortDirection, IsDefaultSortColumn);
}
@code
{
    private void RenderDefaultHeaderTitle(RenderTreeBuilder __builder)
    {
        @if (HeaderCellTitleTemplate is not null)
        {
            @HeaderCellTitleTemplate(this)
        }
        else
        {
            @Title
        }
    }

    private void RenderDefaultHeaderContent(RenderTreeBuilder __builder)
    {
        @if (HeaderCellItemTemplate is not null)
        {
            @HeaderCellItemTemplate(this)
        }
        else if (Grid.HeaderCellAsButtonWithMenu)
        {
            var headerCapabilities = HeaderCapabilities;
            string? tooltip = Tooltip ? (HeaderTooltip ?? Title) : null;
            string headerPopupLayerStyle = $"position: relative; z-index: {ZIndex.DataGridHeaderPopup};";
            string headerButtonStyle = $"width: calc(100% - 10px); {headerPopupLayerStyle}";

            @if (headerCapabilities.HasAnyAction)
            {
                <FluentButton Id="@_columnId" Appearance="ButtonAppearance.Subtle" Class="col-sort-button" Style="@headerButtonStyle" @onclick="@HandleColumnHeaderClickedAsync" aria-label="@tooltip" title="@tooltip" @oncontextmenu="@(() => Grid.RemoveSortByColumnAsync(this))">
                    <div class="col-title-text" title="@tooltip">
                        @HeaderTitleContent
                    </div>

                    @if (Grid.SortByAscending.HasValue && IsActiveSortColumn)
                    {
                        if (Grid.SortByAscending == true)
                        {
                            <FluentIcon Value="@(new CoreIcons.Regular.Size20.ArrowSortUp())" Slot="@(Align == DataGridCellAlignment.End ? "start" : "end")" Style="opacity: var(--fluent-data-grid-header-opacity);" />
                        }
                        else
                        {
                            <FluentIcon Value="@(new CoreIcons.Regular.Size20.ArrowSortDown())" Slot="@(Align == DataGridCellAlignment.End ? "start" : "end")" Style="opacity: var(--fluent-data-grid-header-opacity);" />
                        }
                    }
                    @if (headerCapabilities.HasOptions && Filtered.GetValueOrDefault())
                    {
                        <FluentIcon Value="@(new CoreIcons.Regular.Size20.Filter())" Slot="@(Align == DataGridCellAlignment.End ? "start" : "end")" Style="opacity: var(--fluent-data-grid-header-opacity);" />
                    }
                </FluentButton>
            }
            else
            {
                <div class="col-title">
                    <div class="col-title-text" title="@tooltip">
                        @HeaderTitleContent
                    </div>
                </div>
            }
            <FluentMenu @key="@(_columnId + ":" + Index)" @ref="@_menu" Trigger="@_columnId" Style="@headerPopupLayerStyle">
                <FluentMenuList>
                    @if (headerCapabilities.CanSort)
                    {
                        <FluentMenuItem OnClick="@(async () => await Grid.SortByColumnAsync(this))" @onkeydown="HandleSortMenuKeyDownAsync"
                                        IconStart="@(Grid.ColumnSortMenuSettings.Icon is not null && Grid.ColumnSortMenuSettings.IconPositionStart ? Grid.ColumnSortMenuSettings.Icon : null)"
                                        IconEnd="@(Grid.ColumnSortMenuSettings.Icon is not null && !Grid.ColumnSortMenuSettings.IconPositionStart ? Grid.ColumnSortMenuSettings.Icon : null)">
                            @GetSortOptionText()

                        </FluentMenuItem>
                    }
                    @if (headerCapabilities.HasOptions)
                    {
                        <FluentMenuItem OnClick="@(async () => await Grid.ShowColumnOptionsAsync(this))" @onkeydown="HandleOptionsMenuKeyDownAsync"
                                        IconStart="@(Grid.ColumnOptionsMenuSettings.Icon is not null && Grid.ColumnOptionsMenuSettings.IconPositionStart ? Grid.ColumnOptionsMenuSettings.Icon : null)"
                                        IconEnd="@(Grid.ColumnOptionsMenuSettings.Icon is not null && !Grid.ColumnOptionsMenuSettings.IconPositionStart ? Grid.ColumnOptionsMenuSettings.Icon : null)">
                            @Localizer[Grid.ColumnOptionsMenuSettings.Text]
                        </FluentMenuItem>
                    }
                    @if (headerCapabilities.CanResize)
                    {
                        <FluentMenuItem OnClick="@(async () => await Grid.ShowColumnResizeAsync(this))" @onkeydown="HandleResizeMenuKeyDownAsync"
                                        IconStart="@(Grid.ColumnResizeMenuSettings.Icon is not null && Grid.ColumnResizeMenuSettings.IconPositionStart ? Grid.ColumnResizeMenuSettings.Icon : null)"
                                        IconEnd="@(Grid.ColumnResizeMenuSettings.Icon is not null && !Grid.ColumnResizeMenuSettings.IconPositionStart ? Grid.ColumnResizeMenuSettings.Icon : null)">
                            @Localizer[Grid.ColumnResizeMenuSettings.Text]
                        </FluentMenuItem>
                    }
                    @if (headerCapabilities.CanReorder)
                    {
                        <FluentMenuItem OnClick="@(async () => await Grid.ShowColumnReorderAsync(this))" @onkeydown="HandleReorderMenuKeyDownAsync"
                                        IconStart="@(Grid.ColumnReorderMenuSettings.Icon is not null && Grid.ColumnReorderMenuSettings.IconPositionStart ? Grid.ColumnReorderMenuSettings.Icon : null)"
                                        IconEnd="@(Grid.ColumnReorderMenuSettings.Icon is not null && !Grid.ColumnReorderMenuSettings.IconPositionStart ? Grid.ColumnReorderMenuSettings.Icon : null)">

                            @Localizer[Grid.ColumnReorderMenuSettings.Text]
                        </FluentMenuItem>
                    }
                </FluentMenuList>
            </FluentMenu>

        }
        else
        {
            var headerCapabilities = HeaderCapabilities;
            string? tooltip = Tooltip ? (HeaderTooltip ?? Title) : null;
            string? align;

            // determine align string based on Align value
            align = Align.ToAttributeValue();
            <div style="display: flex; justify-content: @align; padding: 0 6px; ">
                @if (Align == DataGridCellAlignment.Start || Align == DataGridCellAlignment.Center)
                {
                    @if (headerCapabilities.HasHeaderPopupContent)
                    {
                        @OptionsButton()
                    }
                }

                @if (headerCapabilities.CanSort)
                {
                    <FluentButton Appearance="ButtonAppearance.Subtle" Class="col-sort-button" @onclick="@(() => Grid.SortByColumnAsync(this))" aria-label="@tooltip" title="@tooltip" @oncontextmenu="@(() => Grid.RemoveSortByColumnAsync(this))">
                        <div class="col-title-text" title="@tooltip">
                            @HeaderTitleContent
                        </div>

                        @if (Grid.SortByAscending.HasValue && IsActiveSortColumn)
                        {
                            if (Grid.SortByAscending == true)
                            {
                                <FluentIcon Value="@(new CoreIcons.Regular.Size20.ArrowSortUp())" Slot="end" Style="opacity: var(--fluent-data-grid-header-opacity);" />
                            }
                            else
                            {
                                <FluentIcon Value="@(new CoreIcons.Regular.Size20.ArrowSortDown())" Slot="end" Style="opacity: var(--fluent-data-grid-header-opacity);" />
                            }
                        }
                        @if (headerCapabilities.HasOptions && Filtered.GetValueOrDefault())
                        {
                            <FluentIcon Value="@(Grid.ColumnOptionsMenuSettings.Icon)" Slot="end" Style="opacity: var(--fluent-data-grid-header-opacity);" />
                        }
                    </FluentButton>

                }
                else
                {
                    <div class="col-title">
                        <div class="col-title-text" title="@tooltip">
                            @HeaderTitleContent
                            @if (headerCapabilities.HasOptions && Filtered.GetValueOrDefault() && headerCapabilities.HasHeaderPopupContent)
                            {
                                <span style="padding: 0 5px;">
                                    <FluentIcon Value="@(Grid.ColumnOptionsMenuSettings.Icon)" Slot="end" Style="opacity: var(--fluent-data-grid-header-opacity);" />
                                </span>
                            }
                        </div>
                    </div>
                }

                @if (Align == DataGridCellAlignment.End)
                {
                    @if (headerCapabilities.HasHeaderPopupContent)
                    {
                        @OptionsButton()
                    }
                }
            </div>

        }
    }

    [ExcludeFromCodeCoverage(Justification = "This method can't be tested because of Virtualization (which does not render completely under bUnit).")]

    internal void RenderPlaceholderContent(RenderTreeBuilder __builder, PlaceholderContext placeholderContext)
    {
        // Blank if no placeholder template was supplied, as it's enough to style with CSS by default
        if (PlaceholderTemplate is not null)
        {
            @PlaceholderTemplate(placeholderContext)
        }
    }

    private RenderFragment OptionsButton()
    {
        return
            @<FluentButton IconOnly="true" Appearance="ButtonAppearance.Subtle" class="col-options-button" @onclick="@(() => Grid.ShowColumnOptionsAsync(this))" aria-label="@Localizer[Localization.LanguageResource.DataGrid_OptionsMenu]">
                <FluentIcon Value="@(new CoreIcons.Regular.Size20.ChevronDown())" Color="Color.Default" Width="20px" Style="opacity: var(--fluent-data-grid-header-opacity);" />
            </FluentButton>;
    }
}
