@namespace FluentUI.Demo.Shared

<div>
    <FluentIcon Value="@(new Icons.Filled.Size48.Alert())" Color="@Color.Neutral" />
    <FluentSpacer Width="50" />
    <FluentIcon Value="@(new Icons.Filled.Size48.Alert())" />
    <FluentSpacer Width="50" />
    <FluentIcon Value="@(new Icons.Filled.Size48.Alert())" Color="@Color.Warning" />
    <FluentSpacer Width="50" />
    <FluentIcon Value="@(new Icons.Filled.Size48.Alert())" Color="@Color.Info" />
</div>
