@namespace FluentUI.Demo.Shared

<div style="display: flex; width=100%">
    <FluentIcon Value="@(new Icons.Filled.Size48.Alert())" Color="@Color.Neutral" />
    <FluentSpacer />
    <FluentIcon Value="@(new Icons.Filled.Size48.Alert())" Color="@Color.Accent" />
    <FluentSpacer />
    <FluentIcon Value="@(new Icons.Filled.Size48.Alert())" Color="@Color.Warning" />
    <FluentSpacer />
    <FluentIcon Value="@(new Icons.Filled.Size48.Alert())" Color="@Color.Info" />
</div>