<div>
    <FluentNavMenu Collapsible="false">
        <FluentNavMenuLink Icon="@(new Icons.Regular.Size20.Home())" Href="/">
            <h2>Home</h2>
        </FluentNavMenuLink>

        <FluentNavMenuGroup InitiallyExpanded>
            <h2>More information</h2>
            <FluentNavMenuLink Href="/WhatsNew" Icon="@(new Icons.Regular.Size20.Info())" Text="What's new" />
            <FluentNavMenuLink Href="/UpgradeGuide" Icon="@(new Icons.Regular.Size20.ArrowUp())" Text="Upgrade guide" />
            <FluentNavMenuLink Href="/ProjectSetup" Icon="@(new Icons.Regular.Size20.DocumentToolbox())" Text="Project setup" />
            <FluentNavMenuLink Href="/CodeSetup" Icon="@(new Icons.Regular.Size20.DocumentOnePageSparkle())" Text="Code setup" />
            <FluentNavMenuLink Href="/DesignTokens" Icon="@(new Icons.Regular.Size20.DesignIdeas())" Text="Design tokens" />
            <FluentNavMenuLink Href="/Reboot" Icon="@(new Icons.Regular.Size20.ArrowReset())" Text="Reboot" />
            <FluentNavMenuLink Href="/Templates" Icon="@(new Icons.Regular.Size20.Classification())" Text="Project templates" />
            <FluentNavMenuLink Href="/DialogService" Icon="@(new Icons.Regular.Size20.AppGeneric())" Text="DialogService" />
            <FluentNavMenuLink Href="/ToastService" Icon="@(new Icons.Regular.Size20.FoodToast())" Text="ToastService" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup InitiallyExpanded>
            <h2>Base classes & Utilities</h2>
            <FluentNavMenuLink Href="/FluentComponentBase" Icon="@(new Icons.Regular.Size20.Compose())" Text="FluentComponentBase" />
            <FluentNavMenuLink Href="/FluentInputBase" Icon="@(new Icons.Regular.Size20.Form())" Text="FluentInputBase" />
            <FluentNavMenuLink Href="/clearcache" Icon="@(new Icons.Regular.Size20.Broom())" Text="Clear cache" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup InitiallyExpanded>
            <h2>Layout components</h2>
            <FluentNavMenuLink Href="/Header" Icon="@(new Icons.Regular.Size20.DocumentHeader())" Text="Header" />
            <FluentNavMenuLink Href="/Footer" Icon="@(new Icons.Regular.Size20.DocumentFooter())" Text="Footer" />
            <FluentNavMenuLink Href="/BodyContent" Icon="@(new Icons.Regular.Size20.ContentViewGallery())" Text="BodyContent" />
            <FluentNavMenuLink Href="/Grid" Icon="@(new Icons.Regular.Size20.Grid())" Text="Grid" />
            <FluentNavMenuLink Href="/Layout" Icon="@(new Icons.Regular.Size20.SlideLayout())" Text="Layout" />
            <FluentNavMenuLink Href="/MainLayout" Icon="@(new Icons.Regular.Size20.MatchAppLayout())" Text="MainLayout" />
            <FluentNavMenuLink Href="/Spacer" Icon="@(new Icons.Regular.Size20.Spacebar())" Text="Spacer" />
            <FluentNavMenuLink Href="/Splitter" Icon="@(new Icons.Regular.Size20.SplitVertical())" Text="Splitter" />
            <FluentNavMenuLink Href="/Stack" Icon="@(new Icons.Regular.Size20.Stack())" Text="Stack" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup InitiallyExpanded>
            <h2>Components</h2>
            <FluentNavMenuLink Href="/Accordion" Icon="@(new Icons.Regular.Size20.TextCollapse())" Text="Accordion" />
            <FluentNavMenuLink Href="/Anchor" Icon="@(new Icons.Regular.Size20.Link())" Text="Anchor" />
            <FluentNavMenuLink Href="/AnchoredRegion" Icon="@(new Icons.Regular.Size20.LinkSquare())" Text="Anchored Region" />
            <FluentNavMenuGroup InitiallyExpanded>
                <h3>Badge</h3>
                <FluentNavMenuLink Href="/Badge" Icon="@(new Icons.Regular.Size20.Badge())" Text="Badge" />
                <FluentNavMenuLink Href="/CounterBadge" Icon="@(new Icons.Regular.Size20.NumberCircle1())" Text="CounterBadge" />
                <FluentNavMenuLink Href="/PresenceBadge" Icon="@(new Icons.Regular.Size20.PresenceAvailable())" Text="PresenceBadge" />
            </FluentNavMenuGroup>
            <FluentNavMenuLink Href="/Breadcrumb" Icon="@(new Icons.Regular.Size20.DocumentChevronDouble())" Text="Breadcrumb" />
            <FluentNavMenuLink Href="/Button" Icon="@(new Icons.Regular.Size20.ControlButton())" Text="Button" />            
            <FluentNavMenuLink Href="/Card" Icon="@(new Icons.Regular.Size20.ContactCardGroup())" Text="Card" />
            <FluentNavMenuLink Href="/Checkbox" Icon="@(new Icons.Regular.Size20.CheckboxChecked())" Text="Checkbox" />
            <FluentNavMenuLink Href="/CodeEditor" Icon="@(new Icons.Regular.Size20.CodeBlock())" Text="CodeEditor" />
            <FluentNavMenuLink Href="/Combobox" Icon="@(new Icons.Regular.Size20.BoxEdit())" Text="Combobox" />
            <FluentNavMenuLink Href="/DataGrid" Icon="@(new Icons.Regular.Size20.Grid())" Text="Data grid" />
            <FluentNavMenuLink Href="/DateTime" Icon="@(new Icons.Regular.Size20.CalendarLtr())" Text="Date & Time" />
            <FluentNavMenuLink Href="/Dialog" Icon="@(new Icons.Regular.Size20.AppGeneric())" Text="Dialog" />
            <FluentNavMenuLink Href="/Divider" Icon="@(new Icons.Regular.Size20.DividerShort())" Text="Divider" />
            <FluentNavMenuLink Href="/Drag" Icon="@(new Icons.Regular.Size20.Drag())" Text="Drag and Drop" />
            <FluentNavMenuLink Href="/Emoji" Icon="@(new Icons.Regular.Size20.EmojiSmileSlight())" Text="Emoji" />
            <FluentNavMenuLink Href="/Flipper" Icon="@(new Icons.Regular.Size20.Navigation())" Text="Flipper" />
            <FluentNavMenuLink Href="/Highlighter" Icon="@(new Icons.Regular.Size20.Highlight())" Text="Highlighter" />
            <FluentNavMenuLink Href="/HorizontalScroll" Icon="@(new Icons.Regular.Size20.ArrowForward())" Text="Horizontal Scroll" />
            <FluentNavMenuLink Href="/Icon" Icon="@(new Icons.Regular.Size20.Symbols())" Text="Icon" />
            <FluentNavMenuLink Href="/Label" Icon="@(new Icons.Regular.Size20.DoorTag())" Text="Label" />
            <FluentNavMenuLink Href="/Listbox" Icon="@(new Icons.Regular.Size20.List())" Text="Listbox" />
            <FluentNavMenuLink Href="/Menu" Icon="@(new Icons.Regular.Size20.Navigation())" Text="Menu" />
            <FluentNavMenuLink Href="/MenuButton" Icon="@(new Icons.Regular.Size20.ChevronCircleDown())" Text="MenuButton" />
            <FluentNavMenuLink Href="/MessageBox" Icon="@(new Icons.Regular.Size20.MegaphoneLoud())" Text="MessageBox" />
            <FluentNavMenuLink Href="/NavMenu" Icon="@(new Icons.Regular.Size20.Navigation())" Text="NavMenu" />
            <FluentNavMenuLink Href="/NumberField" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" Text="Number Field" />
            <FluentNavMenuLink Href="/Option" Icon="@(new Icons.Regular.Size20.MultiselectRtl())" Text="Option" />
            <FluentNavMenuLink Href="/Overflow" Icon="@(new Icons.Regular.Size20.MultiselectRtl())" Text="Overflow" />
            <FluentNavMenuLink Href="/Overlay" Icon="@(new Icons.Regular.Size20.CursorHover())" Text="Overlay" />
            <FluentNavMenuLink Href="/Panel" Icon="@(new Icons.Regular.Size20.PanelRight())" Text="Panel" />
            <FluentNavMenuLink Href="/Popover" Icon="@(new Icons.Regular.Size20.TooltipQuote())" Text="Popover" />
            <FluentNavMenuLink Href="/Progress" Icon="@(new Icons.Regular.Size20.SquareHint())" Text="Progress" />
            <FluentNavMenuLink Href="/ProgressRing" Icon="@(new Icons.Regular.Size20.ArrowClockwiseDashes())" Text="Progress Ring" />
            <FluentNavMenuLink Href="/Radio" Icon="@(new Icons.Regular.Size20.RadioButton())" Text="Radio" />
            <FluentNavMenuLink Href="/RadioGroup" Icon="@(new Icons.Regular.Size20.RadioButton())" Text="Radio Group" />
            <FluentNavMenuLink Href="/Search" Icon="@(new Icons.Regular.Size20.SearchSquare())" Text="Search" />
            <FluentNavMenuLink Href="/Select" Icon="@(new Icons.Regular.Size20.GroupList())" Text="Select" />
            <FluentNavMenuLink Href="/Skeleton" Icon="@(new Icons.Regular.Size20.Shortpick())" Text="Skeleton" />
            <FluentNavMenuLink Href="/Slider" Icon="@(new Icons.Regular.Size20.Options())" Text="Slider" />
            <FluentNavMenuLink Href="/SplashScreen" Icon="@(new Icons.Regular.Size20.Drop())" Text="SplashScreen" />    
            <FluentNavMenuLink Href="/Switch" Icon="@(new Icons.Regular.Size20.ToggleLeft())" Text="Switch" />
            <FluentNavMenuLink Href="/Tabs" Icon="@(new Icons.Regular.Size20.TabDesktop())" Text="Tabs" />
            <FluentNavMenuLink Href="/TextArea" Icon="@(new Icons.Regular.Size20.TextboxMore())" Text="TextArea" />
            <FluentNavMenuLink Href="/TextField" Icon="@(new Icons.Regular.Size20.Textbox())" Text="Text Field" />
            <FluentNavMenuLink Href="/Toast" Icon="@(new Icons.Regular.Size20.FoodToast())" Text="Toast" />
            <FluentNavMenuLink Href="/Toolbar" Icon="@(new Icons.Regular.Size20.WrenchScrewdriver())" Text="Toolbar" />
            <FluentNavMenuLink Href="/Tooltip" Icon="@(new Icons.Regular.Size20.TooltipQuote())" Text="Tooltip" />
            <FluentNavMenuLink Href="/TreeView" Icon="@(new Icons.Regular.Size20.TextBulletListTree())" Text="Tree View" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup InitiallyExpanded Href="/Lab/Overview" Icon="@(new Icons.Regular.Size20.Beaker())">
            <h2>Incubation lab</h2>
            <FluentNavMenuGroup InitiallyExpanded>
                <h3>Components</h3>
                <FluentNavMenuLink Href="/Lab/MarkdownSection" Icon="@(new Icons.Regular.Size20.ArrowSortDown())" Text="MarkdownSection" />
                <FluentNavMenuLink Href="/Lab/TableOfContents" Icon="@(new Icons.Regular.Size20.DocumentTextLink())" Text="TableOfContents" />
            </FluentNavMenuGroup>
        </FluentNavMenuGroup>
    </FluentNavMenu>
</div>