<div>
    <FluentNavMenu Collapsible="false">
        <FluentNavMenuLink Class="level1" Text="Home" Icon="@(Icons.Regular.Size24.Home)" Href="/" />

        <FluentNavMenuGroup Expanded=true>
            <h2>More information</h2>
            <FluentNavMenuLink Href="/WhatsNew" Icon="@Icons.Regular.Size24.Info" Text="What's new" />
            <FluentNavMenuLink Href="/ProjectSetup" Icon="@Icons.Regular.Size24.DocumentToolbox" Text="Project setup" />
            <FluentNavMenuLink Href="/CodeSetup" Icon="@Icons.Regular.Size24.DocumentOnePageSparkle" Text="Code setup" />
            <FluentNavMenuLink Href="/DesignTokens" Icon="@Icons.Regular.Size24.DesignIdeas" Text="Design tokens" />
            <FluentNavMenuLink Href="/Reboot" Icon="@Icons.Regular.Size24.ArrowReset" Text="Reboot" />
            <FluentNavMenuLink Href="/Templates" Icon="@Icons.Regular.Size24.Classification" Text="Project templates" />
            <FluentNavMenuLink Href="/DialogService" Icon="@Icons.Regular.Size24.AppGeneric" Text="DialogService" />
            <FluentNavMenuLink Href="/NewIconEmoji" Icon="@Icons.Regular.Size24.Symbols" Text="New Icon and Emoji" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup Expanded=true>
            <h2>Base classes & Utilities</h2>
            <FluentNavMenuLink Href="/FluentComponentBase" Icon="@Icons.Regular.Size24.Compose" Text="FluentComponentBase" />
            <FluentNavMenuLink Href="/FluentInputBase" Icon="@Icons.Regular.Size24.Form" Text="FluentInputBase" />
            <FluentNavMenuLink Href="/clearcache" Icon="@Icons.Regular.Size24.Broom" Text="Clear cache" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup Expanded=true>
            <h2>Layout components</h2>
            <FluentNavMenuLink Href="/Header" Icon="@Icons.Regular.Size24.DocumentHeader" Text="Header" />
            <FluentNavMenuLink Href="/Footer" Icon="@Icons.Regular.Size24.DocumentFooter" Text="Footer" />
            <FluentNavMenuLink Href="/BodyContent" Icon="@Icons.Regular.Size24.ContentViewGallery" Text="BodyContent" />
            <FluentNavMenuLink Href="/Grid" Icon="@Icons.Regular.Size24.Grid" Text="Grid" />
            <FluentNavMenuLink Href="/Layout" Icon="@Icons.Regular.Size24.SlideLayout" Text="Layout" />
            <FluentNavMenuLink Href="/MainLayout" Icon="@Icons.Regular.Size24.MatchAppLayout" Text="MainLayout" />
            <FluentNavMenuLink Href="/Spacer" Icon="@Icons.Regular.Size24.Spacebar" Text="Spacer" />
            <FluentNavMenuLink Href="/Splitter" Icon="@Icons.Regular.Size24.SplitVertical" Text="Splitter" />
            <FluentNavMenuLink Href="/Stack" Icon="@Icons.Regular.Size24.Stack" Text="Stack" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup Expanded=true>
            <h2>Components</h2>
            <FluentNavMenuLink Href="/Accordion" Icon="@Icons.Regular.Size24.TextCollapse" Text="Accordion" />
            <FluentNavMenuLink Href="/Anchor" Icon="@Icons.Regular.Size24.Link" Text="Anchor" />
            <FluentNavMenuLink Href="/AnchoredRegion" Icon="@Icons.Regular.Size24.LinkSquare" Text="Anchored Region" />
            <FluentNavMenuGroup Expanded=true>
                <h3>Badge</h3>
                <FluentNavMenuLink Href="/Badge" Icon="@Icons.Regular.Size24.Badge" Text="Badge" />
                <FluentNavMenuLink Href="/CounterBadge" Icon="@Icons.Regular.Size24.NumberCircle1" Text="CounterBadge" />
                <FluentNavMenuLink Href="/PresenceBadge" Icon="@Icons.Regular.Size24.PresenceAvailable" Text="PresenceBadge" />
            </FluentNavMenuGroup>
            <FluentNavMenuLink Href="/Breadcrumb" Icon="@Icons.Regular.Size24.DocumentChevronDouble" Text="Breadcrumb" />
            <FluentNavMenuLink Href="/Button" Icon="@Icons.Regular.Size24.ControlButton" Text="Button" />            
            <FluentNavMenuLink Href="/Card" Icon="@Icons.Regular.Size24.ContactCardGroup" Text="Card" />
            <FluentNavMenuLink Href="/Checkbox" Icon="@Icons.Regular.Size24.CheckboxChecked" Text="Checkbox" />
            <FluentNavMenuLink Href="/CodeEditor" Icon="@Icons.Regular.Size24.CodeBlock" Text="CodeEditor" />
            <FluentNavMenuLink Href="/Combobox" Icon="@Icons.Regular.Size24.BoxEdit" Text="Combobox" />
            <FluentNavMenuLink Href="/DataGrid" Icon="@Icons.Regular.Size24.Grid" Text="Data grid" />
            <FluentNavMenuLink Href="/DateTime" Icon="@Icons.Regular.Size24.CalendarLTR" Text="Date & Time" />
            <FluentNavMenuLink Href="/Dialog" Icon="@Icons.Regular.Size24.AppGeneric" Text="Dialog" />
            <FluentNavMenuLink Href="/Divider" Icon="@Icons.Regular.Size24.DividerShort" Text="Divider" />
            <FluentNavMenuLink Href="/Drag" Icon="@Icons.Regular.Size24.Drag" Text="Drag and Drop" />
            <FluentNavMenuLink Href="/Emoji" Icon="@Icons.Regular.Size24.EmojiSmileSlight" Text="Emoji" />
            <FluentNavMenuLink Href="/Flipper" Icon="@Icons.Regular.Size24.NavigationPlay" Text="Flipper" />
            <FluentNavMenuLink Href="/Highlighter" Icon="@Icons.Regular.Size24.Highlight" Text="Highlighter" />
            <FluentNavMenuLink Href="/HorizontalScroll" Icon="@Icons.Regular.Size24.ArrowFit" Text="Horizontal Scroll" />
            <FluentNavMenuLink Href="/Icon" Icon="@Icons.Regular.Size24.Symbols" Text="Icon" />
            <FluentNavMenuLink Href="/Label" Icon="@Icons.Regular.Size24.DoorTag" Text="Label" />
            <FluentNavMenuLink Href="/Listbox" Icon="@Icons.Regular.Size24.List" Text="Listbox" />
            <FluentNavMenuLink Href="/Menu" Icon="@Icons.Regular.Size24.Navigation" Text="Menu" />
            <FluentNavMenuLink Href="/MenuButton" Icon="@Icons.Regular.Size24.ChevronCircleDown" Text="MenuButton" />
            <FluentNavMenuLink Href="/MessageBox" Icon="@Icons.Regular.Size24.MegaphoneLoud" Text="MessageBox" />
            <FluentNavMenuLink Href="/NavMenu" Icon="@Icons.Regular.Size24.Navigation" Text="NavMenu" />
            <FluentNavMenuLink Href="/NumberField" Icon="@Icons.Regular.Size24.NumberSymbolSquare" Text="Number Field" />
            <FluentNavMenuLink Href="/Option" Icon="@Icons.Regular.Size24.MultiselectRTL" Text="Option" />
            <FluentNavMenuLink Href="/Overflow" Icon="@Icons.Regular.Size24.MultiselectRTL" Text="Overflow" />
            <FluentNavMenuLink Href="/Overlay" Icon="@Icons.Regular.Size24.CursorHover" Text="Overlay" />
            <FluentNavMenuLink Href="/Panel" Icon="@Icons.Regular.Size24.PanelRight" Text="Panel" />
            <FluentNavMenuLink Href="/Popover" Icon="@Icons.Regular.Size24.TooltipQuote" Text="Popover" />
            <FluentNavMenuLink Href="/Progress" Icon="@Icons.Regular.Size24.SquareHint" Text="Progress" />
            <FluentNavMenuLink Href="/ProgressRing" Icon="@Icons.Regular.Size24.ArrowClockwiseDashes" Text="Progress Ring" />
            <FluentNavMenuLink Href="/Radio" Icon="@Icons.Regular.Size24.RadioButton" Text="Radio" />
            <FluentNavMenuLink Href="/RadioGroup" Icon="@Icons.Regular.Size24.RadioButton" Text="Radio Group" />
            <FluentNavMenuLink Href="/Search" Icon="@Icons.Regular.Size24.SearchSquare" Text="Search" />
            <FluentNavMenuLink Href="/Select" Icon="@Icons.Regular.Size24.GroupList" Text="Select" />
            <FluentNavMenuLink Href="/Skeleton" Icon="@Icons.Regular.Size24.Shortpick" Text="Skeleton" />
            <FluentNavMenuLink Href="/Slider" Icon="@Icons.Regular.Size24.Options" Text="Slider" />
            <FluentNavMenuLink Href="/SplashScreen" Icon="@Icons.Regular.Size24.Drop" Text="SplashScreen" />    
            <FluentNavMenuLink Href="/Switch" Icon="@Icons.Regular.Size24.ToggleLeft" Text="Switch" />
            <FluentNavMenuLink Href="/Tabs" Icon="@Icons.Regular.Size24.TabDesktop" Text="Tabs" />
            <FluentNavMenuLink Href="/TextArea" Icon="@Icons.Regular.Size24.TextBoxMore" Text="TextArea" />
            <FluentNavMenuLink Href="/TextField" Icon="@Icons.Regular.Size24.TextBox" Text="Text Field" />
            <FluentNavMenuLink Href="/Toast" Icon="@Icons.Regular.Size24.FoodToast" Text="Toast" />
            <FluentNavMenuLink Href="/Toolbar" Icon="@Icons.Regular.Size24.WrenchScrewdriver" Text="Toolbar" />
            <FluentNavMenuLink Href="/Tooltip" Icon="@Icons.Regular.Size24.TooltipQuote" Text="Tooltip" />
            <FluentNavMenuLink Href="/TreeView" Icon="@Icons.Regular.Size24.TextBulletListTree" Text="Tree View" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup Expanded=true Href="/Lab/Overview" Icon="@Icons.Regular.Size24.Beaker">
            <h2>Incubation lab</h2>
            <FluentNavMenuGroup Expanded=true>
                <h3>Components</h3>
                <FluentNavMenuLink Href="/Lab/MarkdownSection" Icon="@Icons.Regular.Size24.ArrowSortDown" Text="MarkdownSection" />
                <FluentNavMenuLink Href="/Lab/TableOfContents" Icon="@Icons.Regular.Size24.DocumentTextLink" Text="TableOfContents" />
            </FluentNavMenuGroup>
        </FluentNavMenuGroup>
    </FluentNavMenu>
</div>