<div>
    <FluentNavMenu Collapsible="false">
        <FluentNavMenuLink Class="level1" Text="Home" Icon="@(FluentIcons.Home)" Href="/" Selected=true />

        <FluentNavMenuGroup Expanded=true>
            <h2>More information</h2>
            <FluentNavMenuLink Href="/WhatsNew" Icon="@FluentIcons.Info" Text="What's new" />
            <FluentNavMenuLink Href="/ProjectSetup" Icon="@FluentIcons.DocumentToolbox" Text="Project setup" />
            <FluentNavMenuLink Href="/CodeSetup" Icon="@FluentIcons.DocumentOnePageSparkle" Text="Code setup" />
            <FluentNavMenuLink Href="/DesignTokens" Icon="@FluentIcons.DesignIdeas" Text="Design tokens" />
            <FluentNavMenuLink Href="/Reboot" Icon="@FluentIcons.ArrowReset" Text="Reboot" />
            <FluentNavMenuLink Href="/Templates" Icon="@FluentIcons.Classification" Text="Project templates" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup Expanded=true>
            <h2>Base classes & Utilities</h2>
            <FluentNavMenuLink Href="/FluentComponentBase" Icon="@FluentIcons.Compose" Text="FluentComponentBase" />
            <FluentNavMenuLink Href="/FluentInputBase" Icon="@FluentIcons.Form" Text="FluentInputBase" />
            <FluentNavMenuLink Href="/clearcache" Icon="@FluentIcons.Broom" Text="Clear cache" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup Expanded=true>
            <h2>Layout components</h2>
            <FluentNavMenuLink Href="/Header" Icon="@FluentIcons.DocumentHeader" Text="Header" />
            <FluentNavMenuLink Href="/Footer" Icon="@FluentIcons.DocumentFooter" Text="Footer" />
            <FluentNavMenuLink Href="/BodyContent" Icon="@FluentIcons.ContentViewGallery" Text="BodyContent" />
            <FluentNavMenuLink Href="/Grid" Icon="@FluentIcons.Grid" Text="Grid" />
            <FluentNavMenuLink Href="/Layout" Icon="@FluentIcons.SlideLayout" Text="Layout" />
            <FluentNavMenuLink Href="/MainLayout" Icon="@FluentIcons.MatchAppLayout" Text="MainLayout" />
            <FluentNavMenuLink Href="/Spacer" Icon="@FluentIcons.Spacebar" Text="Spacer" />
            <FluentNavMenuLink Href="/Splitter" Icon="@FluentIcons.SplitVertical" Text="Splitter" />
            <FluentNavMenuLink Href="/Stack" Icon="@FluentIcons.Stack" Text="Stack" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup Expanded=true>
            <h2>Components</h2>
            <FluentNavMenuLink Href="/Accordion" Icon="@FluentIcons.TextCollapse" Text="Accordion" />
            <FluentNavMenuLink Href="/Anchor" Icon="@FluentIcons.Link" Text="Anchor" />
            <FluentNavMenuLink Href="/AnchoredRegion" Icon="@FluentIcons.LinkSquare" Text="Anchored Region" />
            <FluentNavMenuGroup Expanded=true>
                <h3>Badge</h3>
                <FluentNavMenuLink Href="/Badge" Icon="@FluentIcons.Badge" Text="Badge" />
                <FluentNavMenuLink Href="/CounterBadge" Icon="@FluentIcons.NumberCircle1" Text="CounterBadge" />
                <FluentNavMenuLink Href="/PresenceBadge" Icon="@FluentIcons.PresenceAvailable" Text="PresenceBadge" />
            </FluentNavMenuGroup>
            <FluentNavMenuLink Href="/Breadcrumb" Icon="@FluentIcons.DocumentChevronDouble" Text="Breadcrumb" />
            <FluentNavMenuLink Href="/Button" Icon="@FluentIcons.ControlButton" Text="Button" />
            <FluentNavMenuLink Href="/Calendar" Icon="@FluentIcons.CalendarLTR" Text="Calendar" />
            <FluentNavMenuLink Href="/Card" Icon="@FluentIcons.ContactCardGroup" Text="Card" />
            <FluentNavMenuLink Href="/Checkbox" Icon="@FluentIcons.CheckboxChecked" Text="Checkbox" />
            <FluentNavMenuLink Href="/CodeEditor" Icon="@FluentIcons.CodeBlock" Text="CodeEditor" />
            <FluentNavMenuLink Href="/Combobox" Icon="@FluentIcons.BoxEdit" Text="Combobox" />
            <FluentNavMenuLink Href="/DataGrid" Icon="@FluentIcons.Grid" Text="Data grid" />
            <FluentNavMenuLink Href="/Dialog" Icon="@FluentIcons.AppGeneric" Text="Dialog" />
            <FluentNavMenuLink Href="/Divider" Icon="@FluentIcons.DividerShort" Text="Divider" />
            <FluentNavMenuLink Href="/Emoji" Icon="@FluentIcons.EmojiSmileSlight" Text="Emoji" />
            <FluentNavMenuLink Href="/Flipper" Icon="@FluentIcons.NavigationPlay" Text="Flipper" />
            <FluentNavMenuLink Href="/Highlighter" Icon="@FluentIcons.Highlight" Text="Highlighter" />
            <FluentNavMenuLink Href="/HorizontalScroll" Icon="@FluentIcons.ArrowFit" Text="Horizontal Scroll" />
            <FluentNavMenuLink Href="/Icon" Icon="@FluentIcons.Symbols" Text="Icon" />
            <FluentNavMenuLink Href="/Listbox" Icon="@FluentIcons.List" Text="Listbox" />
            <FluentNavMenuLink Href="/MarkdownSection" Icon="@FluentIcons.ArrowSortDown" Text="MarkdownSection" />
            <FluentNavMenuLink Href="/Menu" Icon="@FluentIcons.Navigation" Text="Menu" />
            <FluentNavMenuLink Href="/MenuButton" Icon="@FluentIcons.ChevronCircleDown" Text="MenuButton" />
            <FluentNavMenuLink Href="/NavMenu" Icon="@FluentIcons.Navigation" Text="NavMenu" />
            <FluentNavMenuLink Href="/NumberField" Icon="@FluentIcons.NumberSymbolSquare" Text="Number Field" />
            <FluentNavMenuLink Href="/Option" Icon="@FluentIcons.MultiselectRTL" Text="Option" />
            <FluentNavMenuLink Href="/Overflow" Icon="@FluentIcons.MultiselectRTL" Text="Overflow" />
            <FluentNavMenuLink Href="/Overlay" Icon="@FluentIcons.CursorHover" Text="Overlay" />
            <FluentNavMenuLink Href="/Popover" Icon="@FluentIcons.TooltipQuote" Text="Popover" />
            <FluentNavMenuLink Href="/Progress" Icon="@FluentIcons.SquareHint" Text="Progress" />
            <FluentNavMenuLink Href="/ProgressRing" Icon="@FluentIcons.ArrowClockwiseDashes" Text="Progress Ring" />
            <FluentNavMenuLink Href="/Radio" Icon="@FluentIcons.RadioButton" Text="Radio" />
            <FluentNavMenuLink Href="/RadioGroup" Icon="@FluentIcons.RadioButton" Text="Radio Group" />
            <FluentNavMenuLink Href="/Search" Icon="@FluentIcons.SearchSquare" Text="Search" />
            <FluentNavMenuLink Href="/Select" Icon="@FluentIcons.GroupList" Text="Select" />
            <FluentNavMenuLink Href="/Skeleton" Icon="@FluentIcons.Shortpick" Text="Skeleton" />
            <FluentNavMenuLink Href="/Slider" Icon="@FluentIcons.Options" Text="Slider" />
            <FluentNavMenuLink Href="/Switch" Icon="@FluentIcons.ToggleLeft" Text="Switch" />
            <FluentNavMenuLink Href="/TableOfContents" Icon="@FluentIcons.DocumentTextLink" Text="Table of Contents" />
            <FluentNavMenuLink Href="/Tabs" Icon="@FluentIcons.TabDesktop" Text="Tabs" />
            <FluentNavMenuLink Href="/TextArea" Icon="@FluentIcons.TextBoxMore" Text="TextArea" />
            <FluentNavMenuLink Href="/TextField" Icon="@FluentIcons.TextBox" Text="Text Field" />
            <FluentNavMenuLink Href="/Toast" Icon="@FluentIcons.FoodToast" Text="Toast" />
            <FluentNavMenuLink Href="/Toolbar" Icon="@FluentIcons.WrenchScrewdriver" Text="Toolbar" />
            <FluentNavMenuLink Href="/Tooltip" Icon="@FluentIcons.TooltipQuote" Text="Tooltip" />
            <FluentNavMenuLink Href="/TreeView" Icon="@FluentIcons.TextBulletListTree" Text="Tree View" />
        </FluentNavMenuGroup>
    </FluentNavMenu>
</div>