@page "/"

<PageTitle>FluentUI Blazor - Icons explorer</PageTitle>

<div class="container">
    <div class="header">
        <FluentStack Wrap="true" HorizontalGap="12px" Margin="@Margin.Vertical2" VerticalAlignment="VerticalAlignment.Center">
            <FluentTextInput Placeholder="Part of icon name"
                             Spellcheck="false"
                             @bind-Value="@Criteria.SearchTerm"
                             @bind-Value:after="@StartSearchAsync"
                             ChangeAfterKeyPress="@([KeyPress.For(KeyCode.Enter)])" />

            <FluentSelect Items="@(GetEnumValues<IconSize>())"
                          @bind-Value="@Criteria.Size"
                          @bind-Value:after="@StartSearchAsync" />

            <FluentSelect Items="@(GetEnumValues<IconVariant>())"
                          @bind-Value="@Criteria.Variant"
                          @bind-Value:after="@StartSearchAsync" />

            <FluentSelect Items="@(GetEnumValues<Color>())"
                          @bind-Value="@Criteria.Color"
                          @bind-Value:after="@StartSearchAsync" />

            <FluentButton IconStart="@(new Icons.Regular.Size20.ArrowRight())"
                          OnClick="@StartSearchAsync" />
        </FluentStack>
    </div>
    <div class="body">
        @if (SearchInProgress)
        {
            <FluentSpinner />
        }
        else if (IconsFound.Any())
        {
            <FluentText As="TextTag.Paragraph">
                Click on upper right clipboard icon in a card to copy a ready to paste "FluentIcon"
                component declaration to the clipboard.
            </FluentText>

            <div style="min-height: 12px;" />

            <FluentStack Orientation="Orientation.Horizontal" Wrap="true" HorizontalGap="12px" VerticalGap="12px">
                @foreach (var item in IconsFound)
                {
                    <PreviewCard Icon="@item" IconColor="@Criteria.Color" />
                }
            </FluentStack>
        }
        else
        {
            <FluentText Class="help">
                Enter part of the icon name and press the search arrow or press Enter.
            </FluentText>
        }
    </div>
    <div class="footer">
        @if (!SearchInProgress)
        {

            <FluentText>
                @(IconsFound.Length > 0 ? IconsFound.Length : "no") icons found
            </FluentText>
        }
    </div>
</div>

<script>
    window.copyToClipboard = function(text) {
        navigator.clipboard.writeText(text).then(function () {
            return "";
        }).catch(function (error) {
            return error;
        });
    }
</script>
