<FluentRadioGroup2 @bind-Value="@ValueString" Label="Favorite Fruit" Orientation="Orientation.Vertical">
    <FluentRadio2 Label="Apple" />
    <FluentRadio2 Label="Pear" />
    <FluentRadio2 Label="Banana" />
    <FluentRadio2 Label="Orange" />
</FluentRadioGroup2>

<div>
    Selected: @ValueString
</div>

<FluentDivider Appearance="DividerAppearance.Brand" Margin="@Margin.All2" >Next</FluentDivider>

<FluentRadioGroup2 @bind-Value="@ValueInt" Label="Favorite Day">
    <FluentRadio2 Label="Monday" Value="1" TValue="int?" />
    <FluentRadio2 Label="Tuesday" Value="2" TValue="int?" />
    <FluentRadio2 Label="Wednesday" Value="3" TValue="int?" />
</FluentRadioGroup2>

<div>
    Selected: @ValueInt
</div>

<FluentDivider Appearance="DividerAppearance.Brand" Margin="@Margin.All2">Next</FluentDivider>


<FluentRadioGroup2 Label="The winner is"
                   @bind-Value="@Value2"
                   RadioLabel="@(i => i?.FirstName)"
                   RadioDisabled="@(i => i?.Male == true)"
                   RadioValue="@(i => i?.Id)">
    @foreach (var employee in Employees)
    {
        <FluentRadio2 Value="@employee" />
    }
</FluentRadioGroup2>

<div>
    Selected: @Value2?.FirstName
</div>

<FluentDivider Appearance="DividerAppearance.Brand" Margin="@Margin.All2">Next</FluentDivider>

<FluentRadioGroup2 Label="The winner is"
                   Items="@Employees"
                   @bind-Value="@Value2"
                   RadioLabel="@(i => i?.FirstName)"
                   RadioDisabled="@(i => i?.Male == true)"
                   RadioValue="@(i => i?.Id)">
</FluentRadioGroup2>

<div>
    Selected: @Value2?.FirstName
</div>
 
@code
{
    string? ValueString = "Pear";
    int? ValueInt;

    static SampleData.People.Person[] Employees = SampleData.People.GeneratePersons(5).ToArray();
    SampleData.People.Person? Value2;
}
