@using Microsoft.FluentUI.AspNetCore.Components.Tests.Extensions
@using Xunit
@using static Microsoft.FluentUI.AspNetCore.Components.FluentOverflow
@inherits FluentUITestContext

@code
{
    public FluentAppBarTests()
    {
        JSInterop.Mode = JSRuntimeMode.Loose;
        Services.AddFluentUIComponents();
    }

    [Fact]
    public void FluentAppBar_ChildContent()
    {
        // Arrange
        // Act
        var cut = Render(@<FluentAppBar><div>Child content</div></FluentAppBar>);

		// Assert
		var ab = cut.Find(".fluent-appbar");
		Assert.NotNull(ab);
    }

    [Fact]
    public void FluentAppBar_ChildContent_Horizontal()
    {
        // Arrange
        // Act
        var cut = Render(@<FluentAppBar Orientation="@Orientation.Horizontal"><div>Child content</div></FluentAppBar>);

		// Assert
		var ab = cut.Find(".fluent-appbar");
		Assert.NotNull(ab);
    }

    [Fact]
    public async Task FluentAppBar_Overflow()
    {
        // Arrange

        // Act
        var cut = Render<FluentAppBar>(
            @<FluentAppBar Id="appbar">
                <FluentAppBarItem Href="/" Id="id1" Text="My item" IconRest="@(new Samples.Icons.Samples.Info())" IconActive="@(new Samples.Icons.Samples.Warning())" Tooltip="My item tooltip">
                </FluentAppBarItem>
                <FluentAppBarItem Href="/" Id="id2" Text="My item 2" IconRest="@(new Samples.Icons.Samples.Info())" IconActive="@(new Samples.Icons.Samples.Warning())" Tooltip="My item 2 tooltip">
                </FluentAppBarItem>
                </FluentAppBar>
            );

        // This does not contribute to html output but helps for code coverage testing
        await cut.Instance.OverflowRaisedAsync(new OverflowItem[] { new OverflowItem() { Id = "id1", Overflow = false, Text = "My item" }, new OverflowItem() { Id = "id2", Overflow = true, Text = "My item 2" } });

        var item = cut.FindComponent<FluentAppBarItem>();
        item.Instance.Overflow = true;

        cut.Render();

		// Assert
		var popup = cut.Find("fluent-popover-b");
		Assert.NotNull(popup);
    }

    [Fact]
    public async Task FluentAppBar_NoPopoverSearch()
    {
        // Arrange

        // Act
        var cut = Render<FluentAppBar>(
            @<FluentAppBar Id="appbar" PopoverShowSearch="false">
                <FluentAppBarItem Href="/" Id="id1" Text="My item" IconRest="@(new Samples.Icons.Samples.Info())" IconActive="@(new Samples.Icons.Samples.Warning())" Tooltip="My item tooltip">
                </FluentAppBarItem>
                <FluentAppBarItem Href="/" Id="id2" Text="My item 2" IconRest="@(new Samples.Icons.Samples.Info())" IconActive="@(new Samples.Icons.Samples.Warning())" Tooltip="My item 2 tooltip">
                </FluentAppBarItem>
            </FluentAppBar>
        );

        // This does not contribute to html output but helps for code coverage testing
        await cut.Instance.OverflowRaisedAsync(new OverflowItem[] { new OverflowItem() { Id = "id1", Overflow = false, Text = "My item" }, new OverflowItem() { Id = "id2", Overflow = true, Text = "My item 2" } });
        var item = cut.FindComponent<FluentAppBarItem>();
        item.Instance.Overflow = true;

        cut.Render();

        // Assert
		Assert.Throws<ElementNotFoundException>(() => cut.Find("fluent-text-input"));
	}
}
