@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

<div class="presencebadge-container">
    @ChildContent
    <div class="@ClassValue" style="@StyleValue" title="@Status.ToString()">
        <FluentIcon Name="@_config.name" Style="background-color: var(--neutral-layer-1);" Size="_config.size" Color=Color.Custom CustomColor="@_config.color" Variant="@_config.variant" />
    </div>
</div>
