@page "/Toast"
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@using FluentUI.Demo.Shared.Pages.Toast.Examples
@using Microsoft.Fast.Components.FluentUI

<h1>Toast</h1>

<p>
    Toasts, referred to as “notifications” in the UI, are pop-up notifications that keeps users informed by briefly:
    <ul>
        <li>Confirming an action they took.</li>
        <li>Informing them about a timely event.</li>
        <li>Communicating the status of a process initiated.</li>
    </ul>
</p>
<p>
    The information in a toast is useful and relevant but never critical.
</p>
<ApiDocumentation Component="typeof(FluentToasts)" />
<ApiDocumentation Component="typeof(FluentToast)" />

<h2>Examples</h2>

<DemoSection Title="Default Toast" Component="typeof(ToastDefaultExample)">

</DemoSection>

<DemoSection Title="Toast with options" Component="typeof(ToastDetailledExample)">

</DemoSection>


<h1>Toasts</h1>

<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowInfo("INFO message"))">Info Toast</FluentButton>


<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowSuccess("I'm a SUCCESS message with a lot of text to see what a toast looks like when it's really big."))">Success Toast</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowWarning("I'm a WARNING message"))">Warning Toast</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowError("I'm an ERROR message"))">Error Toast</FluentButton>

<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowInfo("Click to refresh the page",  settings => settings.OnClick = () => NavigationManager.NavigateTo("/", true)))">
    Info Toast with custom action on click
</FluentButton>

<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowToast(ToastIntent.Custom, "I'm a message with a custom icon", settings => { settings.Icon = (FluentIcons.Delete,Color.Accent, IconVariant.Regular); }))">Toast with custom icon</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowToast(ToastIntent.Custom, "I'm a message without an icon"))">Toast without icon</FluentButton>

<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowInfo("INFO message with CtA", settings => {
    settings.PrimaryAction = new() { Text = "Primary" };
    }))">Info Toast</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="@(() => ToastService.ShowInfo("INFO message with CtA", settings => {
    settings.PrimaryAction = new() { Text = "Primary" };
    settings.PercentageComplete = 50;
    }))">Info Toast</FluentButton>
<hr />



<h1>Toasts - Remove Toasts</h1>

<FluentButton Appearance=Appearance.Neutral @onclick="ClearAll">Clear All Toasts</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="ClearWarnings">Clear Warning Toasts</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="ClearInfos">Clear Info Toasts</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="ClearCustom">Clear Custom Toasts</FluentButton>
<hr />

<h1>Toasts - Remove queued Toasts</h1>

<FluentButton Appearance=Appearance.Neutral @onclick="ClearQueue">Clear all queued Toasts</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="ClearQueueWarnings">Clear queued Warning Toasts</FluentButton>
<FluentButton Appearance=Appearance.Neutral @onclick="ClearQueueInfos">Clear queued Info Toasts</FluentButton>

@code
{
    
    private ToastParameters _confirmParameters = default!;

    protected override void OnInitialized()
    {
    
        _confirmParameters = new ToastParameters()
        .Add(nameof(ConfirmationToast.PrimaryAction), new ToastAction()
        {
            Text = "Confirm",
            Href = string.Empty,
        });

        
    }

    

    private void ClearAll()
        => ToastService.ClearAll();

    private void ClearWarnings()
        => ToastService.ClearToasts(ToastIntent.Warning);

    private void ClearInfos()
        => ToastService.ClearInfoToasts();

    private void ClearCustom()
        => ToastService.ClearCustomToasts();

    private void ClearQueue()
        => ToastService.ClearQueue();

    private void ClearQueueWarnings()
        => ToastService.ClearQueueToasts(ToastIntent.Warning);

    private void ClearQueueInfos()
        => ToastService.ClearQueueInfoToasts();
}
