@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<li status="@Status.ToAttributeValue()" style="@StepStyle">
    <div>       
        <FluentIcon Value="@StepIcon" />
        <FluentLabel Class="fluent-wizard-title" Typo="Typography.Body" Disabled=@Disabled>@Label</FluentLabel>
        <FluentLabel Class="fluent-wizard-summary" Typo="Typography.Body" Disabled=@Disabled>@Summary</FluentLabel>
    </div>
</li>