<FluentDataGrid Items="@People" ShowHover="true" TGridItem="Person">
    <SelectColumn TGridItem="Person"
                  SelectMode="@DataGridSelectMode.Multiple"
                  IconIndeterminate="@null"
                  @bind-SelectedItems="@SelectedItems"
                  Property="@(e => e.Selected)"
                  OnSelect="@(e => e.Selected = !e.Selected)"
                  SelectAllChanged="@(all => People.ToList().ForEach(p => p.Selected = (all == true)))" />
    <PropertyColumn Width="100px" Property="@(p => p.PersonId)" Title="ID" />
    <PropertyColumn Width="300px" Property="@(p => p.Name)" />
    <PropertyColumn Width="150px" Property="@(p => p.BirthDate)" Format="yyyy-MM-dd" Sortable="true" />
</FluentDataGrid>

<div>
    <b style="min-width: 150px; display: inline-block;">SelectedItems:</b>
    @String.Join("; ", SelectedItems.Select(p => p.Name))
</div>
<div>
    <b style="min-width: 150px; display: inline-block;">Peoples:</b>
    @String.Join("; ", People.Where(p => p.Selected).Select(p => p.Name))
</div>

@code {
    List<Person> SelectedItems = new(People.Where(p => p.Selected));

    record Person(int PersonId, string Name, DateOnly BirthDate)
    {
        public bool Selected { get; set; }
    };

    static IQueryable<Person> People = new[]
    {
        new Person(10895, "Jean Martin", new DateOnly(1985, 3, 16)) { Selected = true },
        new Person(10944, "António Langa", new DateOnly(1991, 12, 1)),
        new Person(11203, "Julie Smith", new DateOnly(1958, 10, 10)),
        new Person(11205, "Nur Sari", new DateOnly(1922, 4, 27)),
        new Person(11898, "Jose Hernandez", new DateOnly(2011, 5, 3)),
        new Person(12130, "Kenji Sato", new DateOnly(2004, 1, 9)),
    }.AsQueryable();
}
