<FluentSwitch @bind-Value="@UseGlobalScrollbar" Label=" GlobalScrollbar" Margin="@Margin.All2" />
<FluentSwitch @bind-Value="@UseHeaderSticky" Label="Header Sticky" Margin="@Margin.All2" Disabled="@(!UseGlobalScrollbar)" />
<FluentSwitch @bind-Value="@UseMenuSticky" Label="Menu Sticky" Margin="@Margin.All2" Disabled="@(!UseGlobalScrollbar)" />
<FluentSwitch @bind-Value="@UseFooterSticky" Label="Footer Sticky" Margin="@Margin.All2" Disabled="@(!UseGlobalScrollbar)" />

<div style="border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);">

    <FluentLayout GlobalScrollbar="@UseGlobalScrollbar" Height="400px">

        <!-- Header -->
        <FluentLayoutItem Area="@LayoutArea.Header" Sticky="@UseHeaderSticky">
            <FluentStack VerticalAlignment="VerticalAlignment.Center">
                <FluentLayoutHamburger />
                <FluentText Weight="TextWeight.Bold" Size="TextSize.Size400">
                    Microsoft Demo
                </FluentText>
            </FluentStack>
        </FluentLayoutItem>

        <!-- Menu -->
        <FluentLayoutItem Area="@LayoutArea.Menu" Sticky="@UseMenuSticky"
                          Width="150px" Padding="@Padding.All2" 
                          Style="border-right: var(--strokeWidthThin) solid var(--colorNeutralStroke1);">

            <FluentText Weight="TextWeight.Bold">Navigation</FluentText>
            @NavigationContent
        </FluentLayoutItem>

        <!-- Content -->
        <FluentLayoutItem Area="@LayoutArea.Content" Padding="@Padding.All3">
            <FluentText Weight="TextWeight.Bold">Content</FluentText>
            @BodyContent
        </FluentLayoutItem>

        <!-- Aside -->
        <FluentLayoutItem Area="@LayoutArea.Aside" Width="120px" Sticky="true"
                          Style="padding: 8px; background-color: var(--colorBrandBackground2);">
            <FluentText Weight="TextWeight.Bold">News</FluentText>
            @AsideContent
        </FluentLayoutItem>

        <!-- Footer -->
        <FluentLayoutItem Area="@LayoutArea.Footer" Sticky="@UseFooterSticky">
            &copy; Microsoft @DateTime.Now.Year
        </FluentLayoutItem>

    </FluentLayout>
</div>

@code
{
    bool UseGlobalScrollbar = false;
    bool UseHeaderSticky = false;
    bool UseMenuSticky = false;
    bool UseFooterSticky = false;

    static MarkupString NavigationContent = SampleData.Text.Titles.Take(20).ToMarkupList("li");
    static MarkupString BodyContent = SampleData.Text.LoremIpsum.Take(10).ToMarkupList("p");
    static MarkupString AsideContent = (MarkupString)SampleData.Text.LoremIpsum.ElementAt(2)[..200];
}
