@namespace Microsoft.Fast.Components.FluentUI
@using Microsoft.AspNetCore.Components.Rendering;
@inherits FluentComponentBase

@if (!String.IsNullOrEmpty(CustomId))
{
    <style>@CustomStyle</style>
}


@if (Loading)
{
    <span class="loading-button">
        @_renderButton
        
            <FluentProgressRing />
        
    </span>
}
else
{
    @_renderButton
}

@code{
    protected void RenderButton(RenderTreeBuilder __builder)
    {
        <fluent-button @ref=Element
               class="@Class"
               style="@Style"
               autofocus=@Autofocus
               form=@FormId
               formaction=@Action
               formenctype=@Enctype
               formmethod=@Method
               formnovalidate=@NoValidate
               formtarget=@Target
               type=@Type.ToAttributeValue()
               id=@Id
               value=@Value
               current-value=@CurrentValue
               disabled=@(Disabled || Loading)
               name=@Name
               required=@Required
               title=@Title
               appearance=@Appearance.ToAttributeValue()
               custom-id="@CustomId"
               @onclick="@OnClickHandlerAsync"
               @attributes="AdditionalAttributes">
    @if (IconStart != null)
    {
        <FluentIcon Value="@IconStart" Slot="@(ChildContent != null ? "start" : null)" />
    }
    @ChildContent
    @if (IconEnd != null)
    {
        <FluentIcon Value="@IconEnd" Slot="@(ChildContent != null ? "end" : null)" />
    }
</fluent-button>
    }
}