@page "/Calendar"

@using FluentUI.Demo.Shared.Pages.Calendar.Examples

<h1>Calendar</h1>

<p>
    <code>&lt;FluentCalendar&gt;</code> wraps the <code>&lt;fluent-calendar&gt;</code> element, a web component implementation of a month calendar display leveraging the Fluent UI design system.
    It allows for setting a range of selected and/or disabled dates and can handle a click on a day event (if not <code>Readonly</code>)
</p>

<ApiDocumentation Component="typeof(FluentCalendar)" />

<h2>Examples</h2>

<DemoSection Title="Default calendar" Component="@typeof(CalendarDefault)"></DemoSection>

<DemoSection Title="Readonly calendar" Component="@typeof(CalendarReadonly)"></DemoSection>

<DemoSection Title="Show 6 weeks per month" Component="@typeof(Calendar6Weeks)"></DemoSection>

<DemoSection Title="Use 2 digits for day number" Component="@typeof(CalendarDayFormat)"></DemoSection>

<DemoSection Title="Bind to selected dates" Component="@typeof(CalendarBindSelected)"></DemoSection>

<DemoSection Title="Disabled dates not selectable" Component="@typeof(CalendarDisabledNotSelectable)"></DemoSection>

<DemoSection Title="No selection beyond month" Component="@typeof(CalendarNoSelectionBeyondMonth)"></DemoSection>
