@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div class="@ClassValue" style="@StyleValue" readonly="@(ReadOnly ? true : null)">
    @* Year name *@
    <div class="title" part="title" aria-label="@CalendarExtended.GetYear()">
        <span part="year" class="year">
            @CalendarExtended.GetYear()
        </span>
        <span part="move" class="change-year">
            @if (Value.Year == DateTime.MinValue.Year)
            {
                <div class="previous-year" />
            }
            else
            {
                <div class="previous-year"
                     title="@CalendarExtended.GetYear(Value.AddYears(-1))"
                     @onclick="@((e) => this.Value = Value.AddYears(-1))">
                    @((MarkupString)ArrowUp)
                </div>
            }
            @if (Value.Year == DateTime.MaxValue.Year)
            {
                <div class="next-year" />
            }
            else
            {
                <div title="@CalendarExtended.GetYear(Value.AddYears(+1))"
                     class="next-year"
                     @onclick="@((e) => this.Value = Value.AddYears(+1))">
                    @((MarkupString)ArrowDown)
                </div>
            }
        </span>
    </div>

    <div class="months" part="months">
        @foreach (var month in CalendarExtended.GetMonthNames())
        {
            <div class="month">
                <div>@month.Abbreviated</div>
            </div>

            @*
        <div part="day"
        class="day"
        disabled="@dayProperties.IsDisabled"
        inactive="@dayProperties.IsInactive"
        today="@dayProperties.IsToday"
        selected="@dayProperties.IsSelected"
        aria-label="@dayProperties.Title"
        value="@dayProperties.DayIdentifier"
        @onclick="@((e) => OnSelectedDateHandlerAsync(day, dayProperties.IsDisabled || dayProperties.IsInactive))">
        @if (DaysTemplate == null)
        {
        @dayProperties.DayNumber
        }
        else
        {
        @DaysTemplate(dayProperties)
        }
        </div>
        *@
        }
    </div>
</div>