@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div class="@ClassValue" style="@StyleValue" readonly="@(ReadOnly ? true : null)">
    @* Year name *@
    <div class="title" part="title" aria-label="@CalendarExtended.GetYear()">
        <span part="year" class="year @AnimationClass">
            @CalendarExtended.GetYear()
        </span>
        <span part="move" class="change-year">
            @if (_pickerMonth.Year == DateTime.MinValue.Year)
            {
                <div class="previous-year" />
            }
            else
            {
                <div class="previous-year"
                     title="@CalendarExtended.GetYear(_pickerMonth.AddYears(-1))"
                     @onclick="@(e => MoveYearAsync(-1))">
                    @((MarkupString)ArrowUp)
                </div>
            }
            @if (_pickerMonth.Year == DateTime.MaxValue.Year)
            {
                <div class="next-year" />
            }
            else
            {
                <div title="@CalendarExtended.GetYear(_pickerMonth.AddYears(+1))"
                     class="next-year"
                     @onclick="@(e => MoveYearAsync(+1))">
                    @((MarkupString)ArrowDown)
                </div>
            }
        </span>
    </div>

    <div class="months" part="months">
        @foreach (var month in CalendarExtended.GetMonthNames())
        {
            <div class="month @AnimationClass"
                 selected="@SelectedAttribute(_pickerMonth.Year, month.Index)"
                 @onclick="@(e => SelectMonthHandlerAsync(_pickerMonth.Year, month.Index))">
                <div>@month.Abbreviated</div>
            </div>
        }
    </div>
</div>