@namespace Microsoft.FluentUI.AspNetCore.Components
@implements IDialogContentComponent<SplashScreenContent>

<FluentDialogHeader Visible="false" />
<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Class="fluent-launch">
        <h1>
            @Content.Title
        </h1>
        <h2>
            @Content.SubTitle
        </h2>
        <FluentProgressRing />
        <h3>
            @Content.LoadingText
        </h3>
        <p>@Content.Message</p>
        <div class="icon">
            @(new MarkupString(Content.Logo!))
        </div>
    </FluentStack>
</FluentDialogBody>
<FluentDialogFooter Visible="false" />

