@namespace Microsoft.FluentUI.AspNetCore.Components

@if (!string.IsNullOrEmpty(Label) || ChildContent is not null)
{
    var _orientation = Orientation == Orientation.Horizontal ? Orientation.ToAttributeValue() : null; 

    <label for="@ForId" class="fluent-input-label" orientation="@_orientation" @attributes="@AdditionalAttributes" aria-label="@AriaLabel">
        @Label
        @ChildContent
        @if (Required)
        {
            @LibraryConfiguration.RequiredLabel;
        }
    </label>
}
