<FluentStack Style="margin: 20px;">
    <FluentCheckbox Id="check1" ThreeState="true" @bind-Value="@value1" @bind-CheckState="@state1" Label="ThreeState = true" Style="width: 200px;" />
    <div>
        Value = @value1 - CheckState = @(state1?.ToString() ?? "null (Indeterminate)")
    </div>
</FluentStack>

<FluentStack Style="margin: 20px;">
    <FluentCheckbox Id="check2" ThreeState="false" @bind-Value="@value2" @bind-CheckState="@state2" Label="ThreeState = false" Style="width: 200px;" />
    <div>
        Value = @value2 - CheckState = @state2
    </div>
</FluentStack>

<FluentButton OnClick="@(e => value2 = !value2)">Switch Value2</FluentButton>


<br/> <br/>

<FluentButton OnClick="@(e => value1 = !value1)">Checked</FluentButton>
<FluentButton OnClick="@(e => intermediate1 = !intermediate1)">Indeterminate</FluentButton>

@code {
    bool value1, value2;
    bool intermediate1 = true, intermediate2;
    bool? check1;
    bool? state1, state2;
}
