<h4>Horizontal</h4>
<FluentStack>
    <FluentCheckbox @bind-Value="@value1" Label="Apples" />
    <FluentCheckbox @bind-Value="@value2" Disabled="true" Label="Bananas (disabled)" />
    <FluentCheckbox @bind-Value="@value3" Label="Oranges" />
</FluentStack>

<br />
<br />

<h4>Vertical</h4>
<FluentStack Orientation="Orientation.Vertical">
    <FluentCheckbox @bind-Value="@value1">Apples</FluentCheckbox>
    <FluentCheckbox @bind-Value="@value2" Disabled="true">Bananas (disabled)</FluentCheckbox>
    <FluentCheckbox @bind-Value="@value3">Oranges</FluentCheckbox>
</FluentStack>

@code {
    bool value1 = true;
    bool value2 = true;
    bool value3;
}