<FluentStack Style="margin: 20px;">
    <FluentCheckbox Id="check1" ThreeState="true" @bind-Value="@value1" @bind-CheckState="@state1" Label="ThreeState = true" Style="width: 200px;" />
    <div>
        Value = @value1 - CheckState = @state1
    </div>
</FluentStack>

<FluentStack Style="margin: 20px;">
    <FluentCheckbox Id="check2" ThreeState="false" @bind-Value="@value2" @bind-CheckState="@state2" Label="ThreeState = false" Style="width: 200px;" />
    <div>
        Value = @value2 - CheckState = @state2
    </div>
</FluentStack>

<FluentButton OnClick="@(e => value2 = !value2)">Switch Value2</FluentButton>


<FluentButton OnClick="@(e => state1 = CheckState.Checked)">1-Checked</FluentButton>
<FluentButton OnClick="@(e => state1 = CheckState.Indeterminate)">1-Indeterminate</FluentButton>
<FluentButton OnClick="@(e => state1 = CheckState.Unchecked)">1-Unchecked</FluentButton>

<FluentCheckbox ThreeState="true" CheckState="CheckState.Unchecked" />
<FluentCheckbox ThreeState="true" CheckState="CheckState.Checked" />
<FluentCheckbox ThreeState="true" CheckState="CheckState.Indeterminate" />

@code {
    bool value1, value2;
    CheckState state1, state2;
}