@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentDialogContent
@implements ISplashScreenParameters

<FluentStack Orientation="Orientation.Vertical"
             HorizontalAlignment="HorizontalAlignment.Center"
             Class="fluent-launch">
    <h1>
        @SplashScreenData.Title
    </h1>
    <h2>
        @SplashScreenData.SubTitle
    </h2>
    <FluentProgressRing />
    <h3>
        @SplashScreenData.LoadingText
    </h3>
    <p>@SplashScreenData.Message</p>
    <div class="icon">
        @(new MarkupString(SplashScreenData.Logo!))
    </div>
</FluentStack>

