@namespace Microsoft.Fast.Components.FluentUI
@implements IDialogContentComponent<SplashScreenData>

<FluentStack Orientation="Orientation.Vertical"
             HorizontalAlignment="HorizontalAlignment.Center"
             Class="fluent-launch">
    <h1>
        @Data.Title
    </h1>
    <h2>
        @Data.SubTitle
    </h2>
    <FluentProgressRing />
    <h3>
        @Data.LoadingText
    </h3>
    <p>@Data.Message</p>
    <div class="icon">
        @(new MarkupString(Data.Logo!))
    </div>
</FluentStack>

