@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentDialogContent
@implements IMessageBoxParameters

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Left" Class="fluent-messagebox">
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Name="@MessageBoxData.Icon" Color="@MessageBoxData.IconColor" Size="@IconSize.Size24" Class="icon" />
        <div class="body">
            @MessageBoxData.Message
            @MessageBoxData.MarkupMessage
        </div>
    </FluentStack>
</FluentStack>

