@namespace Microsoft.Fast.Components.FluentUI
@implements IDialogContentComponent<MessageBoxData>


<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Left" Class="fluent-messagebox">
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Name="@Data.Icon" Color="@Data.IconColor" Size="@IconSize.Size24" Class="icon" />
        <div class="body">
            @Data.Message
            @Data.MarkupMessage
        </div>
    </FluentStack>
</FluentStack>

