@page "/TextField"

@using FluentUI.Demo.Shared.Pages.TextField.Examples

<PageTitle>@App.PageTitle("TextField")</PageTitle>

<h1>Text field</h1>

<p>An implementation of a <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/text" target="_blank" rel="noopener noreferrer">text field</a>. The <code>&lt;FluentTextField&gt;</code> supports two visual appearances, outline and filled, with the control defaulting to the outline appearance.</p>
<p>
    <code>&lt;FluentTextField&gt;</code> wraps the <code>&lt;fluent-text-field&gt;</code> element, a web component implementation of a text field leveraging the
    Fluent UI design system. 
</p>

<blockquote>
    <p> <strong>Note:</strong> 
        With the <code>TextFieldType.Password</code> some warnings might show up in your browser's developer tools about non-uniques id's being used. The
        warning is wrong. The (Chromium) dev tools are not taking the shadow DOM into consideration when scanning for unique id's. Each <code>id=control</code> 
        is being applied in a component' shadow DOM and <strong>is</strong> unique to that component.<br/>        
        Chromium is doing some fancy extra check (with a link on creating beautiful login forms) whichwe can not prevent and the warning cannot be 
        removed from our side.
    </p>
</blockquote>

<h2 id="example">Examples</h2>

<DemoSection Title="Default" Component="@typeof(TextFieldDefault)"></DemoSection>

<DemoSection Title="Displays" Component="@typeof(TextFieldDisplays)"></DemoSection>

<DemoSection Title="States" Component="@typeof(TextFieldStates)"></DemoSection>

<DemoSection Title="Icons" Component="@typeof(TextFieldIcons)"></DemoSection>

<DemoSection Title="Types" Component="@typeof(TextFieldTypes)"></DemoSection>

<DemoSection Title="Focus" Component="@typeof(TextFieldFocus)"></DemoSection>

<DemoSection Title="Filled Appearance" Component="@typeof(TextFieldFilled)"></DemoSection>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentTextField)" GenericLabel="string?" />
