@inject DataSource Data

<p>All people with a birth year greater than 1971 are disabled through the <code>OptionDisabled</code> parameter</p>
<p>All people whose first name starts with a "J" are initialy selected through the <code>OptionSelected</code> parameter</p>
<div style="display: block; height: 300px;">
<label for="people-listbox2">Select persons</label>
<FluentSelect TOption="Person"
              Items="@Data.People"
              Id="people-listbox2"
              Multiple="true"
              OptionValue="@(p => p.PersonId.ToString())"
              OptionText="@(p => p.LastName + ", " + p.FirstName)"
              OptionDisabled="@(p => p.BirthDate.Year > 1971)"
              OptionSelected="@(p => p.FirstName.StartsWith("J"))"
              @bind-Value="@SelectedValue"
              @bind-SelectedOptions="@SelectedOptions" />

</div>

<p>
    Selected value: @SelectedValue <br />
    <em>Reflects the value of the first selected option</em><br />
</p>
<p>
    Selected options: @(SelectedOptions != null ? String.Join(", ", SelectedOptions.Select(i => i.LastName)) : "")<br />
    <em>Strongly typed enumeration of the selected options</em>. In this case a concatenated string of the last names of the selected options.
</p>

@code
{
    IEnumerable<Person>? SelectedOptions;
    string? SelectedValue;

    protected override void OnInitialized()
    {
        //SelectedOptions = Data.People.Skip(2).Take(2);
        //SelectedValue = SelectedOptions.First().PersonId.ToString();
    }
}