<FluentTabs ActiveTabId="tab-1">
    <FluentTab Id="tab-1">
        <Header>
            <FluentIcon Value="@(new Icons.Regular.Size16.LeafOne())" />
            All
        </Header>
        <Content>
            Content 0
        </Content>
    </FluentTab>
    <FluentTab Id="tab-2">
        <Header>
            <FluentIcon Value="@(new Icons.Regular.Size16.LeafTwo())" Color="@Color.Success" />
            January
        </Header>
        <Content>
            Content 1
        </Content>
    </FluentTab>
    <FluentTab Id="tab-3">
        <Header>
            <FluentIcon Value="@(new Icons.Regular.Size16.LeafThree())" Color="@Color.Error" />
            <span style="color:forestgreen;">February</span>
        </Header>
        <Content>
            Content 2
        </Content>
    </FluentTab>
</FluentTabs>