@namespace FluentUI.Demo.Shared.Components

<FluentTreeItem InitiallyExpanded="false" Selected="false">
    <FluentLabel slot="start" Weight="FontWeight.Bold" Style="width: 200px;">
        @Property.Item.Name
    </FluentLabel>

    @if (Property.Item.IsSimpleType())
    {
        <div slot="end" style="display: flex;">


            @if (!string.IsNullOrEmpty(Property.Summary))
            {
                <FluentTooltip Anchor="@($"info-{Property.Id}")">
                    @Property.Summary
                </FluentTooltip>
                <FluentIcon Style="margin: 0px 10px;"
                            tabindex="-1"
                            Id="@($"info-{Property.Id}")"
                            Value="@(new Icons.Regular.Size20.Info())" />
            }

            @switch (Property.TokenType)
            {
                case TokenType.Text:
                    <input type="text" placeholder="@Placeholder" tabindex="0" @bind-value="@ItemAsString" style="width: 150px;" />
                    break;
                case TokenType.Number:
                    <input type="number" step="0.05" placeholder="@Placeholder" tabindex="0" @bind-value="@ItemAsString" style="width: 150px;" />
                    break;
                case TokenType.Color:
                    <input type="color" placeholder="@Placeholder" tabindex="0" @bind-value="@ItemAsString" style="width: 30px;" />
                    <input type="text" @bind-value="@ItemAsString" style="width: 120px;" />
                    break;
            }

        </div>
    }
    else
    {
        <FluentLabel slot="item" Style="@($"font-size: small; margin-left: {35 + Property.Level * 20}px;")">
            @Property.Summary
        </FluentLabel>
    }

    @if (Property.Children != null)
    {
        @foreach (var property in Property.Children)
        {
            <ApiComplexClassItem Property="@property" Item="@Item" OnChanged="@(e => OnChanged.InvokeAsync(property))" />
        }
    }
</FluentTreeItem>