@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

@if (HideFluentField)
{
	@ChildContent
}
else
{
	<fluent-field id="@GetId("field")"
				  label-position="@Parameters.LabelPosition.ToAttributeValue()"
				  class="@ClassValue"
				  style="@StyleValue"
				  size="@Size.ToAttributeValue()"
				  @attributes="AdditionalAttributes">

		@if (HasLabel)
		{
			<label id="@GetId("label")"
				   slot="@FluentSlot.FieldLabel"
				   for="@GetId("input")"
				   required="@(Parameters.Required ?? false)"
				   disabled="@(Parameters.Disabled ?? false)"
				   style="@LabelStyle">
				@Parameters.Label
				@Parameters.LabelTemplate
			</label>
		}

		@if (ChildContent is not null)
		{
			@if (Parameters.HasInputComponent || !IncludeInputSlot)
			{
				@ChildContent
			}
			else
			{
				<div slot="@FluentSlot.FieldInput" id="@GetId("input")">
					@ChildContent
				</div>
			}
		}



		@foreach (var validationMessage in ValidationMessages)
		{
			if (!string.Equals(validationMessage, Parameters.Message, StringComparison.Ordinal))
			{
				<FluentText slot="@FluentSlot.FieldMessage" size="@TextSize.Size200" Color="@Color.Error" Style="display: flex; align-items: center;">
					@CreateIcon(FluentStatus.ErrorIcon)
					@validationMessage
				</FluentText>
			}
		}

		@if (HasMessageOrCondition && Parameters.MessageCondition?.Invoke(InputComponent ?? this) == true)
		{
			@if (Parameters.MessageTemplate is not null)
			{
				@Parameters.MessageTemplate
			}
			else
			{
				<FluentText slot="@FluentSlot.FieldMessage" Color="@(Parameters.MessageState is null ? Color.Error : Color.Info)" Size="@TextSize.Size200" Style="display: flex; align-items: center;">
					@CreateIcon(Parameters.MessageIcon)
					@Parameters.Message
				</FluentText>
			}
		}
	</fluent-field>
}
