@namespace Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions
@inherits FluentComponentBase

@if (HideFluentField)
{
    @ChildContent
}
else
{
    <fluent-field id="@GetId("field")"
                  label-position="@Parameters.LabelPosition.ToAttributeValue()"
                  class="@ClassValue"
                  style="@StyleValue"
                  size="@Size.ToAttributeValue()"
                  @attributes="AdditionalAttributes">

        @if (HasLabel)
        {
            <label id="@GetId("label")"
                   slot="@FluentSlot.FieldLabel"
                   for="@GetId("input")"
                   required="@(Parameters.Required ?? false)"
                   disabled="@(Parameters.Disabled ?? false)"
                   style="@LabelStyle">
                @Parameters.Label
                @Parameters.LabelTemplate
            </label>
        }

        @if (ChildContent is not null)
        {
            @if (Parameters.HasInputComponent || !IncludeInputSlot)
            {
                @ChildContent
            }
            else
            {
                <div slot="@FluentSlot.FieldInput" id="@GetId("input")">
                    @ChildContent
                </div>
            }
        }

        @foreach (var validationMessage in ValidationMessages)
        {

            <FluentText slot="@FluentSlot.FieldMessage" size="@TextSize.Size200" Color="@Color.Error">
                @CreateIcon(FluentStatus.ErrorIcon)
                @validationMessage
            </FluentText>

        }

        @if (HasMessageOrCondition && Parameters.MessageCondition?.Invoke(InputComponent ?? this) == true)
        {
			<FluentText slot="@FluentSlot.FieldMessage" size="@TextSize.Size200" >

                @CreateIcon(Parameters.MessageIcon)

                @if (Parameters.MessageTemplate is not null)
                {
                    @Parameters.MessageTemplate
                }
                else
                {
                    @Parameters.Message
                }
            </FluentText>
        }

    </fluent-field>
}
