@inject DataSource Data

<FluentStack Orientation="Orientation.Vertical">
    <FluentSelect TOption="DataFilterCaseSensitivity"
                  Label="String Case Sensitivity"
                  Items="@(Enum.GetValues<DataFilterCaseSensitivity>())"
                  OptionText="@(a => a.ToAttributeValue())"
                  @bind-SelectedOption="_caseSensitivity" />

    <p>Data Filter</p>

    <FluentDataFilter Filter="_filter" Changed="FilterChanged">
        <PropertyFilter Property="@(a=> a.TinyInteger)" Title="Tiny Integer" TooltipText="@(() => "Tiny Integer tooltip")" />
        <PropertyFilter Property="@(a=> a.SmallInteger)" />
        <PropertyFilter Property="@(a=> a.Integer)" />
        <PropertyFilter Property="@(a=> a.LongInteger)" />
        <PropertyFilter Property="@(a=> a.SinglePrecision)" />
        <PropertyFilter Property="@(a=> a.DoublePrecision)" />
        <PropertyFilter Property="@(a=> a.Decimal)" />
        <PropertyFilter Property="@(a=> a.Boolean)" />
        <PropertyFilter Property="@(a=> a.String)" />
        <PropertyFilter Property="@(a=> a.DateTime)" />
        <PropertyFilter Property="@(a=> a.DateOnly)" />
        <PropertyFilter Property="@(a=> a.TimeOnly)" />
    </FluentDataFilter>

    <p>
        Expression: @_filter.GenerateExpression(_caseSensitivity).ToString()
    </p>

    <FluentCard>
        <p>Data Grid</p>

        <FluentDataGrid Items="@DataTypeDemo">
            <PropertyColumn Property="@(a=> a.TinyInteger)" />
            <PropertyColumn Property="@(a=> a.SmallInteger)" />
            <PropertyColumn Property="@(a=> a.Integer)" />
            <PropertyColumn Property="@(a=> a.LongInteger)" />
            <PropertyColumn Property="@(a=> a.SinglePrecision)" />
            <PropertyColumn Property="@(a=> a.DoublePrecision)" />
            <PropertyColumn Property="@(a=> a.Decimal)" />
            <PropertyColumn Property="@(a=> a.Boolean)" />
            <PropertyColumn Property="@(a=> a.String)" />
            <PropertyColumn Property="@(a=> a.DateTime)" />
            <PropertyColumn Property="@(a=> a.DateOnly)" />
            <PropertyColumn Property="@(a=> a.TimeOnly)" />
        </FluentDataGrid>
    </FluentCard>
</FluentStack>

@code
{
    IQueryable<DataTypeDemo> DataTypeDemo => Data.DataTypeDemoQ.Where(_filter.GenerateExpression(_caseSensitivity));
    DataFilterCaseSensitivity _caseSensitivity = DataFilterCaseSensitivity.Ignore;
    DataFilterGroup<DataTypeDemo> _filter = new();

    private void FilterChanged()
    {
    }
}
