<h4>With icons</h4>
<FluentSelect Value=2 TOption="int">
    <FluentOption Value=1>
        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="start" />
        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="end" />
        This option has an icon in its start and end slots.
    </FluentOption>
    <FluentOption Value=2>
        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="start" />
        This option has an icon in its start slot.
    </FluentOption>
    <FluentOption Value=3>
        <FluentIcon Value="@(new Icons.Regular.Size16.Globe())" Color="@Color.Neutral" Slot="end" />
        This option has an icon in its end slot.
    </FluentOption>
</FluentSelect>