@page "/"

<h1>1. Icons</h1>
<FluentSystemIcon Icon="@(Icons.Regular.Size24.Save)" />
<FluentSystemIcon Icon="@(Icons.Regular.Size24.Album)" />

@(new Icons.Regular.Size20.Add().ToMarkup())
@(new Icons.Regular.Size20.Airplane().ToMarkup("60px", "red"))

<b>All Icons</b>
<div>
    <FluentTextField Placeholder="search icons" @bind-Value="@IconSearch" @onkeydown="@IconSearch_Start" /><br />
</div>

@foreach (var item in IconsFound)
{
    <FluentSystemIcon Value="Icons.GetInstance(item)" Title="@($"{item.Name}")" />
}

<h1>2. Emojis</h1>
<FluentSystemEmoji Emoji="@(Emojis.PeopleBody.Color.Default.Artist)" />
<FluentSystemEmoji Emoji="@(Emojis.SmileysEmotion.Color.Default.RollingOnTheFloorLaughing)" Width="50px" />

@(new Emojis.Objects.Color.Default.Accordion().ToMarkup("80px"))
@(new Emojis.TravelPlaces.Color.Default.Ambulance().ToMarkup())

<b>All Emojis</b>
<div>
    <FluentTextField Placeholder="search emoji's" @bind-Value="@EmojiSearch" @onkeydown="@EmojiSearch_Start" /><br />
</div>

@foreach (var item in emojisFound)
{
    <FluentSystemEmoji Value="Emojis.GetInstance(item)" Title="@($"{item.Name}")" Width="64px" />
}

@code
{
    private string IconSearch = string.Empty;
    private string EmojiSearch = string.Empty;
    private IEnumerable<IconInfo> IconsFound = Array.Empty<IconInfo>();
    private IEnumerable<EmojiInfo> emojisFound = Array.Empty<EmojiInfo>();

    private void IconSearch_Start(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            IconsFound = Icons.AllIcons
                              .Where(i => i.Name.Contains(IconSearch)
                                       && i.Variant == IconVariant.Regular
                                       && i.Size == IconSize.Size24)
                              .Take(100);
        }

    }

    private void EmojiSearch_Start(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            emojisFound = Emojis.AllEmojis
                                .Where(i => (i.Name.Contains(EmojiSearch) && i.KeyWords.Contains(EmojiSearch))
                                         && i.Style == EmojiStyle.Color
                                         && i.Skintone == EmojiSkintone.Default)
                                .Take(100);
        }

    }
}