@page "/DateTime"

@using FluentUI.Demo.Shared.Pages.DateTimes.Examples

<h1>Date & Time</h1>

@* Test *@
<FluentStack>
    <div>
        <FluentCalendar @bind-Value="@MyMonth" View="CalendarViews.Months" />
        <div style="margin: 30px;">Selected month: @MyMonth?.ToString("yyyy-MM")</div>
    </div>
    <div>
        <FluentCalendar @bind-Value="@MyYear" View="CalendarViews.Years" />
        <div style="margin: 30px;">Selected year: @MyYear?.ToString("yyyy")</div>
    </div>
</FluentStack>

@code
{
    DateTime? MyMonth = null;
    DateTime? MyYear = null;
}

<p>
    The <code>&lt;FluentCalendar&gt;</code> is an implementation of a month calendar display leveraging the Fluent UI design system.
    It allows for setting selected and/or disabled dates and can handle a click on a day event (if not <code>ReadOnly</code>)
</p>
<p>
    The <code>&lt;FluentDatePicker&gt;</code> is an input field that shows a calendar dropdown to select a date.
</p>
<p>
    The <code>&lt;FluentTimePicker&gt;</code> allows for picking a specific time of day by selecting hour, minutes and AM/PM
</p>

<h2 id="example">Examples</h2>

<DemoSection Title="Default calendar" Component="@typeof(CalendarDefault)"></DemoSection>

<DemoSection Title="Customized calendar" Component="@typeof(CalendarDayCustomized)"></DemoSection>

<DemoSection Title="ReadOnly calendar with 2-digits and using French Culture" Component="@typeof(CalendarReadonly)"></DemoSection>

<DemoSection Title="Default Date Picker" Component="@typeof(DatePickerDefault)"></DemoSection>

<DemoSection Title="Default Time Picker" Component="@typeof(TimePickerDefault)"></DemoSection>

<h2 id="totimeago">ToTimeAgo() method</h2>

An extension method <b>ToTimeAgo(TimeSpan delay)</b> returns a string with one of these samples, depending of the delay.
<ul>
    <li>Just now</li>
    <li>25 seconds ago</li>
    <li>14 minutes ago</li>
    <li>9 hours ago</li>
    <li>1 day ago</li>
    <li>5 days ago</li>
    <li>6 months ago</li>
    <li>2 years ago</li>
</ul>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentCalendar)" />
<ApiDocumentation Component="typeof(FluentDatePicker)" />
<ApiDocumentation Component="typeof(FluentTimePicker)" />
