@using Microsoft.Fast.Components.FluentUI
@inherits FluentSplashScreen

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Class="my-splash">
    <img class="icon" src="@SplashScreenData.Logo" />
    <p>@SplashScreenData.Message</p>
    <h3>
        @SplashScreenData.Title
    </h3>
    <h3>
        @SplashScreenData.SubTitle
    </h3>
    <div style="width: 340px;">
        <FluentProgress/>
    </div>
    
    <h3>
        @SplashScreenData.LoadingText
    </h3>
</FluentStack>

@code{
    protected override void OnParametersSet()
    {
        SplashScreenData = (SplashScreenParameters)Dialog.Data!;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Simulation of loading process
            await Task.Delay(7000);

            // Close the dialog
            await Dialog.CloseAsync();
        }
    }
}