@using Microsoft.Fast.Components.FluentUI
@implements IDialogContentComponent<SplashScreenData>

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Class="my-splash">
    <img class="icon" src="@Data.Logo" />
    <p>@Data.Message</p>
    <h3>
        @Data.Title
    </h3>
    <h3>
        @Data.SubTitle
    </h3>
    <div style="width: 340px;">
        <FluentProgress/>
    </div>
    
    <h3>
        @Data.LoadingText
    </h3>
</FluentStack>

@code{
    

    [Parameter]
    public SplashScreenData Data { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Simulation of loading process
            await Task.Delay(7000);

            // Close the dialog
            await Dialog.CloseAsync();
        }
    }
}