@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

<div class="@ClassValue" style="@StyleValue">
    @ChildContent
    <FluentIcon Class="status"
                Value="@GetIconInstance()"
                Title="@(string.IsNullOrEmpty(StatusTitle) ? Status.ToString() : StatusTitle)"
                Color="Color.Custom"
                CustomColor="@GetIconColor()"
                Width="@GetIconSize()" />
</div>
