@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

<div class="@ClassValue" style="@StyleValue" title="@(string.IsNullOrEmpty(Title) ? (string.IsNullOrEmpty(StatusTitle) ? Status.ToString() : StatusTitle) : Title)">
    @ChildContent
    @if (Status is not null)
    {
        <FluentIcon Class="status"
                    Value="@GetIconInstance()"
                    Title="@(string.IsNullOrEmpty(StatusTitle) ? Status.ToString() : StatusTitle)"
                    Color="Color.Custom"
                    CustomColor="@GetIconColor()"
                    Width="@GetIconSize()" />
    }
</div>
