@using FluentUI.Demo.DocViewer.Models
@using Microsoft.AspNetCore.Components.Web

<PageTitle>@string.Format(Factory.DocViewerService.Options.PageTitle, PageTitle)</PageTitle>

<div>
    @if (_isPageNotFound)
    {
        <Markdown404 Route="@Route" />
    }
    else
    {
        @* @RenderHtmlContent() *@

        foreach (var section in Sections)
        {
            switch (section.Type)
            {
                case SectionType.Html:
                    @((MarkupString)section.Value)
                    break;

                case SectionType.Code:

                    var language = section.Arguments?[Section.ARGUMENT_LANGUAGE] ?? "text";

                    <pre><code id="@(section.Id)" class="language-@language">@((MarkupString)section.Value)</code></pre>

                    break;

                case SectionType.Component:
                    var component = GetComponentFromName(section.Value);

                    if (component == null)
                    {
                        <div class="component-not-found">&#9888; The component {{ @(section.Value) }} was not found.</div>
                    }
                    else if (section.NoCode)
                    {
                        <DynamicComponent Type="@component" />
                    }
                    else
                    {
                        <fluent-tabs>
                            <fluent-tab>Example</fluent-tab>
                            <fluent-tab>Code</fluent-tab>

                            <fluent-tab-panel class="demo-section-example">
                                <DynamicComponent Type="@component" />
                            </fluent-tab-panel>
                            <fluent-tab-panel>
                                <pre><code @key="@(section.Id)" id="@(section.Id)" class="language-razor" source>@(section.SourceCode)</code></pre>
                            </fluent-tab-panel>
                        </fluent-tabs>

                    }

                    break;

                case SectionType.Api:
                    var classType = section.Arguments?["type"];
                    var members = GetApiClassFromName(classType);

                    @if (members == null)
                    {
                        <div class="component-not-found">&#9888; The API '@(classType)' was not found.</div>
                    }
                    else
                    {
                        @* API - Parameters *@
                        <h3>Parameters</h3>

                        <table class="api-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in members.Properties)
                                {
                                    <tr>
                                        <td><code>@item.Name</code></td>
                                        <td>
                                            <span>@item.Type</span>
                                            @if (item.EnumValues.Length > 0)
                                            {
                                                <span class="api-enum-tooltip" title="@(string.Join("; ", item.EnumValues))">&#128712;</span>
                                            }
                                        </td>
                                        <td>@item.Default</td>
                                        <td>@((MarkupString)item.Description)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @* API - Events *@
                        <h3>Event Callbacks</h3>

                        <table class="api-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in members.Events)
                                {
                                    <tr>
                                        <td><code>@item.Name</code></td>
                                        <td>@item.Type</td>
                                        <td>@((MarkupString)item.Description)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @* API - Methods *@
                        <h3>Parameters</h3>

                        <table class="api-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in members.Methods)
                                {
                                    <tr>
                                        <td>
                                            <code>@item.GetMethodSignature()</code>
                                        </td>
                                        <td>@((MarkupString)item.Description)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                    break;

                default:
                    break;
            }
        }
    }
</div>
