@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@if (Open)
{
    <FluentOverlay @bind-Visible="@Open" OnClose="@CloseAsync" Transparent=true FullScreen=true />
    <FluentAnchoredRegion Anchor="@AnchorId"
                          HorizontalInset="@HorizontalInset"
                          HorizontalDefaultPosition="@HorizontalPosition"
                          VerticalDefaultPosition="@VerticalPosition"
                          VerticalThreshold="@VerticalThreshold"
                          HorizontalThreshold="@HorizontalThreshold"
                          Shadow="@ElevationShadow.Flyout"
                          Class="@ClassValue"
                          Style="@StyleValue">
        <FluentStack Orientation="Orientation.Vertical">
            <div class="fluent-popover-content">
                @if (Header is not null)
                {
                    <div part="header">@Header</div>
                }
                @if (Body is not null)
                {
                    <div part="body">@Body</div>
                }
                @if (Footer is not null)
                {
                    <div part="footer">@Footer</div>
                }
            </div>
        </FluentStack>
    </FluentAnchoredRegion>
}
