<div>
    <FluentCheckbox Shape="@CheckboxShape.Square" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Square" Checked="false" />
    <FluentCheckbox Shape="@CheckboxShape.Square" Disabled="true" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Square" Disabled="true" />
    <FluentCheckbox Shape="@CheckboxShape.Square" Size="@CheckboxSize.Large" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Square" Size="@CheckboxSize.Large" Checked="false" />
    <FluentCheckbox Shape="@CheckboxShape.Square" Size="@CheckboxSize.Large" Disabled="true" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Square" Size="@CheckboxSize.Large" Disabled="true" />

    <br />

    <FluentCheckbox Shape="@CheckboxShape.Circular" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Circular" Checked="false" />
    <FluentCheckbox Shape="@CheckboxShape.Circular" Disabled="true" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Circular" Disabled="true" />
    <FluentCheckbox Shape="@CheckboxShape.Circular" Size="@CheckboxSize.Large" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Circular" Size="@CheckboxSize.Large" Checked="false" />
    <FluentCheckbox Shape="@CheckboxShape.Circular" Size="@CheckboxSize.Large" Disabled="true" Checked="true" />
    <FluentCheckbox Shape="@CheckboxShape.Circular" Size="@CheckboxSize.Large" Disabled="true" />
</div>
