@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase
@inject NavigationManager NavigationManager

<div>
    <CascadingValue Value="this" IsFixed="true">
        <CascadingValue TValue=INavMenuItemsOwner Value="@this" IsFixed>
            <CascadingValue Value="@Expanded" Name="NavMenuExpanded">
                <CascadingValue Value="@HasChildIcons" Name="NavMenuItemSiblingHasIcon">
                    <FluentTreeView Class="@ClassValue"
                                    Style="@StyleValue"
                                    CurrentSelected="@_selectedTreeItem"
                                    CurrentSelectedChanged="@HandleCurrentSelectedChanged">
                        @if (Collapsible)
                        {
                            <FluentTreeItem Id="@_expandCollapseTreeItemId" Class="nav-menu-expander" @onclick="@ToggleCollapsedAsync" @onkeydown="@HandleExpandCollapseKeyDownAsync">
                                @if (NavigationIconContent is not null)
                                {
                                    <div>
                                        @NavigationIconContent
                                    </div>
                                }
                                else
                                {
                                    <FluentIcon Icon="CoreIcons.Regular.Size24.Navigation" Width="20px" />
                                }
                            </FluentTreeItem>
                        }
                        @ChildContent
                    </FluentTreeView>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>