@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

<div id="@Id" @ref="@Element" @attributes="AdditionalAttributes" class="@ClassValue" style="@StyleValue" aria-label="@(Collapsible ? null : @Title)">
    <CascadingValue Value="@Expanded" Name="NavMenuExpanded">
        @if (Collapsible)
        {
            <div aria-label="@Title"
                 aria-expanded="@(Expanded.ToAttributeValue())"
                 class="fluent-nav-item"
                 tabindex="0"
                 @onclick="@ToggleExpandedAsync"
                 @onkeydown="@HandleExpandCollapseKeyDownAsync">
                <div class="positioning-region">
                    <div class="content-region">
                        @if (ExpanderContent is not null)
                        {

                            @ExpanderContent

                        }
                        else
                        {
                            <FluentIcon Value="@(new CoreIcons.Regular.Size24.Navigation())" Width="20px" />
                        }
                    </div>
                </div>
            </div>
        }
        @ChildContent
    </CascadingValue>
</div>