@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

<CascadingValue TValue=INavMenuItemsOwner Value="@null" IsFixed>
    <FluentTreeItem @ref=_treeItem
                    Id="@Id"
                    Class="@ClassValue"
                    Style="@StyleValue"
                    Disabled="@Disabled"
                    Selected="@Selected"
                    SelectedChanged="@HandleSelectedChangedAsync"
                    Text="@(NavMenuExpanded ? Text : string.Empty)">
        @if (HasIcon)
        {
            <FluentIcon Value="@Icon" Width="20px" Slot="start" />
        }
        else if (SiblingHasIcon)
        {
            <span style="width:20px;" slot="start"></span>
        }
        @if (NavMenuExpanded)
        {
            @ChildContent
        }
    </FluentTreeItem>
</CascadingValue>