@implements IDialogContentComponent<SimplePerson>

@* Header *@
<FluentDialogHeader ShowDismiss="true" ShowTitle="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter Style="padding: 10px;">
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Close</FluentButton>
</FluentDialogFooter>

@* Body *@
<div style="padding: 10px;">
    <FluentTextField @bind-Value="@Content.Firstname">FirstName:</FluentTextField>
    <FluentNumberField @bind-Value="@Content.Age">Age:</FluentNumberField>
</div>

@code {
    [Parameter]
    public SimplePerson Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private async Task SaveAsync()
    {
        await Dialog.CloseAsync();
    }
}