@page "/MenuItemPage"
<h1>Menu Item</h1>
<h2>Documentation</h2>
<ApiDocumentation Component="typeof(FluentMenuItem)" />

<h4>Default (menuitem)</h4>
<FluentMenuItem>Menu item 1</FluentMenuItem>

<h4>Disabled</h4>
<FluentMenuItem Disabled="true">Menu item 1</FluentMenuItem>

<h4>Disabled Start End</h4>
<FluentMenuItem Disabled="true">
    <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    Menu item 1
</FluentMenuItem>

<h4>menuitemcheckbox</h4>
<FluentMenuItem Role="MenuItemRole.MenuItemCheckbox">Menu item 1</FluentMenuItem>

<h5>checked</h5>
<FluentMenuItem Checked="true" Role="MenuItemRole.MenuItemCheckbox">Menu item 1</FluentMenuItem>

<h4>menuitemradio</h4>
<FluentMenuItem Role="MenuItemRole.MenuItemRadio">Menu item 1</FluentMenuItem>

<h5>checked</h5>
<FluentMenuItem Checked="true" Role="MenuItemRole.MenuItemRadio">Menu item 1</FluentMenuItem>

<h4>Start</h4>
<FluentMenuItem>
    <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    Menu item 1
</FluentMenuItem>

<h4>End</h4>
<FluentMenuItem>
    Menu item 1
    <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentMenuItem>

<h4>Complex content layout</h4>
<FluentMenuItem>
    <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    Menu item 1
    <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentMenuItem>
