@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
<fluent-anchored-region @ref=Element
                        id="@Id"
						anchor="@Anchor"
						viewport="@Viewport"
                        horizontal-positioning-mode="@HorizontalPositioningMode.GetDisplayName()"
                        horizontal-default-position="@HorizontalDefaultPosition.GetDisplayName()"
						horizontal-viewport-lock=@HorizontalViewportLock
						horizontal-inset="@HorizontalInset"
						horizontal-threshold="@HorizontalThreshold"
                        horizontal-scaling="@HorizontalScaling.GetDisplayName()"
                        vertical-positioning-mode="@VerticalPositioningMode.GetDisplayName()"
                        vertical-default-position="@VerticalDefaultPosition.GetDisplayName()"
						vertical-viewport-lock=@VerticalViewportLock
						vertical-inset="@VerticalInset"
						vertical-threshold="@VerticalThreshold"
                        vertical-scaling="@VerticalScaling.GetDisplayName()"
						fixed-placement=@FixedPlacement
                        auto-update-mode="@AutoUpdateMode.GetDisplayName()"
						style="@($"z-index: {ZIndex.AnchoredRegion};")"
						@attributes="AdditionalAttributes">
	<div class="@ClassValue" style="@StyleValue">
		@ChildContent
	</div>
</fluent-anchored-region>

