@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
<fluent-anchored-region @ref=Element
                        id="@Id"
						anchor="@Anchor"
						viewport="@Viewport"
						horizontal-positioning-mode="@HorizontalPositioningMode.ToAttributeValue()"
						horizontal-default-position="@HorizontalDefaultPosition.ToAttributeValue()"
						horizontal-viewport-lock=@HorizontalViewportLock
						horizontal-inset="@HorizontalInset"
						horizontal-threshold="@HorizontalThreshold"
						horizontal-scaling="@HorizontalScaling.ToAttributeValue()"
						vertical-positioning-mode="@VerticalPositioningMode.ToAttributeValue()"
						vertical-default-position="@VerticalDefaultPosition.ToAttributeValue()"
						vertical-viewport-lock=@VerticalViewportLock
						vertical-inset="@VerticalInset"
						vertical-threshold="@VerticalThreshold"
						vertical-scaling="@VerticalScaling.ToAttributeValue()"
						fixed-placement=@FixedPlacement
						auto-update-mode="@AutoUpdateMode.ToAttributeValue()"
						style="@($"z-index: {ZIndex.AnchoredRegion};")"
						@attributes="AdditionalAttributes">
	<div class="@ClassValue" style="@StyleValue">
		@ChildContent
	</div>
</fluent-anchored-region>

