<p>With icon at start</p>
<FluentButton>
    Button
    <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false />
</FluentButton>

<p>With icon at end</p>
<FluentButton>
    <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false />
    Button
</FluentButton>

<h4>With icon in default slot</h4>
<FluentButton>
    <FluentIcon Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false />
</FluentButton>