@* Remember to replace the namespace below with your own project's namespace. *@
@namespace FluentUI.Demo.Shared

@inherits FluentComponentBase
<FluentTreeItem Id="@Id"
                Class="@ClassValue"
                Style="@StyleValue"
                Disabled="@Disabled"
                Selected="@Selected"
                Text="@(NavMenuExpanded ? Text : string.Empty)">
    @if (HasIcon)
    {
        <FluentIcon Name="@Icon" Size="@IconSize.Size20" Slot="start" OnClick="HandleIconClick"/>
    } 
    @if (!HasIcon && NavMenu.HasIcons)
    {
        <span style="width:20px;" slot="start"></span>
    }
    @if (NavMenuExpanded)
    {
        @ChildContent
    }
    
</FluentTreeItem>