<h4>Default</h4>
<FluentAnchor Href="#">Anchor</FluentAnchor>

<h5>With target</h5>
<FluentAnchor Href="https://microsoft.com" Target="_blank">Anchor</FluentAnchor>

<h4>Neutral</h4>
<FluentAnchor Href="#" Appearance="Appearance.Neutral">Button</FluentAnchor>

<h4>Accent</h4>
<FluentAnchor Href="#" Appearance="Appearance.Accent">Anchor</FluentAnchor>

<h4>Hypertext</h4>
<FluentAnchor Href="#" Appearance="Appearance.Hypertext">Anchor</FluentAnchor>
<br />
<FluentAnchor Appearance="Appearance.Hypertext">Anchor (no Href)</FluentAnchor>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ut aliquam quas quod ipsam cupiditate, voluptate,
    corrupti
    <FluentAnchor Appearance="Appearance.Hypertext" Href="#">doloremque totam</FluentAnchor>
    dicta perspiciatis commodi consequatur reprehenderit laborum aliquid minima. Neque, recusandae. Adipisci.
</p>

<h4>Lightweight</h4>
<FluentAnchor Href="#" Appearance="Appearance.Lightweight">Anchor</FluentAnchor>

<h4>Outline</h4>
<FluentAnchor Href="#" Appearance="Appearance.Outline">Anchor</FluentAnchor>

<h4>Stealth</h4>
<FluentAnchor Href="#" Appearance="Appearance.Stealth">Anchor</FluentAnchor>

<h4>With start</h4>
<FluentAnchor Href="#">
    Anchor
    <FluentIcon Slot="start" Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentAnchor>

<h4>With end</h4>
<FluentAnchor Href="#">
    <FluentIcon Slot="end" Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    Anchor

</FluentAnchor>

<h4>Icon in default slot</h4>
<FluentAnchor Href="#">
    <FluentIcon Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false />
</FluentAnchor>

<h4>With aria-label</h4>
<FluentAnchor Href="#" aria-label="Anchor with aria-label"></FluentAnchor>