<h4>With icon at start</h4>
<FluentAnchor Href="#">
    Anchor
    <FluentIcon Slot="start" Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentAnchor>

<h4>With icon at end</h4>
<FluentAnchor Href="#">
    <FluentIcon Slot="end" Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    Anchor

</FluentAnchor>

<h4>With icon in default slot</h4>
<FluentAnchor Href="#">
    <FluentIcon Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false />
</FluentAnchor>