@using Samples = SampleData.People;

<FluentSelect Label="Coworkers"
              Items="@Coworkers"
              @bind-Value="@Value"
              OptionText="@(item => item.FirstName)"
              OptionValue="@(item => item.Id)"
              OptionDisabled="@(item => item == Coworkers.ElementAt(3))" />

<div>
    Selected: @Value.Id - @Value.FirstName
</div>

@code {
    static Samples.Person[] Coworkers = Samples.Persons.Take(5).ToArray();
    Samples.Person Value = Coworkers.ElementAt(2);
}
