<FluentSelect Label="Coworker"
              Placeholder="Select a person"
              OptionText="@(e => $"{e.FirstName} {e.LastName}")"
              TOption="@SampleData.People.Person"
              Items="@Persons"
              @bind-Value="@Value" />

<div>
    Selected: @(Value?.LastName)
</div>

@code {
    SampleData.People.Person[] Persons = SampleData.People.GeneratePersons(10000).ToArray();
    SampleData.People.Person? Value;
}
