@page "/BreadcrumbItemPage"
<h1>Breadcrumb</h1>
<h2>Documentation</h2>
<ApiDocumentation Component="typeof(FluentBreadcrumb)" />

<h4>Default</h4>
<FluentBreadcrumbItem Href="#">
    Breadcrumb item
</FluentBreadcrumbItem>

<h4>Default with custom separator</h4>
<FluentBreadcrumbItem Href="#">
    Breadcrumb item
    <FluentIcon Slot="seperator" Name="@FluentIcons.ArrowRight" Size="@IconSize.Size20" Filled=false UseAccentColor=false />
</FluentBreadcrumbItem>

<h4>With start</h4>
<FluentBreadcrumbItem Href="#">
    Breadcrumb item
    <FluentIcon Slot="seperator" Name="@FluentIcons.ArrowRight" Size="@IconSize.Size20" Filled=false UseAccentColor=false />
    <FluentIcon Slot="start" Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentBreadcrumbItem>

<h4>With end</h4>
<FluentBreadcrumbItem Href="#">
    Breadcrumb item
    <FluentIcon Slot="seperator" Name="@FluentIcons.ArrowRight" Size="@IconSize.Size20" Filled=false UseAccentColor=false />
    <FluentIcon Slot="end" Name="@FluentIcons.Globe" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
</FluentBreadcrumbItem>