@using Microsoft.AspNetCore.Components.Forms

<div style="@Style" class="theme-token-editor">

    @foreach (var mainSection in Tokens.Select(i => i.Value.MainSection).Distinct().Order())
    {
        <details>
            <summary>
                @mainSection
            </summary>

            @foreach (var subSection in Tokens.Where(i => i.Value.MainSection == mainSection).Select(i => i.Value.SubSection).Distinct().Order())
            {
                <details>
                    <summary>
                        @subSection
                    </summary>

                    <table>
                        <tbody>
                            @foreach (var token in Tokens.Where(i => i.Value.MainSection == mainSection && i.Value.SubSection == subSection))
                            {
                                var name = token.Key;
                                var item = token.Value;

                                <tr>
                                    <td>
                                        <strong>@name</strong>
                                    </td>
                                    <td style="display: flex;">
                                        @if (GetInputType(item) == "color")
                                        {
                                            <InputText @bind-Value="@item.ValueAsString"
                                                       @bind-Value:after="@ApplyThemeAsync" />
                                            <InputText type="color"
                                                       @bind-Value="@item.ValueAsString"
                                                       @bind-Value:after="@ApplyThemeAsync" />
                                        }
                                        else
                                        {
                                            <InputText type="@GetInputType(item)"
                                                       @bind-Value="@item.ValueAsString"
                                                       @bind-Value:after="@ApplyThemeAsync" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </details>
            }
        </details>
    }
</div>
