<div style="border: 1px solid red; overflow: hidden; resize: both; height: 500px;">
    <FluentLayout>
        <FluentLayoutItem Area="@LayoutArea.Header">
            My Header
        </FluentLayoutItem>

        <FluentLayoutItem Area="@LayoutArea.Menu" Width="150px" Sticky Style="background: yellow;">
            <p>LEFT</p>
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
            <p>Hello 4</p>
            <p>Hello 5</p>
            <p>Hello 6</p>
            <p>Hello 7</p>
            <p>Hello 8</p>
            <p>Hello 9</p>
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
            <p>Hello 4</p>
            <p>Hello 5</p>
            <p>Hello 6</p>
            <p>Hello 7</p>
            <p>Hello 8</p>
            <p>Hello 9</p>
        </FluentLayoutItem>

        <FluentLayoutItem Area="@LayoutArea.Content">
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
            <p>Hello 4</p>
            <p>Hello 5</p>
            <p>Hello 6</p>
            <p>Hello 7</p>
            <p>Hello 8</p>
            <p>Hello 9</p>
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
            <p>Hello 4</p>
            <p>Hello 5</p>
            <p>Hello 6</p>
            <p>Hello 7</p>
            <p>Hello 8</p>
            <p>Hello 9</p>
        </FluentLayoutItem>

        <FluentLayoutItem Area="@LayoutArea.Aside" Sticky Style="background: yellow; height: fit-content;">
            RIGHT
            <p>Hello 1</p>
            <p>Hello 2</p>
            <p>Hello 3</p>
        </FluentLayoutItem>

        <FluentLayoutItem Area="@LayoutArea.Footer">
            My Footer
        </FluentLayoutItem>
    </FluentLayout>
</div>
