@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
@using System.Collections.Generic
@using System.Diagnostics.CodeAnalysis

@typeparam TItem

@if (ItemTemplate is not null)
{
    <div @ref="@_element"
        id="@Id"
        class="@ClassValue"
        style="@StyleValue"
        role="list"
        aria-label="@AriaLabel"
        @attributes="@AdditionalAttributes">
        @foreach (var item in Items ?? Enumerable.Empty<TItem>())
        {
            <div tabindex="0" aria-grabbed="false" draggable="false" class="sortable-item@(GetItemFiltered(item) ? " filtered" : string.Empty)">@ItemTemplate(item)</div>
        }
    </div>
}
