@page "/Icon"

@using FluentUI.Demo.Shared.Pages.Icon.Examples;

<PageTitle>@App.PageTitle("Icon")</PageTitle>

<h1>Icon</h1>

<p>
    The <a title="FluentUI System Icons repository" href="https://github.com/microsoft/fluentui-system-icons" target="_blank" rel="noopener">Fluent UI System Icons</a> 
    are a (still growing) collection of familiar, friendly and modern icons from Microsoft. At the moment there are more than 2200 distinct icons 
    available in both filled and outlined versions and in various sizes. In total the collections consists of well over 11k icons in SVG format.
</p>
<p>
    This <a href="https://www.nuget.org/packages/Microsoft.FluentUI.AspNetCore.Components.Icons" target="_blank">FluentUI Icons NuGet package</a>
    contains all these icons, which you can access directly in your projects.
    To use them, simply reference this package in your project.
</p>
<p>
    During the DotNet Publication process, the unused icons are automatically removed from the final library.
    You can configure this behavior by setting the <code>PublishTrimmed</code> property in your project file.
    More details on <a href="https://learn.microsoft.com/aspnet/core/blazor/host-and-deploy/configure-trimmer" target="_blank">this page</a>.
    <blockquote>
    ⚠️ We recommend always using the <code>Value</code> property to specify the icon to be rendered (and not the <code>Icon</code> property). This ensures that the icon is not deleted from the final library.
    <CodeSnippet Language="language-xml">@("<FluentIcon Value=\"@(new Icons.Regular.Size24.Bookmark())\" />")</CodeSnippet>
    </blockquote>
</p>

<p>
    You can use any of these icons by levaraging the <code>&lt;FluentIcon&gt;</code>&nbsp;component. See below for the parameters and examples. 
    There is also a search capability available on this page wich allows you to browse to all the different icons. At the moment the icons 
    displayed in this explorer below are always using the default blue accent color. When using the icons in your application, they will render 
    in the color set with the <code>Color</code> parameter.
</p>

<h2 id="explorer">Explore Icons</h2>
<IconExplorer />
<br />
<br />

<h2 id="overview">Overview</h2>

<DemoSection Component="typeof(IconDefault)" Title="Icon examples">
    <Description>
        A lot of the web components have named slots that declare locations in which content can be rendered.
        FluentIcon leverages this capability through its <code>Slot</code> parameter. With this you can for
        example render the icon in front (<code>Slot="start"</code>) or after (<code>Slot="end"</code>) a
        label in a <code>FluentButton</code> component.
    </Description>
</DemoSection>

<DemoSection Component="typeof(IconColors)" Title="Color options">
    <Description>
        Icons can be drawn and filled with a color through the <code>Color</code> parameter which takes a <code>Color</code> enumeration value.
        <br /><br />
        &nbsp;&nbsp;&nbsp;<code>&lt;FluentIcon Value="@@(new Icons.Filled.Size48.Alert())" Color="<em>{&middot;&middot;&middot;}</em>" /&gt;</code><br/>
        &nbsp;&nbsp;&nbsp;<code>&lt;FluentIcon Value="@@(new Icons.Filled.Size48.Alert().WithColor(<em>{&middot;&middot;&middot;}</em>)" /&gt;</code>
        <br /><br />
        With the code above you can use the following options at the <em>{&middot;&middot;&middot;}</em>:
    </Description>
</DemoSection>

<h2>Customization</h2>

<p>
    You can create your own icons by adding a class like this one:

    <CodeSnippet Language="language-csharp">public static class MyIcons
{
    public class SettingsEmail : Icon { public SettingsEmail() : base("SettingsEmail", IconVariant.Regular, IconSize.Size20, "&lt;svg width=\"20\" height=\"19\" viewBox=\"0 0 20 19\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">&lt;path d=\"M15.6251 2.5H4.37508L4.2214 2.50428C2.79712 2.58396 1.66675 3.76414 1.66675 5.20833V13.125L1.67103 13.2787C1.75071 14.7029 2.93089 15.8333 4.37508 15.8333H9.76425C9.91725 15.4818 10.1354 15.1606 10.4087 14.8873L10.7126 14.5833H4.37508L4.25547 14.5785C3.50601 14.5177 2.91675 13.8902 2.91675 13.125V6.97833L9.709 10.5531L9.78908 10.5883C9.95267 10.647 10.135 10.6353 10.2912 10.5531L17.0834 6.9775V9.17258C17.5072 9.14483 17.9362 9.21517 18.3334 9.38358V5.20833L18.3292 5.05465C18.2494 3.63038 17.0693 2.5 15.6251 2.5ZM4.37508 3.75H15.6251L15.7447 3.75483C16.4942 3.81568 17.0834 4.44319 17.0834 5.20833V5.565L10.0001 9.29375L2.91675 5.56583V5.20833L2.92158 5.08873C2.98242 4.33926 3.60994 3.75 4.37508 3.75ZM15.9167 10.5579L10.9979 15.4766C10.7112 15.7633 10.5077 16.1227 10.4093 16.5162L10.0279 18.0418C9.86208 18.7052 10.4631 19.3062 11.1265 19.1403L12.6521 18.7588C13.0455 18.6605 13.4048 18.4571 13.6917 18.1703L18.6103 13.2516C19.3542 12.5078 19.3542 11.3018 18.6103 10.5579C17.8665 9.814 16.6605 9.814 15.9167 10.5579Z\" fill=\"#212121\" />&lt;/svg>") { } }
}    </CodeSnippet>
</p>


<p>
    If the size of your customized icon (Viewbox) is not one of the standard IconSize sizes,
    you can use a <b>IconSize.Custom</b> size.
    <br />
    <ul>
        <li>
            <FluentIcon Value="@(new MyCircle())" Width="16px" /> 
            <code>&lt;FluentIcon Value="@@(new MyCircle())" Width="16px" /></code>
        </li>
        <li>
            <FluentIcon Value="@(new MyCircle().WithColor("red"))" Width="16px" /> 
            <code>&lt;FluentIcon Value="@@(new MyCircle().WithColor("red"))" Width="16px" /></code>
        </li>
        <li>
            @(new MyCircle().ToMarkup("16px", "blue")) 
            <code>@@new MyCircle().ToMarkup("16px", "blue")</code>
        </li>
        <li>
            <FluentButton IconStart="@(new MyCircle())" Loading="@ButtonIsLoading" OnClick="@(e => ButtonIsLoading = !ButtonIsLoading)">Refresh</FluentButton>
            <code>&lt;FluentButton IconStart="@@(new MyCircle())">Refresh&lt;/FluentButton></code>
        </li>
    </ul>
    Setting <code>Width=""</code> (an empty string) makes the icon 100% width of the enclosing
    container and stylable from CSS. By omitting this attribute or assigning to <code>null</code>,
    for example via <code>Width="@@null"</code>, the default icon size will be used.
    <br />
    <br />
    <CodeSnippet Language="language-csharp">public class MyCircle : Microsoft.FluentUI.AspNetCore.Components.Icon
{
    private const string SVG_CONTENT = "&lt;svg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 320'>&lt;circle cx='160' cy='160' r='140'/>&lt;/svg>";

    public MyCircle() : base("MyCircle", IconVariant.Regular, IconSize.Custom, SVG_CONTENT)
    {
        // Default Color (`fill` style)
        WithColor("#F97316");
    }
}</CodeSnippet>    
</p>
<p>
    Using the <b>IconSize.Custom</b> size, certain restrictions will apply: <code>FluentButton.Loading</code> or <code>Icon.ToMarkup</code> could be affected.
</p>

<h2 id="documentation">Documentation</h2>

<ApiDocumentation Component="typeof(FluentIcon<>)" InstanceTypes="@(new[] {typeof(Icon)})" GenericLabel="Icon">
    <Description>
        You can use either the <code>Icon</code> or <code>Value</code> parameter to specify the icon to render. The <code>Icon</code> parameter takes a 
        <code>Icon</code> Type, while the <code>Value</code> parameter takes a icon object. 
    </Description>
</ApiDocumentation>

@code
{
    bool ButtonIsLoading = false;
}
