@using Microsoft.AspNetCore.Components.Rendering
@namespace Microsoft.Fast.Components.FluentUI

@if (_toastList.Any())
{
    <div class="fluent-toast-container @_positionClass">
        <CascadingValue TValue="InternalToastContext" IsFixed="true" Value="@_internalToastContext">
            @_renderToasts
        </CascadingValue>
    </div>

}

@code {
    protected void RenderToasts(RenderTreeBuilder __builder)
    {
        @foreach (FluentToastBase toast in _toastList.OrderBy(x => x.TimeStamp))
        {
            <FluentToast @key="@toast" Id="@toast.Id">
                @((RenderFragment)(__builder => toast.ToastContent(__builder)))
            </FluentToast>
        }
    }

}