@using Microsoft.AspNetCore.Components.Rendering
@namespace Microsoft.Fast.Components.FluentUI

@if (_toastList.Any())
{
    <div class="fluent-toast-container @_positionClass">
        <CascadingValue Value="this" IsFixed="true">
            @_renderToasts
        </CascadingValue>
    </div>

}

@code {
    protected void RenderToasts(RenderTreeBuilder __builder)
    {
        @foreach (var toast in _toastList.OrderBy(x => x.Timestamp))
        {
            <FluentToast @key="@toast" Id="@toast.Id" Settings="@toast.Settings" Instance="@toast" />
        }
    }
}
