@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase
@Css
<div class="@ClassValue" style="@AnimationStyle" @onclick="@ToastClickedAsync">
    <FluentStack Orientation="Orientation.Horizontal" Width="100%" VerticalAlignment="StackVerticalAlignment.Center" HorizontalGap="8">
        @if (ShowIcon)
        {
            <FluentIcon Name="@Icon"
                   Color="@_iconColor"
                   Variant="IconVariant.Filled"
                   Class="fluent-toast-icon"
                   Size="@IconSize.Size20"
                   Title="@(ToastItem?.Intent.GetDescription())" />
        }
        <div class="fluent-toast-message">
            @((MarkupString)Message)
            
        </div>
        <div class="fluent-toast-close">

        
        @if (ShowActionButton)
        {
            <FluentAnchor Href="@(String.IsNullOrEmpty(Action?.Href) ? "#" : Action?.Href)"
                          title="Toast action"
                          Style="font-size: 14px; font-weight:600;"
                          Appearance="Appearance.Hypertext"
                          @onclick="@ActionClickedAsync">
                @Action?.Text
            </FluentAnchor>
        }
        </div>
        @if (ShowCloseIcon && !ShowActionButton)
        {
            <FluentIcon Name="@FluentIcons.Dismiss"
                   Size="@IconSize.Size20"
                   Class=""
                   Title="Close"
                   Color="Color.FillInverse"
                   OnClick="CloseIconClickedAsync" />
        }
        
    </FluentStack>
</div>