@namespace Microsoft.Fast.Components.FluentUI
@if (ToastList.Any())
{
    <div class="fluent-toast-container @_positionClass">
        <CascadingValue Value=this IsFixed="true">
            @foreach (Toast toast in ToastList.OrderBy(x => x.TimeStamp))
            {
                if (toast.CustomComponent is not null)
                {
                    <FluentToast @key="@toast" ToastId="@toast.Id" Settings="@toast.ToastSettings">
                        @toast.CustomComponent
                    </FluentToast>
                }
                else
                {
                    <FluentToast @key="@toast"
                                 ToastId="@toast.Id"
                                 Title="@(toast.Message!)"
                                 Intent="@toast.Intent"
                                 Settings="@toast.ToastSettings" />
                }
            }
        </CascadingValue>
    </div>

}