@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inherits FluentComponentBase

@namespace Microsoft.Fast.Components.FluentUI

<CascadingValue Value="this" IsFixed="true">
    <div class="fluent-toast" id="@Id" @onclick="ToastClick">
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <FluentStack Orientation="Orientation.Horizontal" Width="100%" VerticalAlignment="StackVerticalAlignment.Center" HorizontalGap="8">
                @if (Settings.Icon is not null)
                {
                    (string Name, Color Color, IconVariant Variant) Icon = Settings.Icon.Value;

                    <FluentIcon Name="@Icon.Name" Style="min-width: 16px;" Size="IconSize.Size16" Color=@Icon.Color Variant="Icon.Variant" />
                }

                <div class="fluent-toast-title">@Title</div>
                <div class="fluent-toast-action">
                    <FluentIcon Name="@FluentIcons.Dismiss"
                                Size="@IconSize.Size12"
                                Title="Close"
                                Color="Color.FillInverse"
                                OnClick="Close" />

                </div>
            </FluentStack>
        }
    </div>
</CascadingValue>
