@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@if (ChildContent is not null)
{
    @switch (TagName)
    {
        case FluentKeyCodeTag.Span:
            <span id="@Id" class="@ClassValue" style="@StyleValue" @ref="@Element" @attributes="@AdditionalAttributes">
                @ChildContent
            </span>
            break;

        case FluentKeyCodeTag.Div:
            <div id="@Id" class="@ClassValue" style="@StyleValue" @ref="@Element" @attributes="@AdditionalAttributes">
                @ChildContent
            </div>
            break;
    }
}
