@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@if (ChildContent is not null)
{
    <span id="@Id" class="@ClassValue" style="@StyleValue" @ref="@Element" @attributes="@AdditionalAttributes">
        @ChildContent
    </span>
}
