@page "/Menu"

@using FluentUI.Demo.Shared.Pages.Menu.Examples

<h1>Menu</h1>

<p>As defined by the W3C:</p>
<blockquote>
    <p>
        A menu is a widget that offers a list of choices to the user, such as a set of actions or functions. Menu widgets behave like native 
        operating system menus, such as the menus that pull down from the menubars commonly found at the top of many desktop application windows. 
        A menu is usually opened, or made visible, by activating a menu button, choosing an item in a menu that opens a sub menu, or by invoking 
        a command, such as Shift + F10 in Windows, that opens a context specific menu. When a user activates a choice in a menu, the menu usually 
        closes unless the choice opened a submenu.
</p>
</blockquote>
<p>
    While any DOM content is permissible as a child of the menu, only <code>&lt;FluentMenuItem&gt;</code>'s and slotted content with a role of 
    <code>menuitem</code>, <code>menuitemcheckbox</code>, or <code>menuitemradio</code> will receive keyboard support.
    </p>
<p>
    <code>&lt;FluentMenu&gt;</code> applies <code>&lt;FluentMenuItem&gt;</code>'s <code>startColumnCount</code> property based on an evaluation of all 
    of the <code>&lt;FluentMenuItem&gt;</code> so the content text vertically aligns across all <code>&lt;FluentMenuItem&gt;</code>. If any 
    <code>&lt;FluentMenuItem&gt;</code> does not have a roll of <code>checkbox</code> or <code>radio</code> or the <code>start</code> slot is not 
    passed, <code>startColumnCount</code> is set to 0 which applies a <code>indent-0</code> class to all the <code>&lt;FluentMenuItem&gt;</code>s. 
    If any <code>&lt;FluentMenuItem&gt;</code> has a roll of <code>checkbox</code> or <code>radio</code> or the <code>start</code> slot exists, 
    <code>startColumnCount</code> is set to 1 which applies a <code>indent-1</code> class to all the <code>&lt;FluentMenuItem&gt</code>s. Or if any 
    <code>&lt;FluentMenuItem&gt;</code> has a roll of <code>checkbox</code> or <code>radio</code> and the <code>start</code> slot exists, 
    <code>startColumnCount</code> is set to 2 which applies a <code>indent-2</code> class to all the <code>&lt;FluentMenuItem&gt;</code>s.
</p>
<p>
    <code>&lt;FluentMenu&gt;</code> wraps the <code>&lt;fluent-menu&gt;</code> element, a web component implementation of a menu leveraging the
    Fluent UI design system.
</p>


<ApiDocumentation Component="typeof(FluentMenuItem)" />
<ApiDocumentation Component="typeof(FluentMenu)" />

<h2>Examples</h2>

<DemoSection Title="Default menu" Component="@typeof(MenuDefault)"></DemoSection>

<DemoSection Title="With Separator" Component="@typeof(MenuSeparator)"></DemoSection>

<DemoSection Title="With radio buttons and checkboxes" Component="@typeof(MenuCheckRadio)"></DemoSection>

<DemoSection Title="Nested" Component="@typeof(MenuNested)"></DemoSection>

<DemoSection Title="With icons" Component="@typeof(MenuIcon)"></DemoSection>

<DemoSection Title="With standard elements" Component="@typeof(MenuStandardElements)"></DemoSection>

