@page "/MenuPage"
<h1>Menu</h1>
<h2>Documentation</h2>
<ApiDocumentation Component="typeof(FluentMenu)" />
<h4>Default</h4>
<FluentMenu @onmenuchange=OnMenuChange>
    <FluentMenuItem>Menu item 1</FluentMenuItem>
    <FluentMenuItem>Menu item 2</FluentMenuItem>
    <FluentMenuItem Disabled="true">Menu item 3 Disabled</FluentMenuItem>
    <FluentMenuItem>Menu item 4</FluentMenuItem>
</FluentMenu>

<h4>With Separator</h4>
<FluentMenu>
    <FluentMenuItem Role="MenuItemRole.MenuItem">Menu item 1</FluentMenuItem>
    <FluentMenuItem Role="MenuItemRole.MenuItem">Menu item 2</FluentMenuItem>
    <FluentDivider />
    <FluentMenuItem Role="MenuItemRole.MenuItem">Menu item 3</FluentMenuItem>
    <FluentMenuItem Role="MenuItemRole.MenuItem">
        Menu item 4
        <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    </FluentMenuItem>
</FluentMenu>

<h2>With radio buttons and checkboxes</h2>
<FluentMenu>
    <FluentMenuItem>Menu item 1</FluentMenuItem>
    <FluentMenuItem>Menu item 2</FluentMenuItem>
    <FluentMenuItem>Menu item 3</FluentMenuItem>
    <FluentDivider></FluentDivider>
    <FluentMenuItem Role="MenuItemRole.MenuItemCheckbox">Checkbox 1</FluentMenuItem>
    <FluentMenuItem Role="MenuItemRole.MenuItemCheckbox">
        Checkbox 2
        <FluentIcon Name="@FluentIcons.Globe" Slot="checkbox-indicator" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
    </FluentMenuItem>
    <FluentDivider></FluentDivider>
    <FluentMenuItem Role="MenuItemRole.MenuItemRadio">Radio 1.1</FluentMenuItem>
    <FluentMenuItem Role="MenuItemRole.MenuItemRadio">Radio 1.2</FluentMenuItem>
    <FluentDivider></FluentDivider>
    <FluentMenuItem Role="MenuItemRole.MenuItemRadio">
        Radio 2.1
        <FluentIcon Name="@FluentIcons.Globe" Slot="start" Size="@IconSize.Size16" Filled=false UseAccentColor=false />
        <FluentIcon Name="@FluentIcons.RadioButton" Slot="radio-indicator" Size="@IconSize.Size20" Filled=false UseAccentColor=false />        
    </FluentMenuItem>
    <FluentMenuItem Role="MenuItemRole.MenuItemRadio">
        Radio 2.2
        <FluentIcon Name="@FluentIcons.Globe" Slot="end" Size="@IconSize.Size16" Filled=false UseAccentColor=false />     
        <FluentIcon Name="@FluentIcons.RadioButton" Slot="radio-indicator" Size="@IconSize.Size20" Filled=false UseAccentColor=false />        
    </FluentMenuItem>
</FluentMenu>

<h4>With standard elements</h4>
<FluentMenu>
    <div role="menuitem">Menu item 1</div>
    <div role="menuitem">Menu item 2</div>
    <div role="menuitem">Menu item 3</div>
</FluentMenu>
@code{
    private void OnMenuChange()
    {
        Console.WriteLine("Menu changed");
    }
}