@page "/Combobox"

@using FluentUI.Demo.Shared.Pages.Combobox.Examples;

<h1>Combobox</h1>

<p>As defined by the <a href="https://w3c.github.io/aria-practices/#combobox" target="_blank" rel="noopener noreferrer">W3C</a>:</p>
<blockquote>
    <p>
        A combobox is an input widget with an associated popup that enables users to select a value for the combobox from a collection
        of possible values. In some implementations, the popup presents allowed values, while in other implementations, the popup presents suggested
        values, and users may either select one of the suggestions or type a value. The popup may be a listbox, grid, tree, or dialog. Many
        implementations also include a third optional element -- a graphical Open button adjacent to the combobox, which indicates availability of
        the popup. Activating the Open button displays the popup if suggestions are available.
    </p>
</blockquote>
<p>
    <code>&lt;FluentCombobox&gt;</code> wraps the <code>&lt;fluent-combobox&gt;</code> element, a web component implementation of a combobox.
</p>

<ApiDocumentation Component="typeof(FluentCombobox<string>)" GenericLabel="TOption" />

<h2>Examples</h2>

<DemoSection Title="Default examples" Component="@typeof(ComboboxDefault)"></DemoSection>

<DemoSection Title="Disabled examples" Component="@typeof(ComboboxDisabled)"></DemoSection>

<DemoSection Title="Appearance example" Component="@typeof(ComboboxAppearance)"></DemoSection>

<DemoSection Title="Autocomplete examples" Component="@typeof(ComboboxAutocompleteDemo)"></DemoSection>

<DemoSection Title="List examples" Component="@typeof(ComboboxList)"></DemoSection>