@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase

<CascadingValue Value="this" IsFixed="true">
    <div id="@Id" class="@ClassValue" style="@StyleValue" orientation="@(Orientation.ToAttributeValue())">
        @ChildContent
        <div id="@IdMoreButton" class="power-overflow-more" style="@(ItemsOverflow.Count() <= 0 ? "display: none;" : "")" fixed>
            @if (MoreButtonTemplate != null)
            {
                @MoreButtonTemplate(this)
            }
            else
            {
                <FluentBadge Appearance="Appearance.Neutral" Style="min-width: 32px; max-width:32px;">
                    @($"+{ItemsOverflow.Count()}")
                </FluentBadge>
            }
        </div>
    </div>
    @if (OverflowTemplate != null)
    {     
        @OverflowTemplate(this)
    }
    else
    {
        <FluentTooltip Anchor="@IdMoreButton">
            @foreach (var item in ItemsOverflow)
            {
                <div style="margin: 5px;">@item.Text</div>
            }
        </FluentTooltip>
    }
</CascadingValue>