@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Extensions

<h3>NavDefault</h3>

<FluentStack Orientation="Orientation.Horizontal" HorizontalGap="15">
	<FluentNavDrawer UseLinks="@_useLinks"
					 UseSingleExpanded="@(!_useMultipleExpanded)"
				   AppTitle="Contoso"
				   Appicon="@(new Icons.Regular.Size32.Person())"
				   Density="@_density">
		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.Board())">Dashboard</FluentNavItem>
		<FluentNavItem Active="true" Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.MegaphoneLoud())">Announcements</FluentNavItem>
		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/">Employee Spotlight</FluentNavItem>
		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.PersonSearch())">Profile Search</FluentNavItem>
		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.PersonMoney())">Performance Reviews</FluentNavItem>

		<FluentNavSectionHeader Title="Employee Management" />

		<FluentNavCategory Title="Job Postings" Icon="@(new Icons.Regular.Size20.NotePin())">

				<FluentNavSubItem>Openings</FluentNavSubItem>
				<FluentNavSubItem>Submissions</FluentNavSubItem>

		</FluentNavCategory>
		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.People())">Interviews</FluentNavItem>

	 	<FluentNavSectionHeader Title="Benefits" />
		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.HeartPulse())">Health Plans</FluentNavItem>

		<FluentNavCategory Title="Retirement" Icon="@(new Icons.Regular.Size20.Person())">

				<FluentNavSubItem>Plan Information</FluentNavSubItem>
				<FluentNavSubItem>Fund Performance</FluentNavSubItem>

		</FluentNavCategory>

		<FluentNavDivider />

		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.BoxMultiple())">Training Programs</FluentNavItem>

		<FluentNavCategory Title="Career Development" Icon="@(new Icons.Regular.Size20.PeopleStar())">

				<FluentNavSubItem>Openings</FluentNavSubItem>
				<FluentNavSubItem>Submissions</FluentNavSubItem>

		</FluentNavCategory>

		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.ArrowTrendingLines())">Workforce Data</FluentNavItem>
		<FluentNavItem Href="https://fluentui-blazor-v5.azurewebsites.net/" Icon="@(new Icons.Regular.Size20.DocumentBulletListMultiple())">Reports</FluentNavItem>
	</FluentNavDrawer>

	<FluentStack Orientation="Orientation.Vertical">
		<FluentRadioGroup @bind-Value="@_density" Label="Density" Wrap="true">
			<FluentRadio Label="Medium" Value="NavDrawerDensity.Medium" />
			<FluentRadio Label="Small" Value="NavDrawerDensity.Small" />
		</FluentRadioGroup>

		<FluentSwitch @bind-Value="@_useLinks" Label="Use Links" />
		<FluentSwitch @bind-Value="@_useMultipleExpanded" Label="Allow multiple expanded categories" />
	</FluentStack>

</FluentStack>

@code
{
	NavDrawerDensity _density;
	bool _useLinks;
	bool _useMultipleExpanded = true;
}
