@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentInputBase<bool>
<fluent-checkbox @ref=Element
                 class="@ClassValue"
                 style="@StyleValue"
                 readonly="@Readonly"
                 id=@Id
                 value=@Value
                 current-value=@CurrentValue
                 disabled=@Disabled
                 name=@Name
                 required="@Required"
                 current-checked="@CurrentValue"
                 @oncheckedchange="@((e) => SetCurrentValue(e.Checked))"
                 @attributes="@AdditionalAttributes">
    @if (!string.IsNullOrEmpty(Label) || !string.IsNullOrEmpty(AriaLabel) || LabelTemplate is not null)
    {
        <span aria-label="@AriaLabel">
            @Label
            @LabelTemplate
        </span>    
    }
    @ChildContent
</fluent-checkbox>
