@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentInputBase<bool>
<fluent-checkbox @ref=Element
                 class="@ClassValue"
                 style="@StyleValue"
                 readonly="@ReadOnly"
                 id=@Id
                 value=@(bool.TrueString)
                 current-value=@CurrentValue
                 disabled=@Disabled
                 name=@Name
                 required="@Required"
                 current-checked="@CurrentValue"
                 @oncheckedchange="@OnCheckedChangeHandlerAsync"
                 @attributes="@AdditionalAttributes">
    @if (!string.IsNullOrEmpty(Label) || !string.IsNullOrEmpty(AriaLabel) || LabelTemplate is not null)
    {
        <span aria-label="@AriaLabel">
            @Label
            @LabelTemplate
        </span>
        if (Required)
        {
            <span aria-label="required" aria-hidden="true" style="color: var(--error);">*</span>
        }
    }
    @ChildContent
</fluent-checkbox>
