@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase
@inject IMessageService MessageService

@if (MessageService != null)
{
    <div @attributes="AdditionalAttributes" class="fluent-messagebar-container @ClassValue" style="@StyleValue">
        @foreach (var message in MessagesToShow)
        {
            <FluentMessageBar Content="@message" Type="@Type" Style="@(Type == MessageType.Notification ? "border-top: 1px solid lightgray;" : "")" />
        }
    </div>
}