@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase

@if (Visible)
{
    <fluent-message-bar id="@Id"
                        class="@ClassValue"
                        style="@StyleValue"
                        intent="@GetIntentString()">

        <FluentIcon Value="@GetIcon()" Slot="@FluentSlot.Icon" />

        @if (!string.IsNullOrEmpty(Title))
        {
            <span class="title">@((MarkupString)Title)</span>
        }

        @if (@ChildContent is not null)
        {
            <span class="content">@ChildContent</span>
        }

        @if (AllowDismiss)
        {
            <FluentButton Appearance="ButtonAppearance.Transparent"
                          IconStart="@(new CoreIcons.Regular.Size20.Dismiss().WithColor("currentColor"))"
                          IconOnly="true"
                          Title="@Localizer[Localization.LanguageResource.MessageBar_Dismiss]"
                          Size="ButtonSize.Small"
                          slot="@FluentSlot.Dismiss"
                          OnClick="DismissClickAsync" />
        }

        @if (ActionsTemplate is not null)
        {
            <span class="actions" slot="actions">@ActionsTemplate</span>
        }

    </fluent-message-bar>
}
