@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase
@inject IMessageBarService MessageService

@if (MessageService != null)
{
    <div @attributes="AdditionalAttributes" class="fluent-messagebar-container @ClassValue" style="@StyleValue">
        @foreach (var message in MessagesShown)
        {
            <FluentMessageBar Content="@message" Format="@Format" Style="@(Format == MessageBarFormat.Notification ? "border-top: 1px solid lightgray;" : "")" />
        }
    </div>
}