@namespace Microsoft.Fast.Components.FluentUI
@inherits FluentComponentBase
@inject IMessageService MessageService

@if (MessageService != null)
{
    <div @attributes="AdditionalAttributes" class="@ClassValue" style="@StyleValue">
        @foreach (var alert in MessagesShown)
        {
            <FluentMessageBar Message="@alert" Format="@Format" Style="@(Format == MessageBarFormat.Notification ? "border-top: 1px solid lightgray;" : "")" />
        }
    </div>
}