@using Microsoft.FluentUI.AspNetCore.Components

<div>
    <FluentCard Shadow="CardShadow.Small" Class="card" OnClick="@CopyToClipboardAsync">
        <div class="image" @ref="ImageElement">
            @if (Icon is not null)
            {
                <FluentIcon Value="@IconsExtensions.GetInstance(Icon)"
                            Color="@IconColor"
                            Title="@Icon.Name" />
            }
            <div class="clipboard-icon" title="Clipboard"></div>
        </div>
        <FluentText Class="name" title="@FullName">
            @Icon?.Name
        </FluentText>
    </FluentCard>
</div>
