@implements IDialogContentComponent

<div>
    <FluentDesignTheme @bind-Mode="@Mode"
                       @bind-OfficeColor="@OfficeColor"
                       StorageName="theme" />

    <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
        <FluentSelect Label="Theme"
                      Items="@AllModes"
                      @bind-SelectedOption="@Mode" />

        <FluentSelect Label="Color"
                      Items="@AllOfficeColors"
                      Height="200px"
                      @bind-SelectedOption="@OfficeColor">
            <OptionTemplate>
                <FluentStack>
                    <FluentIcon Value="@(new Icons.Filled.Size20.RectangleLandscape())"
                                Color="Color.Custom"
                                CustomColor="@context.ToAttributeValue()" />
                    <FluentLabel>@context</FluentLabel>
                </FluentStack>
            </OptionTemplate>
        </FluentSelect>
    </FluentStack>
</div>