@implements IDialogContentComponent

<div>
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="8">
        <div class="colorgroup">
            <label for="color">Color</label><br />
            <FluentSelect Id="color"
                          Items=@(Enum.GetValues<OfficeColor>())
                          OptionValue="@(c => c.ToAttributeValue())"
                          OptionSelected="@(c => c == _selectedColorOption)"
                          TOption="OfficeColor"
                          Position="SelectPosition.Below"
                          @onchange="@(x => HandleColorChange(x))"
                          aria-label="Accent color selector" />
        </div>

        <FluentSwitch @bind-Value="@_inDarkMode" title="Switch theme" AfterBindValue="UpdateTheme">
            <span class="label">Theme</span>
            <span slot="unchecked-message">Light</span>
            <span slot="checked-message">Dark</span>
        </FluentSwitch>
        <FluentSwitch @bind-Value="@_rtl" title="Switch direction" AfterBindValue="UpdateDirection">
            <span>Direction</span>
            <span slot="unchecked-message">LTR</span>
            <span slot="checked-message">RTL</span>
        </FluentSwitch>
        <p style="margin-top:48px;"><i>These settings are not (yet) persisted from one session to another.</i></p>
    </FluentStack>
</div>

