@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentComponentBase
<div class="fluent-paginator" style="@Style">
    @if (State.TotalItemCount.HasValue)
    {
        <div class="summary">
            @if (SummaryTemplate is not null)
            {
                @SummaryTemplate
            }
            else
            {
                <text><strong>@State.TotalItemCount</strong> items</text>
            }
        </div>
        <nav role="navigation" class="paginator-nav">
            <FluentButton OnClick="GoFirstAsync"
                          Disabled="@(!CanGoBack || Disabled)"
                          Title="Go to first page"
                          aria-label="Go to first page"
                          IconStart="@(new CoreIcons.Regular.Size20.ChevronDoubleLeft())" />
            <FluentButton OnClick="GoPreviousAsync"
                          Disabled="@(!CanGoBack || Disabled)"
                          Title="Go to previous page"
                          aria-label="Go to previous page"
                          IconStart="@(new CoreIcons.Regular.Size24.ChevronLeft())" />
            <div class="pagination-text">
                @if (PaginationTextTemplate is not null)
                {
                    @PaginationTextTemplate
                }
                else
                {
                    <text>Page <strong>@(State.CurrentPageIndex + 1)</strong> of <strong>@(State.LastPageIndex + 1)</strong></text>
                }

            </div>
            <FluentButton OnClick="GoNextAsync"
                          Disabled="@(!CanGoForwards || Disabled)"
                          Title="Go to next page"
                          aria-label="Go to next page"
                          IconStart="@(new CoreIcons.Regular.Size24.ChevronRight())" />
            <FluentButton Onclick="GoLastAsync"
                          Disabled="@(!CanGoForwards || Disabled)"
                          Title="Go to last page"
                          aria-label="Go to last page"
                          IconStart="@(new CoreIcons.Regular.Size20.ChevronDoubleRight())" />
        </nav>
    }
</div>
