@namespace Microsoft.FluentUI.AspNetCore.Components
@using System.Globalization
@inherits FluentComponentBase
<div id="@Id"
     class="@ClassValue"
     style="@StyleValue"
     @attributes="@AdditionalAttributes">
    @if (State.TotalItemCount.HasValue)
    {
        <div class="summary">
            @if (SummaryTemplate is not null)
            {
                @SummaryTemplate
            }
            else
            {
                @if (State.TotalItemCount == 0)
                {
                    <strong>@Localizer[Localization.LanguageResource.Paginator_SummaryNoItems]</strong>
                }
                else if (State.TotalItemCount == 1)
                {
                    <strong>@(string.Format(CultureInfo.InvariantCulture, Localizer[Localization.LanguageResource.Paginator_SummaryItem, State.TotalItemCount))</strong>
                }
                else
                {
                    <strong>@(string.Format(CultureInfo.InvariantCulture, Localizer[Localization.LanguageResource.Paginator_SummaryItems, State.TotalItemCount))</strong>
                }
            }
        </div>
        <nav role="navigation" class="paginator-nav">
            <FluentButton OnClick="GoFirstAsync"
                          Disabled="@(!CanGoBack || Disabled)"
                          Title="@Localizer[Localization.LanguageResource.Paginator_GoFirstPage]"
                          aria-label="@Localizer[Localization.LanguageResource.Paginator_GoFirstPage]"
                          IconStart="@(new CoreIcons.Regular.Size20.ChevronDoubleLeft().WithColor(Color.Primary))" />
            <FluentButton OnClick="GoPreviousAsync"
                          Disabled="@(!CanGoBack || Disabled)"
                          Title="@Localizer[Localization.LanguageResource.Paginator_GoPreviousPage]"
                          aria-label="@Localizer[Localization.LanguageResource.Paginator_GoPreviousPage]"
                          IconStart="@(new CoreIcons.Regular.Size20.ChevronLeft().WithColor(Color.Primary))" />
            <div class="pagination-text">
                @if (PaginationTextTemplate is not null)
                {
                    @PaginationTextTemplate
                }
                else
                {
                    @(string.Format(CultureInfo.InvariantCulture, Localizer[Localization.LanguageResource.Paginator_Status], State.CurrentPageIndex + 1, State.LastPageIndex + 1))
                }

            </div>
            <FluentButton OnClick="GoNextAsync"
                          Disabled="@(!CanGoForwards || Disabled)"
                          Title="@Localizer[Localization.LanguageResource.Paginator_GoNextPage]"
                          aria-label="@Localizer[Localization.LanguageResource.Paginator_GoNextPage]"
                          IconStart="@(new CoreIcons.Regular.Size20.ChevronRight().WithColor(Color.Primary))" />
            <FluentButton Onclick="GoLastAsync"
                          Disabled="@(!CanGoForwards || Disabled)"
                          Title="@Localizer[Localization.LanguageResource.Paginator_GoLastPage]"
                          aria-label="@Localizer[Localization.LanguageResource.Paginator_GoLastPage]"
                          IconStart="@(new CoreIcons.Regular.Size20.ChevronDoubleRight().WithColor(Color.Primary))" />
        </nav>
    }
</div>
