@namespace Microsoft.FluentUI.AspNetCore.Components
@inherits FluentInputBase<int>

@if (!ReadOnly && !Disabled)
{
    <FluentKeyCode Anchor="@Id"
                   Only="@FluentRating.KeyCodes"
                   StopPropagation="@true"
                   OnKeyDown="@HandleKeyDownAsync" />
}

@if (!string.IsNullOrEmpty(Label) || LabelTemplate is not null)
{
    <FluentInputLabel ForId="@Id" Label="@Label" AriaLabel="@AriaLabel" Required="@Required">@LabelTemplate</FluentInputLabel>
}

<div Id="@Id"
     class="@ClassValue"
     style="@StyleValue"
     role="radiogroup"
     tabindex="@(Disabled ? -1 : 0)"
     aria-readonly="@(ReadOnly ? "true" : null)"
     @onmouseleave="@OnMouseLeaveAsync">

    @foreach (var index in Enumerable.Range(1, Max))
    {
        @if (ReadOnly || Disabled)
        {
            <FluentIcon Value="@GetIcon(index)"
                        Width="@IconWidth"
                        Color="@(Disabled && IconColor != Color.Custom  ? Color.Disabled :  IconColor)"
                        CustomColor="@IconCustomColor"
                        aria-label="@index" />
        }
        else
        {
            <FluentIcon Value="@GetIcon(index)"
                        Width="@IconWidth"
                        Color="IconColor"
                        CustomColor="@IconCustomColor"
                        OnClick="@(() => OnClickAsync(index))"
                        @onmouseleave="@(() => _updatingCurrentValue = false)"
                        @onmouseenter="@(() => OnMouseEnterAsync(index))"
                        aria-label="@index" />
        }
    }
</div>
