@page "/IssueTester"
@inject DataSource Data

<FluentButton OnClick="@HandleClick">Select first person</FluentButton>
<FluentCombobox Items="@Data.People"
                OptionValue="@(i => i?.PersonId.ToString())"
                OptionText="@(i => $"{i.FirstName} ({i.LastName})" )"
                @bind-SelectedOption=@Person
                @bind-Value="@value">
    <OptionTemplate>
        <FluentIcon Value="@(new Icons.Regular.Size16.Person())" Slot="end" OnClick="@(() => DemoLogger.WriteLine($"Icon for {@context?.LastName} selected"))" />
        @context?.FirstName (@context?.LastName)
    </OptionTemplate>
</FluentCombobox>
<p>
    Selected: @Person?.FirstName (@Person?.LastName)<br/>
    Value: @value
</p>

@code {
    public Person? Person { get; set; } = default!;
    private string? value;

    private void HandleClick()
    {
        Person = Data.People.FirstOrDefault();
    }
}
