@page "/IssueTester"

<EditForm Model="@this">
    <p>Modified: @(context.IsModified())</p>

    <FluentCombobox Items="_items"
                    TOption="string"
                    SelectedOption="@soCombobox1"
                    SelectedOptionChanged="x => HandleCBOptionChanged(x)"
                    Value="@vCombobox1"
                    ValueChanged="x => HandleCBValueChanged(x)" />
    <br />
    <FluentSelect TOption="MyThing"
                  @bind-SelectedOption="@soSelect"
                  Items="@AllThings"
                  OptionText="@(x => x.DisplayText)"
                  Label="Option" />

    <FluentSelect TOption="MyThing"
                  @bind-Value="@vSelect"
                  Items="@AllThings"
                  OptionText="@(x => x.DisplayText)"
                  Label="Value" />

    <FluentListbox TOption="MyThing"
                   @bind-SelectedOption="@soListbox"
                   Items="@AllThings"
                   OptionText="@(x => x.DisplayText)"
                   Label="Option" />

    <FluentListbox TOption="MyThing"
                   @bind-Value="@vListbox"
                   Items="@AllThings"
                   OptionText="@(x => x.DisplayText)"
                   Label="Value" />

    <FluentCombobox Items="@AllThings"
                    TOption="MyThing"
                    OptionText="@(x => x.DisplayText)"
                    @bind-SelectedOption="@soCombobox2"
                    @bind-Value="@vCombobox2"
                    Label="Combobox" />
</EditForm>
<p>
    Combobox 1 value: @vCombobox1 <br />
    Combobox 1 option: @soCombobox1 <br />
    <br />
    Select option: @soSelect <br />
    Select value: @vSelect <br />
    <br />
    Listbox option: @soListbox <br />
    Listbox value: @vListbox <br />
    <br />
    Combobox 2 value: @vCombobox2 <br />
    Combobox 2 option: @soCombobox2 <br />
</p>
@code {
    MyThing? soSelect, soListbox, soCombobox2;
    string? vSelect, vListbox, vCombobox1, vCombobox2, soCombobox1;

    string? someString;
    MyThing[] AllThings = new[] { new MyThing(1, "One"), new MyThing(2, "Two") };

    record MyThing(int Id, string DisplayText);

    private List<string> _items = ["Item 1", "Item 2", "Item 3"];

    private void HandleCBOptionChanged(string? value)
    {
        soCombobox1 = value;
    }

    private void HandleCBValueChanged(string? value)
    {
        vCombobox1 = value;
    }

}
